<div class="simpleHeader">
    <img src="/images/corp/TradeJS-medium.png">
</div>

<div class="container">
    <div class="jumbotron">
        <form class="form-inline" (ngSubmit)="requestPasswordReset($event)" #passwordResetForm="ngForm">
            <div class="form-group">
                <label class="form-control-label" for="email">Email</label>
                <input [(ngModel)]="email" type="email" name="email" class="form-control form-control-success" id="email"
                       placeholder="Enter email address">
            </div>
            <div class="form-group">
                <button class="btn btn-primary pull-right">Submit</button>
            </div>
        </form>
    </div>
</div>