<header #header>
    <div class="profile-details" style="background: url(./assets/image/cover.svg) center/cover;">
        <img class="profileImg" [attr.src]="user.options.img ? (user.options.img | NormalizeImgUrl) : undefined">
        <div class="meta-data">
            <h3>{{user.options.name || '&nbsp;'}}</h3>
            
            
            <div class="profile-details-meta-container">
                <button *ngIf="!isSelf && !user.options.iFollow" (click)="toggleFollow(user, true)" class="btn btn-sm btn-success ">Follow</button>
                <button *ngIf="!isSelf && user.options.iFollow" (click)="toggleFollow(user, false)" class="btn btn-sm btn-danger ">UnFollow</button>
            </div>
        </div>
    </div>
    <!-- <nav class="nav">
        <a [routerLink]="['/user/', user.options._id, 'feed']" [routerLinkActive]="['active']">
            <i class="fa fa-comments-o"></i>
            <span class="hidden-md-down">Feed</span>
        </a>
        <a [routerLink]="['/user/', user.options._id, 'statistics']" [routerLinkActive]="['active']">
            <i class="fa fa-bar-chart"></i>
            <span class="hidden-md-down">Stats</span>
        </a>
        <a [routerLink]="['/user/', user.options._id, 'chart']" [routerLinkActive]="['active']">
            <i class="fa fa-area-chart"></i>
            <span class="hidden-md-down">Chart</span>
        </a>
    </nav> -->
</header>
<app-social-feed [scrollHandle]="elementRef.nativeElement"></app-social-feed>