<!-- <ng-container *ngIf="user$ | async as user"> -->
    <ng-container *ngIf="user.options$ | async as options">
        <header>
            <div class="profile-details" style="background: url(./assets/image/cover.svg) center/cover;">
                <img class="profileImg" [attr.src]="options.img ? options.img : undefined">
                <div class="meta-data">
                    <h2>{{options.name}}</h2>
                    <div class="profile-details-meta-container">
                        <div *ngIf="options.name && !isSelf">
                            <button *ngIf="!options.iFollow" (click)="userService.toggleFollow(user$.getValue(), true)" class="btn btn-sm btn-success ">Follow
                            </button>
                            <button *ngIf="options.iFollow" (click)="userService.toggleFollow(user$.getValue(), false)" class="btn btn-sm btn-danger ">UnFollow
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="nav">
                <a [routerLink]="['/user/', userId, 'feed']" [routerLinkActive]="['active']">
                    <i class="fa fa-comments-o"></i>
                    <span class="hidden-md-down">Feed</span>
                </a>
                <a [routerLink]="['/user/', userId, 'statistics']" [routerLinkActive]="['active']">
                    <i class="fa fa-bar-chart"></i>
                    <span class="hidden-md-down">Stats</span>
                </a>
                <a [routerLink]="['/user/', userId, 'chart']" [routerLinkActive]="['active']">
                    <i class="fa fa-area-chart"></i>
                    <span class="hidden-md-down">Chart</span>
                </a>
            </nav>
        </header>
        <!--<app-social-feed *ngIf="router.url.includes('/feed')" [model]="user"></app-social-feed>-->
        <router-outlet></router-outlet>
    </ng-container>
<!-- </ng-container> -->