@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_input-group';
@import '~bootstrap/scss/_forms';
@import '~bootstrap/scss/_custom-forms';
@import '~bootstrap/scss/_grid';
@import '~bootstrap/scss/_buttons';
//@import '~bootstrap/scss/_dropdown';
@import '../../style/variables/variables';
@import '../../style/bootstrap-overwrite';

:host {
    contain: layout;
}

label {
    width: 100%;
    color: white;
    margin-bottom: 10px !important;
    font-size: 12px;
}

form {
    display: flex;
}

.form-control.ng-invalid {
    border: 1px solid #ff0202;
    box-shadow: 0 0 20px 5px red;
}

//.input-group {
//    min-width: 100px !important;
//
//    select,
//    .custom-select {
//        height: 26px;
//        min-width: 100px;
//    }
//}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}



.dropdown {
    position: relative;

    input {
        width: 100px !important;
    }

    .input-group-addon {
        background: black;
        border-radius: 0;
        padding: 4px;

        .fa-search {
                color: $font-color-light;
        }

        input {
            border-radius: 0;
            width: 100px;
        }
    }

    .dropdown-toggle {
        line-height: 23px;
    }

    &.dropdown-inline {
        display: block !important;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        overflow-x: hidden;
    }

    ul {
        background-color: #6b6b6b;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a {
                color: $font-color-light;
                text-decoration: none;
                display: block;
                width: 100%;
                padding: 4px 6px;
            }
        }
    }

    .search {
        margin: 0;
    }

    .input-group {
        margin: 0;
    }
}

:host /deep/ .multiselect-native-select .btn-group {
    width: 100%;
}

* /deep/ .multiselect-native-select button {
    border: 1px solid #c3bebe;
    width: 100%;
}

