@import '../../../node_modules/bootstrap/scss/_variables';
@import '../../../node_modules/bootstrap/scss/_mixins';
@import '../../../node_modules/bootstrap/scss/_forms';
@import '../../../node_modules/bootstrap/scss/_custom-forms';
@import '../../../node_modules/bootstrap/scss/_grid';
@import '../../../node_modules/bootstrap/scss/_dropdown';
@import '../../style/variables/variables';
@import '../../style/components/key-value-list';
@import '../../style/bootstrap-overwrite';

#editor {
    position: absolute;
    top: 0;
    right: 200px;
    bottom: 0;
    left: 200px;
    border: 1px solid #c3c3c3;
}

:host /deep/ ss-multiselect-dropdown .btn {
    padding: 1px !important;
}

label {
    width: 100%;
    color: white;
    margin-bottom: 10px !important;
    font-size: 12px;
}

.form-control.ng-invalid {
    border: 1px solid #ff0202;
    box-shadow: 0 0 20px 5px red;
}

.input-group {
    min-width: 100px !important;

    select,
    .custom-select {
        height: 26px;
        min-width: 100px;
    }
}

/** >>> .multiselect-native-select .btn-group {*/
    /*width: 100%;*/
/*}*/

/** >>> .multiselect-native-select button {*/
    /*border: 1px solid #c3bebe;*/
    /*width: 100%;*/
/*}*/

