<!-- <section>
    <header>
        <h1>Top stories</h1>
    </header>
    <article *ngFor="let item of top$ | async" (click)="onClickItem($event, item.url)">
        <header>
            <h4>{{item.title}}</h4>
        </header>
        <main>
            <p>{{item.description}}</p>
        </main>
        <footer></footer>
    </article>
</section> -->

<section>
    <header>
        <h1>Crypto</h1>
    </header>
    <article *ngFor="let item of crypto$ | async" (click)="onClickItem($event, item.url)">
        <header>
            <h4>{{item.title}}</h4>
        </header>
        <main>
            <p>{{item.description}}</p>
        </main>
        <footer></footer>
    </article>
</section>