<nav class="nav-main">
    <a [routerLink]="['/user/', accountService.account$.getValue()._id]" [routerLinkActive]="['active']" class="profile" style="padding-top: 0">
        <h6 class="version">
            <i>{{version}}</i>
        </h6>
        <img alt="profile-image" class="logo" width="70" height="70" [attr.src]="(accountService.account$ | async).img | NormalizeImgUrl">
        <h4>{{(accountService.account$ | async).name}}</h4>
    </a>
    <a [routerLink]="['/timeline']" [routerLinkActive]="['active']">
        <i class="fa fa-calendar"></i>
        <span>Timeline</span>
    </a>
    <a [routerLink]="['/user']" [routerLinkActive]="['active']">
        <i class="fa fa-users"></i>
        <span>Users</span>
    </a>
    <a [routerLink]="['/symbols']" [routerLinkActive]="['active']">
        <i class="fa fa-bar-chart"></i>
        <span>Stocks</span>
    </a>
    <a [routerLink]="['/settings']" [routerLinkActive]="['active']">
        <i class="fa fa-gears"></i>
        <span>Settings</span>
    </a>
    <a *ngIf="accountService.account$.getValue()._id" (click)="authenticationService.logout()">
        <i class="fa fa-sign-out"></i>
        <span>Logout</span>
    </a>
    <a *ngIf="!accountService.account$.getValue()._id" (click)="authenticationService.showLoginRegisterPopup()">
        <i class="fa fa-sign-out"></i>
        <span>Login</span>
    </a>

    <!-- navigation -->
    <!-- <div *ngIf="!platform.isApp && platform.adsEnabled" style="width:220px; height: 300px; margin: 0 auto; border: 1px solid #5d5c5c;">
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1181429338292864" data-ad-slot="1307246775" data-ad-format="auto"></ins>
        </div> -->
</nav>