<div class="simpleHeader">
	<img src="/images/corp/TradeJS-medium.png">
</div>

<div class="container">
	<div class="jumbotron">
		<form class="form-inline" (ngSubmit)="resetPassword($event)" #passwordResetForm="ngForm">
			<div class="form-group">
				<label class="form-control-label" for="password">Password</label>
				<input [(ngModel)]="model.password" type="password" name="password" class="form-control form-control-success"
					   id="password"
					   placeholder="Enter new password">
			</div>
			<div class="form-group">
				<label class="form-control-label" for="passwordConf">Password confirmation</label>
				<input [(ngModel)]="model.passwordConf" type="password" name="passwordConf"
					   class="form-control form-control-success" id="passwordConf"
					   placeholder="Enter new password">
			</div>
			<div class="form-group">
				<button class="btn btn-primary pull-right">Submit</button>
			</div>
		</form>
	</div>
</div>