### global
**/Dockerfile
**/node_modules
**/dist
**/_log
**/npm-debug.log
**/.git
**/.gitignore
**/.idea
**/.vscode
**/.DS_Store
**/*.map
**/*.md
**/*.js
**/*.yml
**/*.txt
**/*.log
**/*.tmp

!**/shared/modules/coinpush/**/*.js
!**/_config/**/*.js

### redis
**/dump.rdb