### global
**/_logs/
**/.git
**/.gitignore
**/.idea
**/.vscode
**/.DS_Store
**/node_modules/
**/*/node_modules/
**/*.map
**/*.md
# **/*.js
**/*.yml
**/*.txt
**/*.tmp
**/npm-debug.log

### root
/_data
!coinpush.config.js
!coinpush.config.custom.js

### shared
!shared/modules/coinpush/**/*.js

# mobile app
client-app/.gradle
client-app/hooks/
# client-app/platforms/
# client-app/plugins/
client-app/res/
client-app/scripts/

### cache
cache/dump.rdb