# IDEs
.idea

# misc
npm-debug.*
node_modules
testem.log
/dist
package-lock.json

#System Files
.DS_Store
Thumbs.db

#### App ####
/_logs
/_builds
!/_builds/ea/example/*
!/_builds/indicator/example/*
/_cache
/_config
/custom/*
!/custom/tsconfig.json
!/custom/ea/example/*
!/custom/indicator/example/*

# Client
/client/dist/
/client/chart/build
/client/chart/cmake-build-debug
/client/chart/extern

# Server
/server/config/tradejs.config.json
/server/**/*.js
!/server/gulpfile.js
!/server/copy-sql3-binary.js
/server/**/*.map
/server/server.txt

# Shared
/shared/dist
/shared/**/*.js
/shared/**/*.map

