@import '../../../node_modules/bootstrap/scss/_variables';
@import '../../../node_modules/bootstrap/scss/_mixins';
@import '../../../node_modules/bootstrap/scss/_buttons';
@import '../../../node_modules/bootstrap/scss/utilities/_clearfix';
@import '../../style/helpers/normalize';
@import '../../style/variables/variables';

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $input-color-text;
}

:host {
    display: flex;
    height: 100%;
}

.nav-main {
    background: $background-light;
    overflow-y: auto;
    width: 300px;

    a {
        padding: 15px 10px 15px 30px;
        font-size: 18px;
        box-sizing: border-box;
        display: block;

        i {
            padding-right: 20px;
            width: 20px;
        }

        &:hover {
            background: $background-light2;
        }

        &.active {
            background: $background-light2;
        }
    }

    .profile {
        padding-top: 40px;

        h4 {
            margin-top: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.main-container {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.nav-search {
    width: 100%;
    text-align: center;
    background: $background-light;
    position: relative;

    input {
        margin: 6px;
        padding: 4px;
        line-height: 14px;
        width: 300px;
        border-radius: 2px;
        font-size: 14px;
        background-color: $input-color-glyphicon-background;
        border: 1px solid black;
        color: $input-color-text;
        text-align: center;
        box-sizing: border-box;
    }

    .search-drop-down {
        position: absolute;
        z-index: 122;
        top: 40px;
        left: calc(50% - 149px);
        width: 298px;
        background: $background-light;
        box-sizing: border-box;

        &.hidden {
            display: none;
        }

        a {
            padding: 10px;
            border-bottom: $border-color-grey;
            color: $font-color-light;
            text-align: left;
            cursor: pointer;
            display: flex;

            &:hover {
                background: $background-light2
            }

            span {
                line-height: 30px;
            }

            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }
    }
}