<nav class="nav-main">
    <a class="profile">
        <img class="logo" width="70" height="70" src="{{userService.model.options.profileImg}}">
        <h4>{{userService.model.options.username}}</h4>
    </a>

    <a [routerLink]="['/main/channels']" [routerLinkActive]="['active']">
        <i class="fa fa-upload"></i>
        <span>Watchlist</span>
    </a>
    <a [routerLink]="['/main/portfolio']" [routerLinkActive]="['active']">
        <i class="fa fa-tasks"></i>
        <span>Portfolio</span>
    </a>
    <a [routerLink]="['/main/news']" [routerLinkActive]="['active']">
        <i class="fa fa-newspaper-o"></i>
        <span>News feed</span>
    </a>
    <a [routerLink]="['/main/user']" [routerLinkActive]="['active']">
        <i class="fa fa-users"></i>
        <span>Users</span>
    </a>
    <a [routerLink]="['/main/charts']" [routerLinkActive]="['active']">
        <i class="fa fa-bar-chart"></i>
        <span>Charts</span>
    </a>
    <a [routerLink]="['/main/backtest']" [routerLinkActive]="['active']">
        <i class="fa fa-flash"></i>
        <span>Backtest</span>
    </a>
    <a [routerLink]="['/main/editor']" [routerLinkActive]="['active']">
        <i class="fa fa-code"></i>
        <span>Editor</span>
    </a>
    <a [routerLink]="['/main/settings']" [routerLinkActive]="['active']">
        <i class="fa fa-gears"></i>
        <span>Settings</span>
    </a>
    <a (click)="logout()">
        <i class="fa fa-sign-out"></i>
        <span>Logout</span>
    </a>
</nav>

<main class="main-container">
    <nav class="nav-search">
        <input (keyup)="onSearchKeyUp($event)" placeholder="Markets / Channels / People" #input>
        <div class="search-drop-down" *ngIf="(searchResults$ | async) as result" (click)="onClickDropdownItem()" #dropdown>
            <a *ngFor="let symbol of result.symbols">
                <img src="/images/default/symbol/spx500-70x70.png">
                <span>{{symbol.name}}</span>
            </a>
            <a *ngFor="let user of result.users" [routerLink]="['/main/user/profile/' + user._id]">
                <img src="{{user.profileImg}}">
                <span>{{user.username}}</span>
            </a>
        </div>
    </nav>
    <router-outlet></router-outlet>
</main>
