<div class="instrument-list-outer">
    <div class="filter-list" #filter>
        <h4>Popular</h4>
        <a [ngClass]="{active: activeFilter === 'all'}" (click)="toggleActiveFilter('all')">All</a>
        <a [ngClass]="{active: activeFilter === 'all popular'}" (click)="toggleActiveFilter('all popular')">All popular
            <sup>(not implement)</sup>
        </a>
        <a [ngClass]="{active: activeFilter === 'all open'}" (click)="toggleActiveFilter('all open')">All open</a>
        <a [ngClass]="{active: activeFilter === 'rise and fall'}" (click)="toggleActiveFilter('rise and fall')">Risers and fallers
            <sup>(not implement)</sup>
        </a>
        <a [ngClass]="{active: activeFilter === 'favorite'}" (click)="toggleActiveFilter('favorite')">My favorites</a>
        <h4>Resources</h4>
        <a [ngClass]="{active: activeFilter === 'resources'}" (click)="toggleActiveFilter('resources')">All resources</a>
        <a [ngClass]="{active: activeFilter === 'resources popular'}" (click)="toggleActiveFilter('resources popular')">Popular resources
            <sup>(not implement)</sup>
        </a>
        <h4>Indices</h4>
        <a [ngClass]="{active: activeFilter === 'all2'}" (click)="toggleActiveFilter('all2')">All indices
            <sup>(not implement)</sup>
        </a>
        <a [ngClass]="{active: activeFilter === 'all2'}" (click)="toggleActiveFilter('all2')">Popular indices
            <sup>(not implement)</sup>
        </a>
        <h4>Crypto</h4>
        <a [ngClass]="{active: activeFilter === 'crypto all'}" (click)="toggleActiveFilter('crypto all')">All crypto</a>
        <a [ngClass]="{active: activeFilter === 'crypto popular'}" (click)="toggleActiveFilter('crypto popular')">Popular crypto
            <sup>(not implement)</sup>
        </a>
        <h4>Forex</h4>
        <a [ngClass]="{active: activeFilter === 'forex'}" (click)="toggleActiveFilter('forex')">All forex</a>
        <a [ngClass]="{active: activeFilter === 'forex popular'}" (click)="toggleActiveFilter('forex popular')">Popular forex
            <sup>(not implement)</sup>
        </a>
    </div>

    <ul class="instrument-list">
        <li class="table-header">
            <div class="col-bookmark"></div>
            <div class="col-1">
                <div class="col-instrument">Instrument</div>
                <div class="col-price hidden-sm-down">Price</div>
            </div>
            <div class="col-2">
                <div class="col-changes">1h / 24h</div>
                <div class="col-hl hidden-sm-down">H/L</div>
            </div>
            <div class="col-alert"></div>
        </li>
        <li *ngFor="let symbol of symbols; trackBy:trackByFunc" [ngClass]="{'active': activeSymbol === symbol}" (click)="setActiveSymbol($event, symbol)">
            <div class="col-bookmark">
                <i (click)="onClickToggleFavorite($event, symbol);" [ngClass]="{'active-icon': symbol.options.iFavorite}" class="fa fa-star"></i>
            </div>
            <div class="col-1">
                <div class="col-instrument">
                    <img src="{{symbol.options.img}}" class="instrument-image" />
                    <span class="instrument-title">{{symbol.options.displayName}}</span>
                </div>
                <div class="col-price">
                    <span>{{symbol.options.bid || 0}}</span>
                </div>
            </div>
            <div class="col-2">
                <div class="col-changes">
                    <div class="col-1h">
                        <span [ngClass]="{'text-positive': symbol.options.changedHAmount > 0, 'text-negative': symbol.options.changedHAmount < 0}"
                              class="changed-amount">
                            {{symbol.options.changedHAmount | number : '1.2-2'}}%
                        </span>
                    </div>
                    <div class="col-24h">
                        <span [ngClass]="{'text-positive': symbol.options.changedDAmount > 0, 'text-negative': symbol.options.changedDAmount < 0}"
                              class="changed-amount">
                            {{symbol.options.changedDAmount | number : '1.2-2'}}%
                        </span>
                    </div>
                </div>
                <div class="col-hl">
                    <div *ngIf="symbol.options.halted">
                        <span>Market closed</span>
                    </div>
                    <div *ngIf="!symbol.options.halted">
                        <span class="value-bid">
                            {{symbol.options.high | number : '1.2-2'}}
                            <span class="fa fa-exchange"></span>
                            {{symbol.options.low | number : '1.2-2'}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-alert">
                <i (click)="onClickAlarm($event)" class="fa fa-bell"></i>
            </div>
        </li>
    </ul>

    <div class="side-menu" [ngClass]="{'open': activeMenu !== null}">
        <header>
            <i class="fa fa-bell"></i>
            <h5>{{activeSymbol?.options.displayName}}</h5>
            <i (click)="activeMenu = null" class="fa fa-close"></i>
        </header>
        <main>
            <ul class="side-menu-top-nav">
                <li [ngClass]="{active: activeAlarmMenu === 'new'}" (click)="activeAlarmMenu = 'new'">New</li>
                <li [ngClass]="{active: activeAlarmMenu === 'active'}" (click)="activeAlarmMenu = 'active'">Active</li>
                <li [ngClass]="{active: activeAlarmMenu === 'history'}" (click)="activeAlarmMenu = 'history'">History</li>
            </ul>
            <ng-container *ngIf="activeAlarmMenu === 'new'">
                <form class="form" (ngSubmit)="onCreateFormSubmit(alarmForm)" #alarmForm="ngForm">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="alarmType" id="alarmType1" value="1" [(ngModel)]="formModel.alarmType">price
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="amount">Amount
                            <sup>(at least 1% difference)</sup>
                        </label>
                        <div class="input-group" style="display: flex;">
                            <span class="input-group-btn">
                                <button (click)="onClickSideMenuNumberInput(-1, sideMenuNumberInput)" type="button" class="btn btn-danger btn-number" data-type="minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </span>
                            <input type="text" [(ngModel)]="formModel.amount" name="amount" class="form-control input-number" #sideMenuNumberInput>
                            <span class="input-group-btn">
                                <button (click)="onClickSideMenuNumberInput(1, sideMenuNumberInput)" type="button" class="btn btn-success btn-number" data-type="plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="muted">Diff: {{(((sideMenuNumberInput.value / activeSymbol.options.bid) * 100) - 100).toFixed(2)}}%</span>
                        <p>Current price: {{activeSymbol.options.bid}}</p>
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="alarmName">Name</label>
                        <input class="form-control form-input" type="text" name="name" id="alarmName" [(ngModel)]="formModel.name" placeholder="name">
                    </div>

                    <div class="col-sm-12 col-lg-4">
                        <button class="btn btn-primary pull-right">Set alarm</button>
                    </div>
                </form>
            </ng-container>
            <div *ngIf="activeAlarmMenu === 'active'" class="active-alarm-view" style="padding-top: 10px;">
                <div class="alarm-row" *ngFor="let event of this.activeEvents$ | async">
                    <span>{{event.alarm.dir === 1 ? 'U' : 'D'}}</span>
                    <span>{{event.alarm.price}}</span>
                    <i (click)="eventService.remove(event._id)" class="fa fa-close" style="float: right"></i>
                    <i class="fa fa-pencil" style="float: right"></i>
                </div>
            </div>
            <div *ngIf="activeAlarmMenu === 'history'" style="padding-top: 10px;">
                <div class="alarm-row" *ngFor="let event of this.historyEvents$ | async">
                    <span>{{event.alarm.dir === 1 ? 'U' : 'D'}}</span>
                    <span>{{event.alarm.price}}</span>
                    <span>{{event.triggeredDate | date: 'dd/MM/yyyy HH:MM:SS'}}</span>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="chart-container">
    <chart-box #chart [symbolModel]="activeSymbol" [showBox]="false" [quickBuy]="false">
    </chart-box>
</div>