@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/utilities/_display';

@import '../../style/variables/variables';
@import '../../style/helpers/normalize';
@import '../../style/sprite/spritesheet.css';

:host {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    
    @media only screen and (min-width : 992px) { 
        border-left: none;
    }
}

.active {
    background: $general-active;
}

.hidden {
    display: none;
}

.instrument-list-outer {
    height: 100%;
    width: 100%;
    background: $background-light;
	font-size: 12px;
    position: relative;
    
    &.split {
        height: 42%;
    }
    
    @media only screen and (min-width : 992px) { 
        display: flex;
    }
}

.instrument-list {
    width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.7) inset;
    
    > a {
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row wrap;
        flex-shrink: 0;
        border-bottom: 1px solid $border-color-grey;
    }

    .instrument-image {
        float: left;
        margin-right: 6px;
    }

    .instrument-title,
    .col-1h {
        line-height: 13px;
        padding-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .col-bookmark,
    .col-alert {
        flex: 0 8%;
    }

    .col-instrument {
        flex: 0 47%;
        padding: 10px 0;
    }

    .col-changes {
        flex: 0 37%;
        padding: 10px 0;
    }

    .fa-star,
    .fa-bell {
        color: #666;
        font-size: 22px;
        // width: 10%;
        text-align: center;
        line-height: 50px;
        
        &.active-icon {
			color: #fff;
		}
    }

    @media only screen and (min-width : 768px) {
        .instrument-image {
            margin-right: 10px;
        }

        .col-bookmark,
        .col-alert {
            flex: 0 10%;
        }

        .col-changes {
            flex: 0 30%;
        }

        .col-instrument {
            flex: 0 50%;
        }
	}
}

.table-header {
	font-size: 14px;
	background: $background-th;
	color: white;
	padding: 5px 0;
    height: auto !important;

    h4 {
        margin: 0;
        padding: 2px !important;
    }

	> div {
        padding: 0 !important;
	}

	.col-2 {
		padding-left: 18px;
	}
}

.fa-exchange {
	font-size: 10px;
	transform: rotate(90deg);
}

// TODO - Move to general font file
.font-color-up,
.text-positive {
	color: #38cc38;
}
.font-color-down,
.text-negative {
	color: #f92929;
}

.filter-list {
	background: $background-light;
	overflow: auto;
	padding: 6px 6px 6px 10px;

    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &.show {
        display: block;
    }

    h2 {
        padding-bottom: 4px;
    }

	a {
		padding: 10px 20px;
		display: block;
        font-size: 14px;
        
		&:hover,
		&.active {
			background: $general-active;
		}
    }
    
    @media only screen and (min-width : 992px) {
        position: static;
        min-width: 200px;
        max-width: 200px;
        display: block;
        z-index: auto;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5) inset;

        a {
            padding: 4px 20px;
        }
	}
}

app-chart-box {
    height: 58%;
    // height: 100%;
    width: 100%;
    background: $background-dark;
    display: flex;
    flex-flow: column;
    // border-top: 1px solid $border-color-grey;
}