@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_forms';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/utilities/_display';

@import '../../style/variables/variables';
@import '../../style/helpers/normalize';
@import '../../style/components/dropdown';

@import '../../../assets/sprite/spritesheet.css';

:host {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.active {
    background: $general-active;
}

.instrument-list-outer {
    height: 50%;
    width: 100%;
    background: $background-light;
	font-size: 12px;
    position: relative;
    
    @media only screen and (min-width : 992px) { 
        display: flex;
    }

    ul {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        width: 100%;

        li {
            border-bottom: 1px solid $border-color-grey;
            cursor: pointer;
	        padding: 6px 0;
	        line-height: 18px;

            &.active {
                background: $border-color-grey;
            }

            @media only screen and (min-width : 992px) {
                &:hover {
                    background: $border-color-grey;
                }
            }

            > div {
                display: inline-table;
            }
        }
    }
}

.instrument-list {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.table-header {
	font-size: 14px;
	background: $background-th;
	color: white;
	justify-content: space-between;
	display: flex;
	padding: 6px 0;
	flex-shrink: 0;

	> div {
		align-items: left;
	}

	.col-2 {
		padding-left: 18px;
	}
}
.col-alert,
.col-bookmark {
	width: 10%;
	font-size: 22px;
	text-align: center;

	.fa {
		opacity: .2;

		&.active-icon {
			opacity: .9;
		}

		&::before {
			display: inline-block;
			transform: translateY(50%);
		}
	}
}

@media screen and (min-width: 720px) {
	.col-hl,
	.col-changes,
	.col-price,
	.col-instrument {
		display: inline-block;
	}

	.col-instrument {
		width: 40%;
	}
	.col-price {
		width: 20%;
	}
	.col-changes {
		width: 50%;
	}
	.col-hl {
		width: 50%;
	}

	.table-header .col-2 {
		padding-left: 0;
	}

	.instrument-list .fa::before {
		transform: none;
	}
}

.col-1 {
	width: 40%;
}
.col-2 {
	width: 40%;
}
.col-price {
	width: 20%;
}
.col-1h,
.col-24h {
	//width: 13%;
	display: inline-block;
	text-align: right;
}

.col-1h span {
	padding-right: 10px;
}

.col-hl {
	//width: 100%;
	//padding-left: 10%;
}

.instrument-image {
	width: 16px;
	height: 16px;
	float: left;
	margin-top: -2px;
	margin-right: 6px;
}

.instrument-title {
	font-weight: bold;
	letter-spacing: -.25px;
}

.value-bid {
	color: $input-color-text;
}

.fa-exchange {
	font-size: 10px;
	transform: rotate(90deg);
}

.side-menu {
    display: none;

    &.open {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: black;
    }

    @media only screen and (min-width : 992px) { 
        &.open {
            position: static;
            min-width: 400px;
            width: 400px;
        }
    }

    header {
        padding: 4px 10px;
        display: flex;
        
        i {
            font-size: 20px;
        }

        .fa-close {
            margin-left: auto;
            cursor: pointer;
        }

        .fa-bell {
            font-size: 16px;
            margin-top: 2px;
            margin-right: 10px;
        }

        h5 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    main > form {
        padding: 6px;
    }

    .side-menu-top-nav {
        display: flex;

        li {
            padding: 4px 4px;
            width: 100%;
            cursor: pointer;
        }
    }

    .btn-number {
        border-radius: 0;
        border: none;
    }

    .form-control {
        padding: 4px 8px;
        border-radius: 0;
        border: none;
    }

    .alarm-row {
        padding: 4px;
        border-bottom: 1px solid white;

        > * {
            padding-right: 10px;
        }

        .fa {
            margin: 0 10px;
            cursor: pointer;
            padding-right: 0;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

// TODO - Move to general font file
.font-color-up,
.text-positive {
	color: #38cc38;
}
.font-color-down,
.text-negative {
	color: #f92929;
}

.filter-list {
	background: black;
	overflow: auto;
	padding: 6px;

    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &.show {
        display: block;
    }

	a {
		padding: 10px 20px;
		display: block;

		&:hover,
		&.active {
			background: $general-active;
		}
    }
    
    @media only screen and (min-width : 992px) {
        position: static;
        min-width: 200px;
        max-width: 200px;
        display: block;

        a {
            padding: 0 20px;
        }
	}
}

button.btn-sm {
	padding: 0;
	background: $background-light;
	width: 150px;
	border-radius: 4px;
	border: 1px solid grey;
	display: flex;
	
	&.positive {
		animation: fade-positive 2s ease;

		span {
			color: $general-success;
		}
	}

	&.negative {
		animation: fade-negative 2s ease;

		span {
			color: $general-error;
		}
	}

	span:first-child {
		color: $font-color-light;
		padding: 5px 10px;
		font-size: 12px;
		text-align: center;
		border-radius: 4px 0 0 4px;
	}

	span:nth-child(2) {
		background: #f8f8f8;
		color: $font-color-dark;
		padding: 5px;
		display: block;
		width: 100%;
		text-align: right;
		border-radius: 0 4px 4px 0;
		font-size: 12px;
	}
}

.chart-container {
    height: 50%;
    background: black;
}