@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_forms';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/utilities/_display';

@import '../../style/variables/variables';
@import '../../style/helpers/normalize';
@import '../../style/sprite/spritesheet.css';

:host {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.active {
    background: $general-active;
}

.instrument-list-outer {
    height: 50%;
    width: 100%;
    background: $background-light;
	font-size: 12px;
    position: relative;
    
    @media only screen and (min-width : 992px) { 
        display: flex;
    }

    ul {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        width: 100%;

        li {
            border-bottom: 1px solid $border-color-grey;
            cursor: pointer;
	        padding: 6px 0;
	        line-height: 18px;

            &.active {
                background: $border-color-grey;
            }

            @media only screen and (min-width : 992px) {
                &:hover {
                    background: $border-color-grey;
                }
            }

            > div {
                display: inline-table;
            }
        }
    }
}

.instrument-list {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.table-header {
	font-size: 14px;
	background: $background-th;
	color: white;
	justify-content: space-between;
	display: flex;
	padding: 6px 0;
	flex-shrink: 0;

	> div {
		align-items: left;
	}

	.col-2 {
		padding-left: 18px;
	}
}
.col-alert,
.col-bookmark {
	width: 10%;
	font-size: 22px;
	text-align: center;

	.fa {
		opacity: .2;

		&.active-icon {
			opacity: .9;
		}

		&::before {
			display: inline-block;
			transform: translateY(50%);
		}
	}
}

@media screen and (min-width: 720px) {
	.col-hl,
	.col-changes,
	.col-price,
	.col-instrument {
		display: inline-block;
	}

	.col-instrument {
		width: 40%;
	}
	.col-price {
		width: 20%;
	}
	.col-changes {
		width: 50%;
	}
	.col-hl {
		width: 50%;
	}

	.table-header .col-2 {
		padding-left: 0;
	}

	.instrument-list .fa::before {
		transform: none;
	}
}

.col-1 {
	width: 40%;
}
.col-2 {
	width: 40%;
}
.col-price {
	width: 20%;
}
.col-1h,
.col-24h {
	//width: 13%;
	display: inline-block;
	text-align: right;
}

.col-1h span {
	padding-right: 10px;
}

.col-hl {
	//width: 100%;
	//padding-left: 10%;
}

.instrument-image {
	width: 16px;
	height: 16px;
	float: left;
	margin-top: -2px;
	margin-right: 6px;
}

.instrument-title {
	font-weight: bold;
	letter-spacing: -.25px;
}

.value-bid {
	color: $input-color-text;
}

.fa-exchange {
	font-size: 10px;
	transform: rotate(90deg);
}

// TODO - Move to general font file
.font-color-up,
.text-positive {
	color: #38cc38;
}
.font-color-down,
.text-negative {
	color: #f92929;
}

.filter-list {
	background: black;
	overflow: auto;
	padding: 6px;

    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &.show {
        display: block;
    }

	a {
		padding: 10px 20px;
		display: block;

		&:hover,
		&.active {
			background: $general-active;
		}
    }
    
    @media only screen and (min-width : 992px) {
        position: static;
        min-width: 200px;
        max-width: 200px;
        display: block;

        a {
            padding: 0 20px;
        }
	}
}

app-9chart-box {
    height: 50%;
}