@import '../../style/variables/variables';
@import '../../style/helpers/normalize';

.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: none;
}

.widget-area {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    width: 500px;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    border-radius: 4px;
    float: left;
    width: 100%;
}

.status-upload form {
    float: left;
    width: 100%;
}

.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid #F2F2F2;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}

.status-upload ul > li {
    float: left;
}

.status-upload ul > li > a {
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}

.status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}

.status-upload form button {
    border: medium none;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}

.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}

.status-upload form button > i {
    margin-right: 7px;
}

.box-container {
    padding: 20px;
    border: 1px solid $border-color-light;
    width: 250px;
}