<div class="filter-list">
	<h4>Popular</h4>
	<a [ngClass]="{active: activeFilter === 'all'}" (click)="toggleFilter('all')">All</a>
	<a [ngClass]="{active: activeFilter === 'all popular'}" (click)="toggleFilter('all popular')">All popular</a>
	<a [ngClass]="{active: activeFilter === 'rise and fall'}" (click)="toggleFilter('rise and fall')">Risers and fallers</a>
	<a [ngClass]="{active: activeFilter === 'fav'}" (click)="toggleFilter('fav')">My favorites</a>
	<h4>Resources</h4>
	<a [ngClass]="{active: activeFilter === 'resources'}" (click)="toggleFilter('resources')">All resources</a>
	<a [ngClass]="{active: activeFilter === 'resources pop'}" (click)="toggleFilter('resources pop')">Popular resources</a>
	<h4>Indices</h4>
	<a [ngClass]="{active: activeFilter === 'all2'}" (click)="toggleFilter('all2')">All indices</a>
	<a [ngClass]="{active: activeFilter === 'all2'}" (click)="toggleFilter('all2')">Popular indices</a>
	<h4>Crypto</h4>
	<a [ngClass]="{active: activeFilter === 'all2'}" (click)="toggleFilter('all2')">All crypto</a>
	<a [ngClass]="{active: activeFilter === 'all2'}" (click)="toggleFilter('all2')">Popular crypto</a>
	<h4>Forex</h4>
	<a [ngClass]="{active: activeFilter === 'forex'}" (click)="toggleFilter('forex')">All forex</a>
	<a [ngClass]="{active: activeFilter === 'forex pop'}" (click)="toggleFilter('forex pop')">Popular forex</a>
</div>

<div class="instrument-list">
	<div>
		<table class="table-header">
			<thead>
			<tr>
				<th>Instrument</th>
				<th>Diff</th>
				<th>Bid</th>
				<th>Ask</th>
				<th>H / L</th>
				<th></th>
			</tr>
			</thead>
		</table>
	</div>

	<div style="overflow-y: scroll">
		<table class="table-content">
			<tbody>
			<tr *ngFor="let symbol of symbols$ | async"
				[ngClass]="{'active': activeSymbol === symbol}"
				(click)="setActiveSymbol(symbol)">

				<ng-container *ngIf="symbol.options$ | async as options">
					<td>{{symbol.options.name}}</td>
					<td>0%</td>
					<td>
						<button [ngClass]="{'positive': options.bidDirection === 'up', 'negative': options.bidDirection === 'down'}"
								(click)="placeOrder($event, constantsService.constants.ORDER_SIDE_BUY, options.name)" class="btn btn-sm">
							<span>B</span>
							<span>{{options.bid || 0}}</span>
						</button>
					</td>
					<td>
						<button [ngClass]="{'positive': options.askDirection === 'up', 'negative': options.askDirection === 'down'}"
								(click)="placeOrder($event, constantsService.constants.ORDER_SIDE_BUY, options.name)" class="btn btn-sm">
							<span>S</span>
							<span>{{options.ask || 0}}</span>
						</button>
					</td>
					<td *ngIf="options.halted">Market closed</td>
					<td *ngIf="!options.halted">0 / 0</td>
					<!--<td class="font-color-{{options.bidDirection}}">{{options.bid}}</td>-->
					<!--<td class="font-color-{{options.askDirection}}">{{options.ask}}</td>-->
					<td>
						<i class="fa fa-star"></i>
						<i class="fa fa-bell"></i>
						<i class="fa fa-info-circle"></i>
					</td>
				</ng-container>
			</tr>
			</tbody>
		</table>
	</div>

</div>

