@import '../../style/variables/variables';
@import '../../style/helpers/normalize';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/utilities/_clearfix';

:host {
	display: block;
	position: relative;
	width: 100%;
	height: calc(50% - 20px);
	overflow: auto;
	background: $background-light;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: $font-color-light-gray;
	padding-left: 3px;
	font-size: 12px;
}

.elementsContainer {
	@include clearfix();

	a {
		width: 150px;
		float: left;
	}
}

table {
	height: 100%;
	overflow: hidden;
	width: 100%;
	font-size: 12px;
	text-align: left;

	thead {
		display: block;

		input {
			background: #6b6b6b;
			font-size: 12px;
			width: 100%;
			padding: 3px 5px;
			margin: 0;
			border: 0;
			height: 18px;
			line-height: 18px;
			color: $font-color-light;
		}

		tr:last-child th {
			padding: 0;
		}
	}

	th,
	td {
		width: 33%;
		padding-left: 5px;
		//min-width: 72px;
		//max-width: 72px;
		color: $font-color-light;

		&:nth-child(1) {
			//min-width: 90px;
			//max-width: 90px;
			padding: 8px 4px 8px 8px;
		}
	}

	tbody {
		height: calc(100% - 37px);
		overflow-y: scroll;
		overflow-x: hidden;
		border-left: 1px solid $border-color-grey;

		tr {
			border-bottom: 1px solid $border-color-grey;
			height: 18px;
		}

		td {
			&.up {
				color: #38cc38;
			}

			&.down {
				color: #f92929;
			}

			&:first-child {
				text-align: left;

				&:hover {
					background: #6f748e;
					cursor: pointer;
				}
			}
		}

		td:nth-child(2) {
			border-left: 1px solid $border-color-grey;
			border-right: 1px solid $border-color-grey;
		}
	}
}