@import '../../style/variables/variables';

:host {
	display: flex;
	background: $background-light;
}

// TODO - Move to general font file
.font-color-up {
	color: #38cc38;
}
.font-color-down {
	color: #f92929;
}

.filter-list {
	width: 200px;
	overflow: auto;
	margin: 5px;

	a {
		padding-left: 20px;
		display: block;

		&:hover,
		&.active {
			background: $general-active;
		}
	}
}

.instrument-list {
	width: 100%;
	display: flex;
	flex-flow: column;
}

table {
	table-layout: fixed;
	font-size: 12px;

	&.table-header {
		font-size: 14px;
		background: $background-light3;
	}

	&.table-content {
		tr {
			border-bottom: 1px solid $border-color-grey;

			&.active,
			&:hover {
				background: #6f748e;
				cursor: pointer;
			}
		}
	}

	th,
	td {
		padding: 4px;

		&:last-child {
			width: 80px;

			i {
				color: $font-color-light;
				margin-right: 10px;
				font-size: 14px;

				&.active,
				&:hover {
					color: $general-active;
				}
			}
		}
	}
}

@keyframes fade-positive {
	0%, 100% {
		background: $general-success
	}
	50% {
		background: $background-light;
	}
}

@keyframes fade-negative {
	0%, 100% {
		background: $general-error
	}
	50% {
		background: $background-light;
	}
}

button.btn-sm {
	padding: 0;
	background: $background-light;
	width: 150px;
	border-radius: 4px;
	border: 1px solid grey;
	
	&.positive {
		animation: fade-positive 2s ease;

		span {
			color: $general-success;
		}
	}

	&.negative {
		animation: fade-negative 2s ease;

		span {
			color: $general-error;
		}
	}

	span:first-child {
		color: $font-color-light;
		padding: 6px;
		font-size: 16px;
		text-align: center;
		border-radius: 4px 0 0 4px;
	}

	span:nth-child(2) {
		background: #f8f8f8;
		color: $font-color-dark;
		padding: 3px;
		display: inline-block;
		width: 116px;
		text-align: right;
		border-radius: 0 4px 4px 0;
		font-size: 16px;
	}
}
