<div class="filter-list" #navbar>
	<h4>Popular</h4>
	<a [ngClass]="{active: activeFilter === 'all'}" (click)="toggleFilter('all')">All</a>
	<a [ngClass]="{active: activeFilter === 'all popular'}" (click)="toggleFilter('all popular')">All popular</a>
	<a [ngClass]="{active: activeFilter === 'rise and fall'}" (click)="toggleFilter('rise and fall')">Risers and fallers</a>
	<a [ngClass]="{active: activeFilter === 'favorite'}" (click)="toggleFilter('favorite')">My favorites</a>
	<h4>Resources</h4>
	<a [ngClass]="{active: activeFilter === 'resources'}" (click)="toggleFilter('resources')">All resources</a>
	<a [ngClass]="{active: activeFilter === 'resources pop'}" (click)="toggleFilter('resources pop')">Popular resources</a>
	<h4>Indices</h4>
	<a [ngClass]="{active: activeFilter === 'all2'}" (click)="toggleFilter('all2')">All indices</a>
	<a [ngClass]="{active: activeFilter === 'all2'}" (click)="toggleFilter('all2')">Popular indices</a>
	<h4>Crypto</h4>
	<a [ngClass]="{active: activeFilter === 'all2'}" (click)="toggleFilter('all2')">All crypto</a>
	<a [ngClass]="{active: activeFilter === 'all2'}" (click)="toggleFilter('all2')">Popular crypto</a>
	<h4>Forex</h4>
	<a [ngClass]="{active: activeFilter === 'forex'}" (click)="toggleFilter('forex')">All forex</a>
	<a [ngClass]="{active: activeFilter === 'forex pop'}" (click)="toggleFilter('forex pop')">Popular forex</a>
</div>

<div class="instrument-list">
	<div class="table-header hidden-xs-down">
		<div>Instrument</div>
		<div>Diff</div>
		<div>Bid</div>
		<div>Ask</div>
		<div>H / L</div>
		<div></div>
	</div>

	<!-- <div class="table-mobile-header hidden-md-up">
		<i (click)="collapseNav($event)" class="fa fa-filter"></i>
	</div> -->

	<ul>
		<li *ngFor="let symbol of symbols$ | async" [ngClass]="{'active': activeSymbol === symbol}" [attr.data-symbol]="symbol.options.name"
		 [routerLink]="['/main/charts', symbol.options.name]">

			<ng-container *ngIf="symbol.options$ | async as options">
				<div>{{symbol.options.name}}</div>
				<div>0%</div>
				<div>
					<button [ngClass]="{'positive': options.bidDirection === 'up', 'negative': options.bidDirection === 'down'}" (click)="placeOrder($event, constantsService.constants.ORDER_SIDE_BUY, options.name)"
					 class="btn btn-sm">
						<span>B</span>
						<span>{{options.bid || 0}}</span>
					</button>
				</div>
				<div>
					<button [ngClass]="{'positive': options.askDirection === 'up', 'negative': options.askDirection === 'down'}" (click)="placeOrder($event, constantsService.constants.ORDER_SIDE_BUY, options.name)"
					 class="btn btn-sm">
						<span>S</span>
						<span>{{options.ask || 0}}</span>
					</button>
				</div>
				<div *ngIf="options.halted">Market closed</div>
				<div *ngIf="!options.halted">0 / 0</div>
				<div>
					<i (click)="onClickToggleFavorite($event, symbol);" [ngClass]="{'active': userService.model.options.favorites.includes(symbol.options.name)}"
					 class="fa fa-star"></i>
					<i class="fa fa-bell"></i>
					<i class="fa fa-info-circle"></i>
				</div>
			</ng-container>
		</li>
	</ul>
</div>