@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_buttons';
@import '../../style/helpers/normalize';
@import '../../style/variables/variables';

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #909;
}

:host {
    background-color: $background-light2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.order-table {
    width: 100%;
    color: $font-color-light;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;

    .negative {
        color: $general-error;

    }

    .positive {
        color: $general-success;
    }
}

.order-table-row-head {
    display: flex;
    background-color: #4b4b4b;

    > div {
        width: 12.50%;
        padding-left: 10px;
        font-size: 14px;
        color: #c1c0c0;
        line-height: 30px;
    }
}

.order-table-row {
    cursor: pointer;

    &:nth-child(odd) {
        background-color: #4b4b4b;
    }

    &:hover {
        background: #757575;
    }

    &.open {
        .order-table-sub-rows {
            display: block;
        }
    }

    > .row-container {
        display: flex;

        > div {
            width: 12.5%;
            line-height: 70px;
            padding-left: 10px;

            &:first-child {
                span {
                    line-height: 70px;
                    margin-left: 10px;
                }
            }

            &:nth-child(2) {

                span {
                    &:first-child {
                        min-width: 40px;
                        display: inline-block;
                    }

                    &:nth-child(2) {
                        color: $font-color-gray;
                        font-size: $font-size-s;
                    }
                }
            }
        }
    }

    button.btn-sm {
        padding: 0;
        background: $background-light;
        width: 150px;
        border-radius: 4px;

        &.positive {
            animation: fade-positive 2s ease;

            span {
                color: $general-success;
            }
        }

        &.negative {
            animation: fade-negative 2s ease;

            span {
                color: $general-error;
            }
        }

        span:first-child {
            color: $font-color-light;
            padding: 8px;
            font-size: 16px;
            text-align: center;
            border-radius: 4px 0 0 4px;
        }

        span:nth-child(2) {
            background: #f8f8f8;
            color: $font-color-dark;
            padding: 5px;
            display: inline-block;
            width: 110px;
            text-align: right;
            border-radius: 0 4px 4px 0;
            font-size: 16px;
        }
    }
}

.order-table-sub-rows {
    display: none;
    padding: 0 40px;
}

.order-table-sub-row {
    background: #aaaaaa;
    line-height: 40px;
    padding-left: 20px;
    display: flex;

    &:nth-of-type(odd) {
        background-color: #6c6c6c;
    }

    > div {
        width: 11.11%;

        &:last-child {
            width: 2%;
        }

    }
}

.chart-header {
    background: $background-light;
    height: 40px;
}

@keyframes fade-positive {
    0%, 100% {
        background: $general-success
    }
    50% {
        background: $background-light;
    }
}

@keyframes fade-negative {
    0%, 100% {
        background: $general-error
    }
    50% {
        background: $background-light;
    }
}