@import '../../style/variables/variables';
@import '../../style/helpers/normalize';
@import '../../../node_modules/bootstrap/scss/_variables';
@import '../../../node_modules/bootstrap/scss/_mixins';
@import '../../../node_modules/font-awesome/css/font-awesome.css';

$fa-font-path : '../../../node_modules/font-awesome/fonts';

@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
}

:host {
    height: 50%;
    border-bottom: 1px solid;
    overflow: auto;
}

li {
    border-bottom: 1px solid $border-color-grey;
    list-style: none;
    padding: 5px;
}

table {
    // Faster rendering (read it on google)
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;

    height: 50%;
    overflow: auto;
    font-size: 10px;
    width: 100%;

    thead tr:last-child th {
        padding: 0;
    }

    thead,
    tbody {
        display: block;
    }

    tbody {
        height: calc(100% - 44px);
        overflow: auto;
        tr {
            border-top: 1px solid $border-color-grey;
            border-bottom: 1px solid $border-color-grey;
        }
    }

    tr {
        border-bottom: 1px solid $border-color-grey;
    }

    th,
    td {
        padding-left: 5px;
        width: 80px;

        &:nth-child(1),
        &:nth-child(1) {
            width: 100px;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 2px;
        }

        &:nth-child(2),
        &:nth-child(2) {
            border-left: 1px solid $border-color-grey;
            border-right: 1px solid $border-color-grey;
        }
    }


    td.up {
        color: #38cc38;
    }

    td.down {
        color: #f92929;
    }

    td:first-child:hover {
        background: #6f748e;
        cursor: pointer;
    }
}

.search-instrument-list {
    width: 100%;
}

.fa {
    width: 10px;
    height: 10px;
}

.fa-arrow-up {
    color: #12ee12;
}

.fa-arrow-down {
    color: red;
}