@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url('/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('/assets/fonts/MaterialIcons-Regular.woff') format('woff'),
    url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}