@import '../variables/variables';

* {
	box-sizing: border-box;
}

a, p, li, span, h1, h2, h3, h4, h5, h6, td, th, label {
	color: $font-color-light;
	margin: 0;
	-webkit-user-select: none;
	user-select: none;
}

button {
	color: $font-color-dark;
	cursor: pointer;
}

input,
textarea {
	&:focus {
		outline: none;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:visited {
		text-decoration: none;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

td {
	padding: 0;
}

sup,
sub {
	margin-left: 4px;
	font-size: 12px;
}