@import '../variables/variables';

a, p, li, span, h1, h2, h3, h4, h5, h6, td, th, label {
	color: $font-color-light;;
	margin: 0;
	-webkit-user-select: none;
	user-select: none;
}

button {
	color: black;
	cursor: pointer;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}