<nav>
	<ul class="header-buttons">
		<li>
			<button href="#add-chart" class="btn-menu button-new">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</li>

		<li>
			<button (click)="_chartComponent.zoom(-1)"
					type="button"
					class="dropdown-toggle text-dark button-zoom-out btn-menu"
					aria-expanded="false">
				<i class="fa fa-search-minus">
				</i>
			</button>
		</li>

		<li>
			<button (click)="_chartComponent.zoom(1)"
					type="button"
					class="dropdown-toggle text-dark btn-menu button-zoom-in"
					aria-expanded="false">
				<i class="fa fa-search-plus"></i>
			</button>
		</li>

		<li>
			<button href="#add-chart" class="btn-menu button-new">
				<i class="fa fa-play" aria-hidden="true"></i>
			</button>
		</li>
	</ul>
	<!--<ul class="nav navbar-nav navbar-right">-->
		<!--<li id="nav-dropdown" class="dropdown">-->
			<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
			   <!--aria-expanded="true">-->
				<!--Config <span class="caret"></span>-->
			<!--</a>-->
			<!--<ul class="dropdown-menu">-->
				<!--<li><a>Preferences</a></li>-->
				<!--<li role="separator" class="divider"></li>-->
				<!--<li class="dropdown-header">User</li>-->
				<!--<li *ngIf="systemService.systemState.connected === true"><a (click)="userService.logout()">Logout-->
					<!--broker</a></li>-->
				<!--<li *ngIf="systemService.systemState.connected === false"><a (click)="userService.login()">Login-->
					<!--broker</a></li>-->
				<!--<li role="separator" class="divider"></li>-->
				<!--<li class="dropdown-header">System</li>-->
				<!--<li (click)="clearCache()" data-action="clearCache"><a>Clear cache</a></li>-->
			<!--</ul>-->
		<!--</li>-->
		<!--&lt;!&ndash;<li class="active"><a href="./">{{username}} <span class="sr-only">(current)</span></a></li>&ndash;&gt;-->
	<!--</ul>-->
</nav>