$md-vattenvall: (
    50 : #e5eef6,
    100 : #bed5e8,
    200 : #93b9d9,
    300 : #679cca,
    400 : #4787be,
    500 : #2672b3,
    600 : #226aac,
    700 : #1c5fa3,
    800 : #17559a,
    900 : #0d428b,
    A100 : #bbd4ff,
    A200 : #88b5ff,
    A400 : #5595ff,
    A700 : #3b85ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);