<a class="globe-container" #globeContainer (click)="toggleNotificationMenu()">
    <i class="fa fa-globe d-lg-none"></i>
    <span *ngIf="(notificationService.unreadCount$ | async) > 0" class="notification-unread-circle">{{notificationService.unreadCount$ | async}}</span>
</a>
<div class="notification-drop-down" *ngIf="open">
    <div class="notification-drop-down-header">
        <a (click)="onClickMarkAllAsRead($event)">mark all as read</a>
    </div>
    <div class="notification-drop-down-item" *ngFor="let notification of notifications$ | async" [ngClass]="{unread: !notification.isRead}">
        <a [routerLink]="['/user/' + notification.fromUserId]" *ngIf="notification.type === 'user-follow'" (click)="onClickNotification($event, notification)">
            <img src="{{notification.fromUserId.img | NormalizeImgUrl: 'user'}}">
            <div>
                <p>
                    <b>{{notification.fromUserId.name}}</b>
                    started following you
                </p>
                <p><i class="fa fa-user-plus"></i>{{notification.fromNow}}</p>
            </div>
        </a>
        <a [routerLink]="['/comment/' + (notification.data.parentId || notification.data.commentId)]" *ngIf="notification.type === 'post-comment'" (click)="onClickNotification($event, notification)">
            <img src="{{notification.fromUserId.img | NormalizeImgUrl: 'user'}}">
            <div>
                <p>
                    <b>{{notification.fromUserId.name}}</b>
                    commented on your post
                </p>
                <p><i class="fa fa-comment"></i>{{notification.fromNow}}</p>
            </div>
        </a>
        <a [routerLink]="['/comment/' + (notification.data.parentId || notification.data.commentId)]" *ngIf="notification.type === 'post-like'" (click)="onClickNotification($event, notification)">
            <img src="{{notification.fromUserId.img | NormalizeImgUrl: 'user'}}">
            <div>
                <p>
                    <b>{{notification.fromUserId.name}}</b>
                    liked your post
                </p>
                <p><i class="fa fa-thumbs-up"></i>{{notification.fromNow}}</p>
            </div>
        </a>
        <a [routerLink]="['/comment/' + (notification.data.parentId || notification.data.commentId)]" *ngIf="notification.type === 'comment-like'" (click)="onClickNotification($event, notification)">
            <img src="{{notification.fromUserId.img | NormalizeImgUrl: 'user'}}">
            <div>
                <p>
                    <b>{{notification.fromUserId.name}}</b>
                    liked your comment
                </p>
                <p><i class="fa fa-thumbs-up"></i>{{notification.fromNow}}</p>
            </div>
        </a>
        <a *ngIf="notification.type === 'symbol-alarm'" [routerLink]="['/symbols']" [queryParams]="{ symbol: notification.data.symbol }"
            (click)="onClickNotification($event, notification)">
            <span class="notification-image symbol-img-{{notification.data.symbol}}"></span>
            <div class="notification-content">
                <p>{{notification.data.symbol}} - ${{notification.data.target}}</p>
                <p>
                    <i class="fa fa-bell"></i>
                    {{notification.fromNow}}
                </p>
            </div>
        </a>
    </div>
</div>