<!-- Tab content -->
<div class="tab-content">
    <i class="splitter fa fa-bars text-white" aria-hidden="true">&nbsp;</i>

    <!-- Backtest -->
    <div role="tabpanel" class="tab-pane active" id="backtest">
        <div class="container-fluid">
            <backtest-settings></backtest-settings>
        </div>
    </div>

    <!-- Debugger -->
    <div role="tabpanel" class="tab-pane" id="home">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 30px;"></th>
                <th>Message</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let message of messages">
                <td>
                    <i *ngIf="message.type === 'info'" class="fa fa-info">&nbsp;</i>
                    <i *ngIf="message.type === 'error'" class="fa fa-close">&nbsp;</i>
                    <i *ngIf="message.type === 'warning'" class="fa fa-warning">&nbsp;</i>
                </td>
                <td>{{message.text}}</td>
                <td>{{message.timePretty}}</td>
            </tr>
            <tr *ngFor="let message of messages">
                <td>
                    <i *ngIf="message.type === 'info'" class="fa fa-info">&nbsp;</i>
                    <i *ngIf="message.type === 'error'" class="fa fa-close">&nbsp;</i>
                    <i *ngIf="message.type === 'warning'" class="fa fa-warning">&nbsp;</i>
                </td>
                <td>{{message.text}}</td>
                <td>{{message.timePretty}}</td>
            </tr>
            <tr *ngFor="let message of messages">
                <td>
                    <i *ngIf="message.type === 'info'" class="fa fa-info">&nbsp;</i>
                    <i *ngIf="message.type === 'error'" class="fa fa-close">&nbsp;</i>
                    <i *ngIf="message.type === 'warning'" class="fa fa-warning">&nbsp;</i>
                </td>
                <td>{{message.text}}</td>
                <td>{{message.timePretty}}</td>
            </tr>
            <tr *ngFor="let message of messages">
                <td>
                    <i *ngIf="message.type === 'info'" class="fa fa-info">&nbsp;</i>
                    <i *ngIf="message.type === 'error'" class="fa fa-close">&nbsp;</i>
                    <i *ngIf="message.type === 'warning'" class="fa fa-warning">&nbsp;</i>
                </td>
                <td>{{message.text}}</td>
                <td>{{message.timePretty}}</td>
            </tr>
            <tr *ngFor="let message of messages">
                <td>
                    <i *ngIf="message.type === 'info'" class="fa fa-info">&nbsp;</i>
                    <i *ngIf="message.type === 'error'" class="fa fa-close">&nbsp;</i>
                    <i *ngIf="message.type === 'warning'" class="fa fa-warning">&nbsp;</i>
                </td>
                <td>{{message.text}}</td>
                <td>{{message.timePretty}}</td>
            </tr>
            <tr *ngFor="let message of messages">
                <td>
                    <i *ngIf="message.type === 'info'" class="fa fa-info">&nbsp;</i>
                    <i *ngIf="message.type === 'error'" class="fa fa-close">&nbsp;</i>
                    <i *ngIf="message.type === 'warning'" class="fa fa-warning">&nbsp;</i>
                </td>
                <td>{{message.text}}</td>
                <td>{{message.timePretty}}</td>
            </tr>
            <tr *ngFor="let message of messages">
                <td>
                    <i *ngIf="message.type === 'info'" class="fa fa-info">&nbsp;</i>
                    <i *ngIf="message.type === 'error'" class="fa fa-close">&nbsp;</i>
                    <i *ngIf="message.type === 'warning'" class="fa fa-warning">&nbsp;</i>
                </td>
                <td>{{message.text}}</td>
                <td>{{message.timePretty}}</td>
            </tr>
            <tr *ngFor="let message of messages">
                <td>
                    <i *ngIf="message.type === 'info'" class="fa fa-info">&nbsp;</i>
                    <i *ngIf="message.type === 'error'" class="fa fa-close">&nbsp;</i>
                    <i *ngIf="message.type === 'warning'" class="fa fa-warning">&nbsp;</i>
                </td>
                <td>{{message.text}}</td>
                <td>{{message.timePretty}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>

</div>

<div class="footer-bar-wrapper">
    <!-- Tab nav -->
    <ul class="nav-tabs" role="tablist" style="float:left;">
        <li role="presentation" class="active">
            <a data-target="#backtest" aria-controls="profile" role="tab" data-toggle="tab">Backtest</a>
        </li>
        <li role="presentation"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">Debugger</a></li>
        <li role="presentation"><a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab">Result</a></li>
        <li role="presentation"><a data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        <li role="presentation"></li>
    </ul>

    <status style="float: right;"></status>
</div>