@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_buttons';

@import '../../style/variables/variables';
@import '../../style/helpers/normalize';
@import '../../style/components/key-value-list';
@import '../../style/components/progress-bar';

:host {
	contain: layout;
	width: 100%;
	margin-top: 10px;
	display: block;
	border-top: 1px solid grey;
	padding-top: 10px;
}

.text-negative {
	color: $general-error;
}

.text-positive {
	color: $general-success;
}

.progress {
	margin-left: 5px;
	margin-right: 10px;
}

.btn-xs {
	padding: 2px 5px;
	font-size: 12px;
}

canvas {
	border: 1px solid transparent;
}
.focused {
	border-color: yellow;
}