@import '../../style/variables/variables';
@import '../../style/components/key-value-list';
@import '../../style/components/progress-bar';

:host {
	contain: layout;
	width: 100%;
}

.text-negative {
	color: $general-error;
}

.text-positive {
	color: $general-success;
}

.progress {
	margin-top: 20px;
}

.progress-main {
	margin-left: 10px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li,
h4,
h5 {
	color: $font-color-light;
}