@import '../../style/variables/variables';
@import '../modal/modal.component.scss';

label {
    font-size: 12px;
}

.form-control {
    max-width: 200px; float:left;
}

.modal-footer button {
    margin-left: 10px;
}

.modal .close span {
    color: $font-color-light;
}