@import '../../style/variables/variables';

:host {
    display: grid;
    grid-template-areas: "header header"
    "navigation main"
    "navigation2 main"
    "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto
    1fr 1fr
    auto;
    min-height: 100vh;
}

app-header-home {
    grid-area: header;
}

instrument-list {
    grid-area: navigation;
    background: $background-dark;
}

aside {
    grid-area: navigation2;
    background: $background-dark;
    color: white;
    padding-top: 40px;
    text-align: center;
}

chart-overview {
    grid-area: main;
}

app-footer {
    grid-area: footer;
}

.splitter {
    position: absolute;
    top:50%;
    right: 0;
}

.bottom-block {
    border-top: 1px solid white;
    width: 100%;
    text-align:center;
    vertical-align: middle;
}