@import '../../style/variables/variables';
@import '../../style/helpers/three-column.scss';
@import '../../style/helpers/flex-flayout.scss';

:root {
    --footer-height: 40px;
}

.splitter {
    position: absolute;
    top:50%;
    right: 0;
}

.bottom-block {
    border-top: 1px solid white;
    width: 100%;
    text-align:center;
    vertical-align: middle;
}

:host {
    display: grid;
    grid-template-areas: "header header"
    "navigation main"
    "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto
    1fr
    auto;
    min-height: 100vh;
}

.grid__header { grid-area: header; }
.grid__footer { grid-area: footer; }
.grid__main { grid-area: main; }
.grid__left {
    grid-area: navigation;
    background: $background-dark;
}