<div>
    <ng-container *ngIf="systemService.systemState.booting">
        <div class="spinner" style="margin: 0; width: 12px; height: 12px; float:left; margin-top: 4px;">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </ng-container>

    <ng-container *ngIf="systemService.systemState.booting === false">
        <!-- OK -->
        <ng-container *ngIf="systemService.systemState.state === constantsService.constants.SYSTEM_STATE_OK && systemService.systemState.connected === true">
            <div class="circle ok"></div>
        </ng-container>

        <!-- Errors -->
        <ng-container *ngIf="systemService.systemState.state !== constantsService.constants.SYSTEM_STATE_OK">
            <div class="circle error"></div>

            <ng-container *ngIf="!systemService.systemState.connected">
                <ng-container *ngIf="systemService.systemState.code === constantsService.constants.SYSTEM_STATE_CODE_NO_SERVER_CONNECTION">
                    <a class="error-message">No server connection</a>
                </ng-container>
                <ng-container *ngIf="systemService.systemState.code !== constantsService.constants.SYSTEM_STATE_CODE_NO_SERVER_CONNECTION">
                    <a (click)="onClickLogin()" class="error-message">No broker connection</a>
                </ng-container>
            </ng-container>


        </ng-container>
    </ng-container>
</div>

<div class="visible-md visible-lg">
    Workers {{systemService.systemState.workers}} / {{systemService.systemState.cpu}}
</div>