@import '../../style/variables/variables';
@import '../../style/components/circle';

:host {
    > * {
        padding: 0 15px;
        border-right: 1px solid $border-color-grey;
        line-height: 20px;
        color: $font-color-light;
        font-size: $font-size-s;

        &:first-child {
            padding-right: 0;
            border-right: 0;

            span, a {
                margin-right: 10px;
            }
        }
    }

    a {
        color: $font-color-light;
        text-decoration: underline;
    }
}

.error-message {
    margin-right: 10px;
}

/* Create the animation blocks */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Spinning, gradient circle; CSS only! */