<!-- back navigation button -->
<mat-icon *ngIf="showBackButton === true" (click)="onClickBackButton()" class="backButton">chevron_left</mat-icon>

<!-- title -->
<h3 class="d-lg-none header-title">{{titleText$ | async}}</h3>

<!-- search container -->
<div class="search-container">
    <input (keyup)="onSearchKeyUp($event)" (focus)="onSearchKeyUp($event)" placeholder="Markets / People" id="mainSearchInput"
        #input title="Markets / People" type="text" autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false">

    <!-- <div class="header-drop-down" *ngIf="(searchResults$ | async) as result" (click)="toggleDropdownVisibility(false)" #dropdown> -->
    <div class="header-drop-down" *ngIf="(searchResults$ | async) as result" (click)="toggleDropdownVisibility(false)" #dropdown>
        <h4>Symbols</h4>
        <!-- <h4 *ngIf="result.symbols.length">Symbols</h4> -->
        <a *ngFor="let symbol of result.symbols" [routerLink]="['/symbols']" [queryParams]="{symbol: symbol.options.name}">
            <span class="symbol-img symbol-img-{{symbol.options.name}}" style="margin-right: 10px;"></span>
            <span>{{symbol.options.displayName}}</span>
        </a>
        <p class="dropdown-no-results-text" *ngIf="!result.symbols.length">No results</p>

        <h4>Users</h4>
        <!-- <h4 *ngIf="result.users.length">Users</h4> -->
        <a *ngFor="let user of result.users" [routerLink]="['/user/', user._id]">
            <img width="30" height="30" style="margin-right: 10px;" src="{{user.img | NormalizeImgUrl}}">
            <span>{{user.name}}</span>
        </a>
        <p class="dropdown-no-results-text" *ngIf="!result.users.length">No results</p>
    </div>
</div>

<!-- filter (for symbol page) -->
<a (click)="filterClicked$.next();" *ngIf="showFilterButton === true" class="filter-btn" [ngClass]="{active: (filterClicked$ | async) === true}">
    <i class="fa fa-filter d-xl-none"></i>
</a>

<!-- notifications -->
<app-notification-menu></app-notification-menu>

<!-- mobile search button -->
<mat-icon (click)="toggleSearch();" class="searchIcon">search</mat-icon>