@import '../../style/variables/variables';

:host {
    display: flex;
    flex-flow: column;
}

.chart-overview-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    contain: layout;
}

.chart-no-charts {
    text-align:center;
    padding: 20px;

    p {
        font-size: 20px;
        color: $font-color-light-gray;
    }
}

.chart-overview-tabs {
    border-top: 1px solid $border-color-grey;
    background: $background-dark;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        > li {
            color: white;

            > a {
                padding: 3px 7px;
                font-size: 10px;
                display: block;
                border-right: 1px solid $border-color-grey;
                &:hover {
                    background: $general-secondary;
                    color: $font-color-dark;
                }
            }

            i {
                font-size: 14px;
                line-height: 18px;
                padding: 0 10px;
                cursor: pointer;
            }

            &.active > a {
                background: $general-active !important;
                color: $font-color-light !important;
            }

            &:last-child {
                margin-left: auto;
            }
        }
    }
}

// Mobile
@media screen and (max-width: 768px) {
    .chart-overview-container {
        bottom: 0;
    }
}
