@import '../../style/variables/variables';

:host {
    position: relative;
    overflow: hidden;
}

.active {
    background: $general-active;
}

.chart-no-charts {
    text-align:center;
    padding: 20px;

    p {
        font-size: 20px;
        color: $font-color-light-gray;
    }
}

.fa-table {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000000;
    background: black;
    color: $font-color-light;
    padding: 4px 10px;
    border-top: 1px solid $border-color-grey;
    border-left: 1px solid $border-color-grey;
    border-radius: 4px 0 0 0;
    cursor: pointer;
    line-height: 16px;

    &:hover {
        color: $general-active;
    }
}