@import '../../style/variables/variables';

:host {
    position: relative;
}

.chart-no-charts {
    text-align:center;
    padding: 20px;

    p {
        font-size: 20px;
        color: $font-color-light-gray;
    }
}

.chart-overview-tabs {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        > li {
            > a {
                padding: 3px 7px;
                font-size: 10px;
                display: block;
                border-right: 1px solid $border-color-grey;
                color: white;
                &:hover {
                    background: $general-secondary;
                    color: $font-color-dark;
                }
            }

            &.active > a {
                background: $general-active !important;
                color: $font-color-light !important;
            }
        }
    }

    border-top: 1px solid $border-color-grey;
    background: $background-dark;
}

.chart-overview-buttons {
    float: right;

    i {
        font-size: 14px;
        line-height: 20px;
        padding: 0 10px;
        cursor: pointer;
    }
}

// Mobile
@media screen and (max-width: 768px) {
    .chart-overview-container {
        bottom: 0;
    }
}
