<nav class="nav-main">
    <a [routerLink]="['/main/user/', userService.model.get('user_id')]" [routerLinkActive]="['active']" class="profile">
        <img class="logo" width="70" height="70" src="{{(userService.model.options$ | async).profileImg}}">
        <h4>{{userService.model.options.name}}</h4>
    </a>

    <a [routerLink]="['/main/channels']" [routerLinkActive]="['active']">
        <i class="fa fa-upload"></i>
        <span>Watchlist</span>
    </a>
    <a [routerLink]="['/main/portfolio']" [routerLinkActive]="['active']">
        <i class="fa fa-handshake-o"></i>
        <span>Portfolio</span>
    </a>
    <a [routerLink]="['/main/news']" [routerLinkActive]="['active']">
        <i class="fa fa-newspaper-o"></i>
        <span>News feed</span>
    </a>
    <a [routerLink]="['/main/user']" [routerLinkActive]="['active']">
        <i class="fa fa-users"></i>
        <span>Users</span>
    </a>
    <a [routerLink]="['/main/charts']" [routerLinkActive]="['active']">
        <i class="fa fa-bar-chart"></i>
        <span>Symbols</span>
    </a>
    <a [routerLink]="['/main/backtest']" [routerLinkActive]="['active']">
        <i class="fa fa-flash"></i>
        <span>Backtest</span>
    </a>
    <a [routerLink]="['/main/editor']" [routerLinkActive]="['active']">
        <i class="fa fa-code"></i>
        <span>Editor</span>
    </a>
    <a [routerLink]="['/main/settings']" [routerLinkActive]="['active']">
        <i class="fa fa-gears"></i>
        <span>Settings</span>
    </a>
    <a (click)="logout()">
        <i class="fa fa-sign-out"></i>
        <span>Logout</span>
    </a>
</nav>

<main class="main-container">
    <header>
        <div class="account-details" *ngIf="userService.accountStatus$ | async as status">
            <div>
                <h3>{{status.available | currency : 'EUR':'symbol'}}</h3>
                <span>available</span>
            </div>
            <div>
                <h3>{{status.equity | currency : 'EUR':'symbol'}}</h3>
                <span>equality</span>
            </div>
            <div>
                <h3>{{status.openMargin | currency : 'EUR':'symbol'}}</h3>
                <span>O. margin</span>
            </div>
            <div>
                <h3 [ngClass]="{'positive': status.profit > 0, 'negative': status.profit < 0}">{{status.profit | currency : 'EUR':'symbol'}}</h3>
                <span>profit</span>
            </div>
            <div class="header-search">
                <input (keyup)="onSearchKeyUp($event)" placeholder="Markets / Channels / People" #input>
                <div class="search-drop-down" *ngIf="(searchResults$ | async) as result" (click)="onClickDropdownItem()" #dropdown>
                    <a *ngFor="let symbol of result.symbols" [routerLink]="['/main/charts', symbol.name]">
                        <img src="/images/default/symbol/spx500-70x70.png">
                        <span>{{symbol.name}}</span>
                    </a>
                    <a *ngFor="let user of result.users" [routerLink]="['/main/user/', user.user_id]">
                        <img src="{{user.profileImg}}">
                        <span>{{user.name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
</main>
