@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import 'style/variables/variables';
@import 'style/helpers/normalize';

.main-container {
    padding-top: 40px !important;
    height: 100%;
    @media screen and (min-width: $grid-width-xl) {
        padding-left: 250px;
    }
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background: #222222;
    left: 0;
    right: 0;
    height: 50px;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.4);

    a {
        color: white;
        font-size: 30px;
        width: 25%;
        text-align: center;
        padding-top: 10px;
    }

    @media only screen and (min-width : $grid-width-xl) {
        display: none;
    }
}