<app-alert></app-alert>

<!-- left main navigation -->
<nav class="nav-main" id="sidebar" #navbar>
    <a (click)="toggleNav( false)" [routerLink]="['/user/', userService.model.options._id]" [routerLinkActive]="['active']" class="profile"
        style="padding-top: 0">
        <h6 style="text-align: right; line-height: 40px; padding-right: 20px;">
            <i>{{version}}</i>
        </h6>
        <img alt="profile-image" class="logo" width="70" height="70" [attr.src]="userService.model.options.img ? (userService.model.options.img | NormalizeImgUrl) : undefined">
        <h4>{{userService.model.options.name}}</h4>
    </a>
    <!-- <a (click)="toggleNav( false)" [routerLink]="['/calendar']" [routerLinkActive]="['active']">
        <i class="fa fa-calendar"></i>
        <span>News (TODO)</span>
    </a> -->
    <!-- <a (click)="toggleNav( false)" [routerLink]="['/timeline']" [routerLinkActive]="['active']">
        <i class="fa fa-calendar"></i>
        <span>Timeline</span>
    </a> -->
    <a (click)="toggleNav( false)" [routerLink]="['/user']" [routerLinkActive]="['active']">
        <i class="fa fa-users"></i>
        <span>Users</span>
    </a> 
    <a (click)="toggleNav( false)" [routerLink]="['/symbols']" [routerLinkActive]="['active']">
        <i class="fa fa-bar-chart"></i>
        <span>Stocks</span>
    </a>
    <a (click)="toggleNav( false)" [routerLink]="['/settings']" [routerLinkActive]="['active']">
        <i class="fa fa-gears"></i>
        <span>Settings</span>
    </a>
    <a (click)="toggleNav( false)" *ngIf="userService.model.options._id" (click)="authenticationService.logout()">
        <i class="fa fa-sign-out"></i>
        <span>Logout</span>
    </a>
    <a (click)="toggleNav( false)" *ngIf="!userService.model.options._id" (click)="authenticationService.showLoginRegisterPopup()">
        <i class="fa fa-sign-out"></i>
        <span>Login</span>
    </a>

    <!-- navigation -->
    <!-- <div *ngIf="!platform.isApp && platform.adsEnabled" style="width:220px; height: 300px; margin: 0 auto; border: 1px solid #5d5c5c;">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1181429338292864" data-ad-slot="1307246775" data-ad-format="auto"></ins>
    </div> -->
</nav>

<div (click)="toggleNav(false)" class="nav-overlay"></div>

<main class="main-container">

    <!-- header -->
    <header [ngClass]="{searchOpen: searchOpen}">

        <!-- mobile nav button -->
        <i (click)="toggleNav(true)" class="fa fa-navicon d-lg-none"></i>

        <!-- notifications -->
        <app-notification-menu></app-notification-menu>

        <!-- filter -->

        <i *ngIf="router.url.startsWith('/symbols')" (click)="onClickFilter($event)" class="fa fa-filter d-lg-none"></i>

        <!-- title -->
        <h3 class="d-lg-none header-title">{{titleText$ | async}}</h3>

        <!-- search container -->
        <div class="search-container">
            <input (keyup)="onSearchKeyUp($event)" (focus)="onSearchKeyUp($event)" placeholder="Markets / People" #input title="Markets / People">
            <div class="header-drop-down" *ngIf="(searchResults$ | async) as result" (click)="onClickDropdownItem()" #dropdown>
                <h4 *ngIf="result.symbols.length">Symbols</h4>
                <a *ngFor="let symbol of result.symbols" [routerLink]="['/symbols']" [queryParams]="{symbol: symbol.options.name}">
                    <span class="symbol-img-{{symbol.options.name}}" style="margin-right: 10px;"></span>
                    <span>{{symbol.options.displayName}}</span>
                </a>
                <h4 *ngIf="result.users.length">Users</h4>
                <a *ngFor="let user of result.users" [routerLink]="['/user/', user._id]">
                    <img width="30" height="30" style="margin-right: 10px;" src="{{user.img | NormalizeImgUrl}}">
                    <span>{{user.name}}</span>
                </a>
                <p class="dropdown-no-results-text" *ngIf="!result.symbols.length && !result.users.length">No results</p>
            </div>
        </div>

        <!-- mobile search button -->
        <i (click)="toggleSearch()" class="fa fa-search d-lg-none"></i>
    </header>

    <!-- <div *ngIf="!platform.isApp && platform.adsEnabled" style="margin: 0 auto; border: 1px solid #5d5c5c;">
        <ins class="adsbygoogle" style="display:inline-block;width:468px;height:60px" data-ad-client="ca-pub-1181429338292864" data-ad-slot="5593141995"></ins>
    </div> -->

    <!-- page -->
    <router-outlet></router-outlet>
</main>