@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/utilities/_display';

@import 'style/variables/variables';
@import 'style/helpers/normalize';

// .positive {
//     color: $general-success;
// }

// .negative {
//     color: $general-error;
// }

// .fa-info {
//     color: $general-info;
// }

// .fa-close {
//     color: $general-error;
// }

// .fa-warning {
//     color: $general-warning;
// }

:host {
    display: flex;
    height: 100%;
    width: 100%;

    &.app {
        position: relative;
        padding-bottom: 50px;
        padding-bottom: calc(env(safe-area-inset-bottom) + 60px);
    }
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
}

.ad-container {
    height: 60px;
    background: black;
    
    > * {
        line-height: 60px;
        text-align: center;
        color: pink;
    }
}

@keyframes moveIn {
    from { transform: translateX(-250px); }
    to { transform: translateX(0); }
}

@keyframes moveOut {
    from { transform: translateX(0); }
    to { transform: translateX(-250px); }
}