@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/utilities/_display';

@import 'style/variables/variables';
@import 'style/helpers/normalize';
@import './style/sprite/spritesheet.css';

:host {
    display: flex;
    height: 100%;
    width: 100%;

    &.app {
        padding-bottom: 50px;
    }
}

.positive {
    color: $general-success;
}

.negative {
    color: $general-error;
}

header {
    width: 100%;
    padding: 4px;
    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid grey;
    height: 40px;
    background: black;

    &.searchOpen {
        .fa-filter,
        .notification-container {
            display: none;
        }

        .search-container{
            display: block;
        }
    }

    .dropdown-no-results-text {
        text-align: center;
        margin-top: 20px;
    }

    .fa {
        color: white;
        font-size: 28px;
        line-height: 31px;
        width: 50px;
        padding: 0 5px;

        &:first-child {
            // font-size: 33px;
        }
    }

    .fa-navicon {
        font-size: 35px;
    }

    .fa-globe {
        font-size: 28px;
    }

    .fa-filter {
        font-size: 32px;
    }

    .fa-ellipsis-v,
    .fa-search {
        margin-left: auto;
        text-align: right;
    }

    .search-container {
        width: 100%;
        display: none;

        &.open {
            display: block;
        }
    }

    .notification-container {
        position: relative;

        .notification-unread-circle {
            background: red;
            border-radius: 50%;
            position: absolute;
            padding: 2px 6px;
            font-size: 14px;
            left: 26px;
            top: 0;
            line-height: 16px;
            font-weight: bold;
        }
    }
    

    input {
        padding: 5px;
        line-height: 16px;
        width: 100%;
        border-radius: 0;
        font-size: 16px;
        background-color: $input-color-glyphicon-background;
        color: $input-color-text;
        text-align: center;
        border: none;
        margin-top: 1px;

        &:focus {
            outline: none;
        }

        @media only screen and (min-width : 768px) {
            width: 400px;
        }
    }

    .search-drop-down {
        position: absolute;
        z-index: 122;
        top: 40px;
        left: 0;
        width: 100%;
        background: $background-light;
        height: 100%;
        overflow: auto;

        &.hidden {
            display: none;
        }

        @media only screen and (min-width : 768px) {
            width: 400px;
            left: calc(50% - 200px);
            height: auto;
            top: 35px;
        } 

        h4 {
            padding-left: 10px;
            background: $background-th;;
            line-height: 30px;
        }

        a {
            padding: 10px;
            border-bottom: $border-color-grey;
            color: $font-color-light;
            text-align: left;
            cursor: pointer;
            display: flex;

            &:hover {
                background: $background-light2
            }

            span {
                line-height: 30px;
                margin-right: 10px;
            }
        }
    }

    @media only screen and (min-width : 768px) {
        background: transparent;
        text-align: center;

        .search-container {
            display: block;
            width: 100%;
        }

        .notification-container,
        .search-container  {
            position: relative;
        }

        span {
            font-size: 14px;
        }

        .fa-globe {
            display: block !important;
        }
    }
}

.nav-main {
    background: $background-light;
    overflow-y: auto;
    width: 250px;
    min-width: 250px;
    display: block;

    transition: transform .2s ease-in-out;

    @media only screen and (max-width : 992px) {
        position: absolute;
        top: 0;
        transform: translateX(-250px);
        bottom: 0;
        z-index: 1001;
        animation: fadeOut .3s;

        &.show {
            transform: translateX(0);

            + .nav-overlay {
                display: block;
                
                animation: fadeIn .3s;
            }
        }
    }

    a {
        padding: 15px 10px 15px 30px;
        font-size: 18px;
        box-sizing: border-box;
        display: block;

        i {
            padding-right: 20px;
            width: 20px;
        }

        &:hover {
            background: $background-light2;
        }

        &.active {
            background: $background-light2;
        }
    }

    .profile {
        padding-top: 40px;

        img {
            display: block;
        }

        h4 {
            margin-top: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.nav-overlay {
    background: rgba(0, 0, 0, 0.7);
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.ad-container {
    height: 60px;
    background: black;
    
    > * {
        line-height: 60px;
        text-align: center;
        color: pink;
    }
}

$header-height: 18px;

.splitter {
    position: absolute;
    top: -6px;
    left: 50%;
    // right: 0;
    z-index: 10000;
    height: 10px;
    cursor: ns-resize;
    text-align: center;
    font-size: 10px;
    padding-left: 1px;
    color: $font-color-light;
    transition: transform .2s;
}

.nav-tabs {
    border-bottom: 0;

    > li {
        margin-bottom: 0;
        font-size: 10px;
        color: $font-color-light;
        cursor: pointer;

        &.active a {
            background: $general-active !important;
        }

        a {
            padding: 0 15px;
            border-radius: 0;
            margin-right: 0;
            border: none;
            line-height: 20px;
            display: block;
            border-right: 1px solid $border-color-grey;

            &:hover {
                background: $general-secondary;
            }

            &:active {
                background: blue;
            }

            &:focus {
                background: blue;
            }
        }
    }
}


.tab-content {
    height: calc(100% - 21px);
    background: $background-light;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fa-info {
    color: $general-info;
}

.fa-close {
    color: $general-error;
}

.fa-warning {
    color: $general-warning;
}

status {
    display: flex;
    margin-left: auto;
}