.contextMenu {
	background: #353535;
	box-shadow: 4px 4px 8px rgb(20, 20, 20);
	border: 1px solid #858585;
}

.contextMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.contextMenu ul li {
	color: white;
	padding: 8px 15px;
}

.contextMenu ul li:hover {
	background: #204c3d;
	color: white;
	cursor: pointer;
}