@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_grid';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/_forms';
@import '~bootstrap/scss/_modal';
@import '~bootstrap/scss/_close';
@import '~bootstrap/scss/_transitions';

@import '../../style/variables/variables';
@import '../../style/helpers/normalize';
@import '../../style/components/modal';

.btn-facebook {
    background-color: #4267b2;
    color: white;

    i {
        border-right: 1px solid white;
        margin-right: 10px;
        padding-right: 10px;
        font-size: 20px;
    }
}

.modal-header {
    .close {
        padding: 10px;
        padding-right: 20px;
        font-size: 30px;
        opacity: 1;
    }
}

.modal-body {
    label {
        font-size: 14px;
        margin-left: 6px;

        span {
            color: $label-error;
            font-style: italic;
            font-weight: bold;
            margin-left: 30px;
        }    
    }

    .btn-link {
        color: #fff;
        font-size: 18px;
    
        &:hover {
            color: #b8c8da;
        }
    }
    
    .form-group:last-child {
        margin-bottom: 0;
    }

    .form-text-muted {
        color: $label-muted;
    }
}

.login-footer-buttons {
    .btn-link:first-child {
        padding-left: 0;
    }
}