@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_grid';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/_forms';
@import '~bootstrap/scss/_modal';
@import '~bootstrap/scss/_transitions';
@import '~bootstrap/scss/utilities/_visibility';

@import '../../style/variables/variables';
@import '../../style/helpers/normalize';

label {
    font-size: 12px;
    color: $font-color-dark;
    margin-right: 10px;
    margin-left: 10px;
}