<ul class="filter-options">
    <li class="form-group">
        <label for="exampleSelect1">PEOPLE FROM</label>
        <select class="form-control" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <label for="whoInvested">WHO INVESTED IN</label>
        <select class="form-control" id="whoInvested">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <label for="gainedMin">GAINED AT LEAST</label>
        <select class="form-control" id="gainedMin">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <label for="duringTime">DURING THE</label>
        <select class="form-control" id="duringTime">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <button class="btn btn-sm btn-primary">GO!</button>
    </li>
</ul>

<div class="scroll-container">
    <h2 class="editors-choices-header">Editors' Choice</h2>

    <table *ngFor="let model of channels$ | async" class="card">
        <tr>
            <td>
                <span class="id">{{model.options.id}}</span>
            </td>
            <td>
                <div class="profile">
                    <a>
                        <img src="{{model.options.profileImg}}">
                    </a>
                </div>
            </td>

            <td class="profile-details">
                <h4><a>{{model.options.username}}</a></h4>
                <span>{{model.options.description}}</span>
            </td>
            <td class="graph">
                <img src="/images/default/chart-wide.png">
            </td>
            <td>
                <table class="results-overview">
                    <tr>
                        <td>
                            <h5>Pips</h5>
                            <span>{{model.options.pips}}</span>
                        </td>
                        <td>
                            <h5>Transactions</h5>
                            <span>{{model.options.transactions}}</span>
                        </td>
                        <td>
                            <h5>ROI</h5>
                            <span>{{model.options.transactions}}</span>
                        </td>
                        <td>
                            <h5>Weeks</h5>
                            <span>{{model.options.runTime / 604800000}}</span>
                        </td>
                        <td>
                            <h5>Followers</h5>
                            <span>{{model.options.followers}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <span>Followers equality</span>
                            <span>{{model.options.followersEquality}}</span>
                        </td>
                        <td colspan="2">
                            <button *ngIf="model.options.following === false" class="btn btn-sm btn-primary pull-right">Follow</button>
                            <button *ngIf="model.options.following === true" class="btn btn-sm btn-danger pull-right">Unfollow</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!--<div *ngFor="let model of channels$ | async" class="card">-->
    <!--<span class="id">{{model.options.id}}</span>-->
    <!--<div class="profile">-->
    <!--<a>-->
    <!--<img src="{{model.options.profileImg}}">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="profile-details">-->
    <!--<h4><a>{{model.options.username}}</a></h4>-->
    <!--<span>{{model.options.description}}</span>-->
    <!--</div>-->
    <!--<div class="graph">-->
    <!--<img src="/images/defaults/chart-wide.png">-->
    <!--</div>-->
    <!--<table class="results-overview">-->
    <!--<tr>-->
    <!--<td>-->
    <!--<h5>Pips</h5>-->
    <!--<span>{{model.options.pips}}</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<h5>Transactions</h5>-->
    <!--<span>{{model.options.transactions}}</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<h5>ROI</h5>-->
    <!--<span>{{model.options.transactions}}</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<h5>Weeks</h5>-->
    <!--<span>{{model.options.runTime / 604800000}}</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<h5>Followers</h5>-->
    <!--<span>{{model.options.followers}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td colspan="3">-->
    <!--<span>Followers equality</span>-->
    <!--<span>{{model.options.followersEquality}}</span>-->
    <!--</td>-->
    <!--<td colspan="2">-->
    <!--<button *ngIf="model.options.following === false" class="btn btn-sm btn-primary pull-right">Follow</button>-->
    <!--<button *ngIf="model.options.following === true" class="btn btn-sm btn-danger pull-right">Unfollow</button>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
</div>