@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_alert';

@import '../../style/variables/variables';

:host {
	position: absolute;
	top: 45px;
	z-index: 200000;
	left: 50%;
	transform: translateX(-50%);
	display: flex;

	@media only screen and (min-width : 768px) {
		max-width: 500px;
	}

	> div {
		margin-bottom: 0;
	}
}

.alert {
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	padding: 0 20px;
	border-radius: 10px;

	i {
		color: white;
	}

	p {
		line-height: 30px;
		margin: 0 auto;
	}

	.fa-close {
		float:right;
		margin: 0 10px;
		cursor: pointer;
		font-size: 20px;
		line-height: 35px;
		margin-left: auto;
	}
}

.alert-success {
	background-color: rgba(0, 250, 50, 0.8);
	color: $font-color-light;
	// border: 1px solid green;
}

.alert-error {
	background-color: rgba(250, 50, 50, 0.8);
	color: $font-color-light;
}