@import '../../style/variables/variables';
@import '../../style/components/spinner';

:host {
    height: 400px;
    width: 700px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #999999;
    overflow: hidden;
    background: black; // rgba(0,0,0,0.7);
    contain: layout;
}

:host(.black) {
    .chart-content {
        visibility: hidden;
    }
}

:host(.stretched) {
    transfrom: translate(0, 0) !important;
    -webkit-transform: translate(0, 0) !important;
    height: 100% !important;
    width: 100% !important;
}

:host(.minimized) {
    display: none !important;
}

:host table th,
:host table td {
    padding: 0 !important;
    font-size: 10px !important;
}


:host(.focused) {
    border-color: #ad8f79;

    .chart-header {
        background: $chart-header-background-focus;
    }

    .chart-title {
        color: $font-color-light;

    }
}


.chart-header {
    background: $chart-header-background-blur;
    display: flex;

    h5 {
        margin-right: auto;
    }
}

.chart-title {
    color: $font-color-dark;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chart-options {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;

    button {
        padding: 0 2px;
        font-size: 14px;
        font-weight: bold;
        // background: -moz-linear-gradient(top,  #F0F0F0 50%, #D4D4D4 50%);
        // background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#F0F0F0), color-stop(50%,#D4D4D4));
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#D4D4D4',GradientType=0 );

        i {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 768px) {
        font-size: 30px;
        top: -15px;
    }
}

.chart-content {
    position: relative;
    height: calc(100% - 25px);
}

.spinner {
    top: 25%;
    position: absolute;
    left: calc(50% - 20px);
}

.canvasjs-chart-credit {
    display: none;
}