@import '../../style/variables/variables';
@import '../../style/components/spinner';

:host {
    height: 400px;
    width: 700px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #999999;
    overflow: hidden;
    background: black; // rgba(0,0,0,0.7);
    // contain: layout;
}

:host(.black) {
    .chart-content {
        visibility: hidden;
    }
}

.fa-close {
    color: $font-color-dark;
}

:host(.stretched) {
    transfrom: translate(0, 0) !important;
    position: static;
    height: 100% !important;
    width: 100% !important;
    border: none;
}

:host(.minimized) {
    display: none !important;
}

:host table th,
:host table td {
    padding: 0 !important;
    font-size: 10px !important;
}

:host(.focused) {
    border-color: #ad8f79;

    .chart-header {
        background: $chart-header-background-focus;
    }

    .chart-title {
        color: $font-color-light;

    }
}

.chart-header {
    background: $chart-header-background-blur;
    display: flex;

    h5 {
        margin-right: auto;
    }
}

.chart-title {
    color: $font-color-dark;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 22px;
}

.quickOrderContainer {
    padding: 10px;
    position: absolute;
    z-index: 2;

    .buyButton,
    .sellButton {
        padding: 4px 10px 10px 10px;
        display: inline-block;
        width: 80px;
    }

    .buyButton {
        background: #0089ff linear-gradient(180deg, #0089ff, #000);

        &:hover {
            background: #0089ff linear-gradient(180deg, #000, #0089ff);
        }
    }

    .sellButton {
        background: #0089ff linear-gradient(180deg, #dc00ff, #000);

        &:hover {
            background: #0089ff linear-gradient(180deg, #000, #dc00ff);
        }
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }
}

.chart-content {
    position: relative;
    height: calc(80% - 25px);
}

.chart-content2 {
    position: relative;
    height: calc(20%);
}

.spinner {
    top: 25%;
    position: absolute;
    left: calc(50% - 20px);
}

.canvasjs-chart-credit {
    display: none;
}