<div #draghandle
	 class="chart-header clearfix"
	 resizable
	 (onBeforeResize)="_chartComponent.pinToCorner($event)"
	 (onAfterResize)="_chartComponent.unpinFromCorner()"
>
	<ng-container *ngIf="model.options$ | async as options">
		<h5 class="chart-title">{{options.symbol}} - {{options.timeFrame}} - {{options.type}} #{{options.groupId}}</h5>

		<button (click)="!$event.stopPropagation() && toggleViewState(false)"
				type="button" class="dropdown-toggle text-dark button-minimize"
				aria-expanded="false">
			<i class="fa fa-window-minimize"></i>
		</button>
		<button *ngIf="viewState === 'windowed'"
				(click)="toggleViewState('stretched')"
				type="button" class="dropdown-toggle text-dark button-expand"
				aria-expanded="false">
			<i class="fa fa-expand"></i>
		</button>
		<button *ngIf="viewState === 'stretched'"
				(click)="toggleViewState('windowed')"
				type="button"
				class="dropdown-toggle text-dark button-compress"
				aria-expanded="false">
			<i class="fa fa-compress"></i>
		</button>
		<button (click)="destroy()" type="button" class="dropdown-toggle text-dark button-destroy"
				data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
			<i class="fa fa-close"></i>
		</button>
	</ng-container>
</div>


<div style="position: relative;" class="chart-content">
	<div dialogAnchor></div>
	<chart [model]="model"></chart>
</div>
