<ul class="filter-options">
    <li class="form-group">
        <label for="filterCountry">PEOPLE FROM</label>
        <select class="form-control" id="filterCountry">
            <option value="">Everywhere</option>
            <optgroup>
                <option *ngFor="let country of countries" [attr.value]="country.code">{{country.name}}</option>
            </optgroup>
        </select>
    </li>
    <li class="form-group">
        <label for="whoInvested">WHO INVESTED IN</label>
        <select class="form-control" id="whoInvested">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <label for="gainedMin">GAINED AT LEAST</label>
        <select class="form-control" id="gainedMin">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <label for="duringTime">DURING THE</label>
        <select class="form-control" id="duringTime">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <button class="btn btn-sm btn-success">Go !</button>
    </li>
</ul>

<div class="scroll-container">
    <h2 class="item-row-header">Newest members</h2>

    <section class="item-row">
        <div *ngFor="let model of newest$ | async" class="card clearfix">
            <ng-container *ngIf="model.options$ | async as options">
                <header [style.background]="'url(' + options.profileImg + ')'">
                    <a [routerLink]="['/main/user/', options.user_id]" [routerLinkActive]="['active']"></a>
                </header>
                <main>
                    <h4><a>{{model.options.name}}</a></h4>
                    <h3 class="roi">114.2 %</h3>
                    <h4 style="color: #b7b7b7;"><span>{{options.transactions}}</span> transactions</h4>
                </main>
                <footer>
                    <div>
                        <p><span class="followers">{{options.followersCount}}</span> followers</p>
                        <p><span class="followers">{{options.copiersCount}}</span> copiers</p>
                    </div>
                    <div *ngIf="options._id !== selfId">
                        <button *ngIf="!options.iCopy" (click)="channelService.toggleCopy(model, true)" class="btn btn-sm btn-success pull-right">Copy</button>
                        <button *ngIf="options.iCopy" (click)="channelService.toggleCopy(model, false)" class="btn btn-sm btn-danger pull-right">UnCopy</button>
                        <button *ngIf="!options.iFollow" (click)="channelService.toggleFollow(model, true)" class="btn btn-sm btn-success pull-right">Follow</button>
                        <button *ngIf="options.iFollow" (click)="channelService.toggleFollow(model, false)" class="btn btn-sm btn-danger pull-right">UnFollow</button>
                    </div>
                </footer>
            </ng-container>
        </div>
    </section>

    <h2 class="item-row-header">Editors' Choice</h2>

    <section class="item-row">
        <div *ngFor="let model of editorChoice$ | async" class="card clearfix">
            <ng-container *ngIf="model.options$ | async as options">
                <header [style.background]="'url(' + options.profileImg + ')'">
                    <a [routerLink]="['/main/user/', options.user_id]" [routerLinkActive]="['active']"></a>
                </header>
                <main>
                    <h4><a>{{model.options.name}}</a></h4>
                    <h3 class="roi">114.2 %</h3>
                    <h4 style="color: #b7b7b7;"><span>{{options.transactions}}</span> transactions</h4>
                </main>
                <footer>
                    <div>
                        <p><span class="followers">{{options.followersCount}}</span> followers</p>
                        <p><span class="followers">{{options.copiersCount}}</span> copiers</p>
                    </div>
                    <div *ngIf="options._id !== selfId">
                        <button *ngIf="!options.iCopy" (click)="channelService.toggleCopy(model, true)" class="btn btn-sm btn-success pull-right">Copy</button>
                        <button *ngIf="options.iCopy" (click)="channelService.toggleCopy(model, false)" class="btn btn-sm btn-danger pull-right">UnCopy</button>
                        <button *ngIf="!options.iFollow" (click)="channelService.toggleFollow(model, true)" class="btn btn-sm btn-success pull-right">Follow</button>
                        <button *ngIf="options.iFollow" (click)="channelService.toggleFollow(model, false)" class="btn btn-sm btn-danger pull-right">UnFollow</button>
                    </div>
                </footer>
            </ng-container>
        </div>
    </section>

    <h2 class="item-row-header">Top Investors</h2>

    <section class="item-row">
        <div *ngFor="let model of topInvestors$ | async" class="card clearfix">
            <ng-container *ngIf="model.options$ | async as options">
                <header [style.background]="'url(' + model.options.profileImg + ')'">
                    <a [routerLink]="['/main/user/', options.user_id]" [routerLinkActive]="['active']"></a>
                </header>
                <main>
                    <h4><a>{{model.options.name}}</a></h4>
                    <h3 class="roi">114.2 %</h3>
                    <h4 style="color: #b7b7b7;"><span>{{model.options.transactions}}</span> transactions</h4>
                </main>
                <footer>
                    <div>
                        <p><span class="followers">{{options.followersCount}}</span> followers</p>
                        <p><span class="followers">{{options.copiersCount}}</span> copiers</p>
                    </div>
                    <div *ngIf="options._id !== selfId">
                        <button *ngIf="!options.iCopy" (click)="channelService.toggleCopy(model, true)" class="btn btn-sm btn-success pull-right">Copy</button>
                        <button *ngIf="options.iCopy" (click)="channelService.toggleCopy(model, false)" class="btn btn-sm btn-danger pull-right">UnCopy</button>
                        <button *ngIf="!options.iFollow" (click)="channelService.toggleFollow(model, true)" class="btn btn-sm btn-success pull-right">Follow</button>
                        <button *ngIf="options.iFollow" (click)="channelService.toggleFollow(model, false)" class="btn btn-sm btn-danger pull-right">UnFollow</button>
                    </div>
                </footer>
            </ng-container>
        </div>
    </section>
</div>