<ul class="filter-options d-none d-xl-block">
    <li class="form-group">
        <label for="filterCountry">PEOPLE FROM</label>
        <select class="form-control" id="filterCountry" (change)="onChangeCountry($event.target.value)">
            <option value="">Everywhere</option>
            <optgroup>
                <option *ngFor="let country of countries" [attr.value]="country.code">{{country.name}}</option>
            </optgroup>
        </select>
    </li>
</ul>

<h2 class="item-row-header">Newest members</h2>

<section class="item-row">
    <div *ngFor="let model of newest$ | async" class="card">
        <ng-container *ngIf="model.options$ | async as options">
            <header [style.background]="'url(' + (options.img | NormalizeImgUrl) + ')'">
                <a [routerLink]="['/user/', options._id]" [routerLinkActive]="['active']"></a>
            </header>
            <main>
                <h4>
                    <a>{{model.options.name}}</a>
                </h4>
                <p>{{options.country}}</p>
            </main>
            <footer>
                <div>
                    <p>
                        <span class="followers">{{options.followersCount}}</span> followers
                    </p>
                </div>
                <div *ngIf="options._id !== selfId">
                    <button *ngIf="!options.iFollow" (click)="toggleFollow(model, true)" class="btn btn-sm btn-success pull-right">Follow</button>
                    <button *ngIf="options.iFollow" (click)="toggleFollow(model, false)" class="btn btn-sm btn-danger pull-right">UnFollow</button>
                </div>
            </footer>
        </ng-container>
    </div>
</section>

<h2 class="item-row-header">Editors' Choice</h2>

<section class="item-row">
    <div *ngFor="let model of editorChoice$ | async" class="card">
        <ng-container *ngIf="model.options$ | async as options">
            <header [style.background]="'url(' + (options.img | NormalizeImgUrl) + ')'">
                <a [routerLink]="['/user/', options._id]" [routerLinkActive]="['active']"></a>
            </header>
            <main>
                <h4>
                    <a>{{model.options.name}}</a>
                </h4>
                <p>{{options.country}}</p>
            </main>
            <footer>
                <div>
                    <p>
                        <span class="followers">{{options.followersCount}}</span> followers
                    </p>
                </div>
                <div *ngIf="options._id !== selfId">
                    <button *ngIf="!options.iFollow" (click)="toggleFollow(model, true)" class="btn btn-sm btn-success pull-right">Follow</button>
                    <button *ngIf="options.iFollow" (click)="toggleFollow(model, false)" class="btn btn-sm btn-danger pull-right">UnFollow</button>
                </div>
            </footer>
        </ng-container>
    </div>
</section>

<h2 class="item-row-header">Top Investors</h2>

<section class="item-row">
    <div *ngFor="let model of topInvestors$ | async" class="card">
        <ng-container *ngIf="model.options$ | async as options">
            <header [style.background]="'url(' + (options.img | NormalizeImgUrl) + ')'">
                <a [routerLink]="['/user/', model.options._id]" [routerLinkActive]="['active']"></a>
            </header>
            <main>
                <h4>
                    <a>{{model.options.name}}</a>
                </h4>
                <p>{{model.options.country}}</p>
            </main>
            <footer>
                <div>
                    <p>
                        <span class="followers">{{model.options.followersCount}}</span> followers
                    </p>
                </div>
                <div *ngIf="options._id !== selfId">
                    <button *ngIf="!options.iFollow" (click)="toggleFollow(model, true)" class="btn btn-sm btn-success pull-right">Follow</button>
                    <button *ngIf="options.iFollow" (click)="toggleFollow(model, false)" class="btn btn-sm btn-danger pull-right">UnFollow</button>
                </div>
            </footer>
        </ng-container>
    </div>
</section>