@import '../../style/variables/variables';
@import '../../style/helpers/normalize';

@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/_forms';
@import '~bootstrap/scss/utilities/_visibility';
// @import '~bootstrap/scss/utilities/_clearfix';

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}


:host {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    @media only screen and (min-width : 768px) {
        padding: 20px;
    }
}

.filter-options {
    display: flex;
    justify-content: space-between;

    li {
        width: 25%;
        padding-left: 20px;
        margin-bottom: 0;

        &:first-child {
            padding-left: 0;
        }
    }

    label {
        display: block;
        color: #e8e8e8;
        font-size: 12px;
        margin-bottom: 6px;
    }

    button {
        margin-top: 18px;
    }

    select {
        height: 30px !important;
        background-color: $input-color-glyphicon-background;
        color: $input-color-text;
    }
}

.item-row-header {
    border-bottom: 1px solid white;
    color: #ddd;
    position: relative;
    margin: 15px 0;
    padding-bottom: 5px;

    &:after {
        display: block;
        width: 100%;
        content: "";
        border-bottom: 1px solid #e0e0e0;
        position: absolute;
        bottom: 0;
    }
}

.item-row {
    display: flex;
    overflow-x: auto;
    margin: 15px 0;
    padding-bottom: 20px;
    min-height: 320px;
}

.card {
    border-bottom: 1px solid $border-color-grey;
    border-left: 1px solid $border-color-grey;
    background: $background-dark;
    display: block;
    width: 300px;
    min-width: 300px;
    margin: 0 15px;
    height: 300px;

    header {
        width: 100%;
        height: 150px;
        background-position: 0 -50px !important;
        background-size: cover !important;

        a {
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    main {
        border-bottom: 1px solid grey;
        padding: 10px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        p {
            color: #b7b7b7;
        }

        button {
            margin-left: 20px;
            margin-top: 6px;
        }
    }

    .roi {
        color: #6eaf0f;
    }

    .followers {
        font-weight: bold;
    }

    @include clearfix();
}