<header>
    <i class="fa fa-bell"></i>
    <h3>{{symbol.options.displayName}}</h3>
    <i (click)="onDestroy.emit(true)" class="fa fa-close"></i>
</header>
<main>
    <ul class="side-menu-top-nav">
        <li [ngClass]="{active: activeTab === 'new'}" (click)="toggleTab('new')">New</li>
        <li [ngClass]="{active: activeTab === 'active'}" (click)="toggleTab('active')">Active</li>
        <li [ngClass]="{active: activeTab === 'history'}" (click)="toggleTab('history')">History</li>
    </ul>
    <ng-container *ngIf="activeTab === 'new'">
        <form class="form" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
                <label for="amount">Amount
                    <sup>(minimum 1% difference)</sup>
                </label>
                <div class="input-group" style="display: flex;">
                    <span class="input-group-btn" (touchstart)="onMouseDownNumberInput($event, -1)" (mousedown)="onMouseDownNumberInput($event, -1)"
                        (mouseout)="onMouseUpNumberInput($event, -1)" (touchend)="onMouseUpNumberInput($event, -1)"
                        (mouseup)="onMouseUpNumberInput($event, -1)">
                        <button type="button" class="btn btn-sm btn-danger btn-number" data-type="minus">
                            <i class="fa fa-minus"></i>
                        </button>
                    </span>
                    <input type="text" [(ngModel)]="formModel.amount" name="amount" class="form-control input-number" (change)="onChangeInputValue()">
                    <span class="input-group-btn" (touchstart)="onMouseDownNumberInput($event, 1)" (mousedown)=" onMouseDownNumberInput($event, 1) "
                        (mouseout)="onMouseUpNumberInput($event, 1)" (touchend)="onMouseUpNumberInput($event, 1)"
                        (mouseup)="onMouseUpNumberInput($event, 1)">
                        <button type="button" class="btn btn-sm btn-success btn-number" data-type="plus">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <span class="muted">Diff: {{(((formModel.amount / symbol.options.bid) * 100) - 100).toFixed(2)}}%
                    <i class="fa fa-arrow-{{formModel.amount > symbol.options.bid ? 'up' : 'down'}}"></i>
                </span>
                <p>Current price: {{symbol.options.bid}}</p>
            </div>
            <div class="form-group">
                <label for="alarmName" style="width: 100%;">Name
                    <sup>(optional)</sup>
                </label>
                <input class="form-control form-input w-50 p-3 d-inline-block" type="text" name="name" id="alarmName" [(ngModel)]="formModel.name"
                    placeholder="name">
                <button class="btn btn-sm btn-success pull-right">Add</button>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="activeTab === 'active'" class="active-alarm-view" style="padding-top: 10px;">
        <div class="alarm-row" *ngFor="let event of this.activeEvents">
            <i class="fa fa-arrow-{{event.alarm.dir === 1 ? 'up' : 'down'}}"></i>
            <span>{{event.alarm.price}}</span>
            <span>{{event.createDate | date: 'dd/MM/yyyy HH:MM:SS'}}</span>
            <i (click)="eventService.remove(event._id)" class="fa fa-close" style="float: right"></i>
        </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'history'" style="padding-top: 10px;">
        <div class="alarm-row" *ngFor="let event of this.historyEvents$ | async">
            <i class="fa fa-arrow-{{event.alarm.dir === 1 ? 'up' : 'down'}}"></i>
            <span>{{event.alarm.price}}</span>
            <span>{{event.triggeredDate | date: 'dd/MM/yyyy HH:MM:SS'}}</span>
        </div>
    </ng-container>
</main>