<header>
    <i class="fa fa-bell"></i>
    <h2>Price alarm</h2>
    <i (click)="onDestroy.emit(true)" class="fa fa-close"></i>
</header>
<main>
    <!-- tabs header -->
    <ul class="side-menu-top-nav">
        <li [ngClass]="{active: activeTab === 'new'}" (click)="toggleTab('new')">New</li>
        <li [ngClass]="{active: activeTab === 'active'}" (click)="toggleTab('active')">Active</li>
        <li [ngClass]="{active: activeTab === 'history'}" (click)="toggleTab('history')">History</li>
    </ul>

    <!-- loading spinner-->
    <!-- <div *ngIf="loading" class="spinner"></div> -->

    <!-- tab new -->
    <ng-container *ngIf="activeTab === 'new'">
        <form class="form" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
                <label for="amount">Amount
                    <sup>(min 1%, max 50% difference)</sup>
                </label>
                <div class="input-group" style="display: flex;">
                    <button type="button" class="btn btn-sm btn-danger btn-number" data-type="minus" [disabled]="saving === true" (touchstart)="onMouseDownNumberInput($event, -1)"
                        (mousedown)="onMouseDownNumberInput($event, -1)" (mouseout)="onMouseUpNumberInput($event, -1)" (touchend)="onMouseUpNumberInput($event, -1)"
                        (mouseup)="onMouseUpNumberInput($event, -1)" #minusBtn>
                        <i class="fa fa-minus"></i>
                    </button>

                    <input type="number" [(ngModel)]="formModel.amount" name="amount" class="form-control input-number" (change)="onChangeInputValue()"
                        [disabled]="saving === true">

                    <button type="button" class="btn btn-sm btn-success btn-number" data-type="plus" [disabled]="saving === true" (touchstart)="onMouseDownNumberInput($event, 1)"
                        (mousedown)=" onMouseDownNumberInput($event, 1) " (mouseout)="onMouseUpNumberInput($event, 1)" (touchend)="onMouseUpNumberInput($event, 1)"
                        (mouseup)="onMouseUpNumberInput($event, 1)" #plusBtn>
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="footer-new-alarm">
                <div>
                    <p *ngIf="symbol"class="muted">Diff: {{(((formModel.amount / symbol.options.bid) * 100) - 100).toFixed(2)}}%
                        <i class="fa fa-arrow-{{formModel.amount > symbol.options.bid ? 'up' : 'down'}}"></i>
                    </p>
                    <!-- <p *ngIf="symbol">Current price: {{symbol.price$ | async}}</p> -->
                </div>
                <div>
                    <button class="btn btn-success pull-right" [disabled]="saving === true">
                        Add alarm
                        <i class="fa fa-spinner" *ngIf="saving === true"></i>
                    </button>
                </div>
            </div>
        </form>
    </ng-container>

    <!-- tab active-->
    <div *ngIf="activeTab === 'active'" class="active-alarm-view" style="padding-top: 10px;">
        <div class="alarm-row" *ngFor="let event of getActiveEvents()">
            <i class="fa fa-arrow-{{event.alarm.dir === 1 ? 'up' : 'down'}}"></i>
            <span>{{event.alarm.price}}</span>
            <span>{{event.createdAt}}</span>
            <i (click)="onClickRemoveEvent(event);" class="fa fa-trash" style="float: right"></i>
        </div>
        <p *ngIf="getActiveEvents().length === 0" class="no-events-text">No active events yet. Set some new ones.</p>
    </div>

    <!-- tab history-->


    <ng-container *ngIf="activeTab === 'history'" style="padding-top: 10px;">
        <div *ngIf="historyEvents$ | async as events; else loading">
            <ng-container *ngIf="events.length; else noItems">
                <div class="alarm-row" *ngFor="let event of events">
                    <i class="fa fa-arrow-{{event.alarm.dir === 1 ? 'up' : 'down'}}"></i>
                    <span>{{event.alarm.price}}</span>
                    <span>{{event.triggeredDate}}</span>
                </div>
            </ng-container>
            <ng-template #noItems>
                <p class="no-events-text">No alarms triggered yet. Set some new ones.</p>
            </ng-template>
        </div>
        <ng-template #loading>
            <div class="spinner"></div>
        </ng-template>


    </ng-container>
</main>