@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/_grid';
@import '~bootstrap/scss/_forms';
@import '~bootstrap/scss/utilities/_sizing';
@import '~bootstrap/scss/utilities/_visibility';

@import '../../style/variables/variables';
@import '../../style/helpers/normalize';

.active {
    background: $general-active;
}

.fa-arrow-up {
    color: $font-color-up;
}

.fa-arrow-down {
    color: $font-color-down;   
}

sup {
    color: #a2a2a2;
}

:host {
    display: none;
    overflow-y: auto;
    background: #222222;
    // background: $background-light;

    &.open {
        display: flex;
        flex-flow: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
        bottom: 0;
    }

    @media only screen and (min-width : 992px) { 
        &.open {
            position: static;
            min-width: 400px;
            width: 400px;
            box-shadow: -3px 1px 6px rgba(0, 0, 0, 0.6);
        }
    }
}

header {
    padding: 6px 10px;
    display: flex;
    background: $background-th;
    flex-shrink: 0;
    height: 40px;

    i {
        font-size: 28px;
    }

    .fa-close {
        margin-left: auto;
        cursor: pointer;
    }

    .fa-bell {
        font-size: 24px;
        margin-top: 2px;
        margin-right: 10px;
    }

    h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 28px;
    }
}

main {
    height: 100%;
}

form {
    padding: 10px;
}

.side-menu-top-nav {
    display: flex;
    margin-bottom: 10px;

    li {
        padding: 8px 10px;
        width: 100%;
        cursor: pointer;
        font-size: 16px;

        &.active {
            background: $background-th;
        }

        &:hover {
            background: $background-th;
        }
    }
}

.btn-number {
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 10px 20px;

    i {
        font-size: 16px;
    }
}

.form-control {
    padding: 2px 8px;
    border-radius: 0;
    border: none;
    font-size: 13px;
    line-height: 25px;
}

input[type=text] {
    margin: 0;
    background: #353535;
    color: white;
    font-size: 16px;
    
    &:disabled {
        background: #353535;
        color: #a3a3a3;
    }
}

.alarm-row {
    padding: 8px;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;

    > * {
        padding-right: 10px;
    }

    .fa {
        margin: 0 10px;
        cursor: pointer;
        padding-right: 0;

        &:first-child {
            margin-left: 0;
        }
    }

    &:nth-child(even) {
        background: #222122;
    }
}

.footer-new-alarm {
    display: flex;

    > div {
        width: 50%;
    }

    p {
        line-height: 20px;
    }
}