<header>
        <i class="fa fa-bell"></i>
        <h5>{{symbol.options.displayName}}</h5>
        <i (click)="toggleAlarmMenuVisibility()" class="fa fa-close"></i>
    </header>
    <main>
        <ul class="side-menu-top-nav">
            <li [ngClass]="{active: activeAlarmMenu === 'new'}" (click)="toggleAlarmMenuTab('new')">New</li>
            <li [ngClass]="{active: activeAlarmMenu === 'active'}" (click)="toggleAlarmMenuTab('active')">Active</li>
            <li [ngClass]="{active: activeAlarmMenu === 'history'}" (click)="toggleAlarmMenuTab('history')">History</li>
        </ul>
        <ng-container *ngIf="activeAlarmMenu === 'new'">
            <form class="form" (ngSubmit)="onCreateFormSubmit(alarmForm)" #alarmForm="ngForm">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="alarmType" id="alarmType1" value="1" [(ngModel)]="formModel.alarmType">price
                    </label>
                </div>

                <div class="form-group">
                    <label for="amount">Amount
                        <sup>(at least 1% difference)</sup>
                    </label>
                    <div class="input-group" style="display: flex;">
                        <span class="input-group-btn">
                            <button (click)="onClickSideMenuNumberInput(-1, sideMenuNumberInput)" type="button" class="btn btn-danger btn-number" data-type="minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </span>
                        <input type="text" [(ngModel)]="formModel.amount" name="amount" class="form-control input-number" #sideMenuNumberInput>
                        <span class="input-group-btn">
                            <button (click)="onClickSideMenuNumberInput(1, sideMenuNumberInput)" type="button" class="btn btn-success btn-number" data-type="plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <span class="muted">Diff: {{(((formModel.amount / symbol.options.bid) * 100) - 100).toFixed(2)}}%</span>
                    <p>Current price: {{symbol.options.bid}}</p>
                </div>
                <div class="form-check form-check-inline">
                    <label for="alarmName">Name</label>
                    <input class="form-control form-input" type="text" name="name" id="alarmName" [(ngModel)]="formModel.name" placeholder="name">
                </div>

                <div class="col-sm-12 col-lg-4">
                    <button class="btn btn-primary pull-right">Set alarm</button>
                </div>
            </form>
        </ng-container>
        <div *ngIf="activeAlarmMenu === 'active'" class="active-alarm-view" style="padding-top: 10px;">
            <div class="alarm-row" *ngFor="let event of this.activeEvents$ | async">
                <span>{{event.alarm.dir === 1 ? 'U' : 'D'}}</span>
                <span>{{event.alarm.price}}</span>
                <i (click)="eventService.remove(event._id)" class="fa fa-close" style="float: right"></i>
                <i class="fa fa-pencil" style="float: right"></i>
            </div>
        </div>
        <div *ngIf="activeAlarmMenu === 'history'" style="padding-top: 10px;">
            <div class="alarm-row" *ngFor="let event of this.historyEvents$ | async">
                <span>{{event.alarm.dir === 1 ? 'U' : 'D'}}</span>
                <span>{{event.alarm.price}}</span>
                <span>{{event.triggeredDate | date: 'dd/MM/yyyy HH:MM:SS'}}</span>
            </div>
        </div>
    </main>