// @import '../../../assets/vendor/css/ace/'
@import '../../style/variables/variables';

:host {
    height: 100%;
    width: 100%;
    background: $background-light2;
    overflow: auto;
    display: flex;
}

.banner {
    position: absolute;
    right: 0;
    z-index: 10;
    padding: 2px;
    border-radius: 0;
    opacity: 0;
    transition: opacity .5s ease;
    left: 50px;
    font-size: 12px;
    text-align: center;
}

.banner.fade-in {
    opacity: 1;
}

.banner-success {
    background: #167304;
    color: $font-color-light;
}

.editor-wrapper {
    overflow: auto;
    height: 100%;
    width: 100%;
    position: relative;
}
.ace_editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}