<ng-container *ngIf="user$ | async as user">
    <ng-container *ngIf="user.options$ | async as options">
        <header>
            <div class="profile-details">
                <img class="profileImg" src="{{options.profileImg}}">
                <div class="meta-data">
                    <h2>{{options.name}}</h2>
                    <div class="profile-details-meta-container">
                        <div *ngIf="!isSelf">
                            <button *ngIf="!options.iCopy" (click)="channelService.toggleCopy(user, true)" class="btn btn-sm btn-success">Copy</button>
                            <button *ngIf="options.iCopy" (click)="channelService.toggleCopy(user, false)" class="btn btn-sm btn-danger ">UnCopy</button>
                            <button *ngIf="!options.iFollow" (click)="channelService.toggleFollow(user, true)" class="btn btn-sm btn-success ">Follow
                            </button>
                            <button *ngIf="options.iFollow" (click)="channelService.toggleFollow(user, false)" class="btn btn-sm btn-danger ">UnFollow
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="nav">
                <a [routerLink]="['/main/user/', userId, 'feed']" [routerLinkActive]="['active']">
                    <i class="fa fa-comments-o"></i>
                    <span class="hidden-md-down">Feed</span>
                </a>
                <a [routerLink]="['/main/user/', userId, 'channels']" [routerLinkActive]="['active']">
                    <i class="fa fa-exchange"></i>
                    <span class="hidden-md-down">Channels</span>
                </a>
                <a [routerLink]="['/main/user/', userId, 'statistics']" [routerLinkActive]="['active']">
                    <i class="fa fa-bar-chart"></i>
                    <span class="hidden-md-down">Stats</span>
                </a>
                <a [routerLink]="['/main/user/', userId, 'chart']" [routerLinkActive]="['active']">
                    <i class="fa fa-area-chart"></i>
                    <span class="hidden-md-down">Chart</span>
                </a>
            </nav>
        </header>
        <!--<app-social-feed *ngIf="router.url.includes('/feed')" [model]="user"></app-social-feed>-->
        <router-outlet></router-outlet>
    </ng-container>
</ng-container>