.modal-dialog {
    box-shadow: 4px 7px 13px rgba(0, 0, 0, 0.6);
}

.modal-backdrop {
    background: white;
}

.modal-content {
    background: transparent;
}

.modal-header {
    background: #151414;
    padding: 10px;

    .modal-title {
        color: white;
    }

    .close {
        padding: 10px;
        span {
            color: white;
        }
    }
}

.modal-body {
    background: #252525;
    
    label {
        color: #fff;
    }
}