<backtest-settings></backtest-settings>

<ul class="tabs-list">
	<li *ngFor="let groupId of instrumentService.groupIds$ | async;"
		[attr.data-group-id]="groupId"
		(click)="selectTab(groupId)"
		[class.active]="activeGroupId === groupId"
	>
		<a>#{{groupId}}</a>
	</li>
</ul>

<ng-container  *ngIf="activeGroupId !== null" >
	<div style="display: flex;">
		<h4>General</h4>
		<div class="progress progress-main">
			<span></span>
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70"
				 aria-valuemin="0" aria-valuemax="100">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<ul class="key-value-list">
				<li><span>Time frame</span>{{models[0].options.timeFrame}}</li>
				<li><span>Ticks</span></li>
				<li><span>Ticks p / s</span></li>
			</ul>
		</div>
	</div>

	<hr/>
</ng-container>

<backtest-report *ngFor="let model of models" [model]="model"></backtest-report>