<ul class="filter-options">
    <li class="form-group">
        <label for="exampleSelect1">PEOPLE FROM</label>
        <select class="form-control" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <label for="whoInvested">WHO INVESTED IN</label>
        <select class="form-control" id="whoInvested">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <label for="gainedMin">GAINED AT LEAST</label>
        <select class="form-control" id="gainedMin">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <label for="duringTime">DURING THE</label>
        <select class="form-control" id="duringTime">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </li>
    <li class="form-group">
        <button class="btn btn-sm btn-success">Go !</button>
    </li>
</ul>

<div class="scroll-container">
    <h2 class="editors-choices-header">Editors' Choice</h2>

    <section class="editor-choices">
        <div *ngFor="let model of users$ | async" class="card clearfix" id="{{model.options._id}}">
            <ng-container *ngIf="model.options$ | async as options">
                <header [style.background]="'url(' + options.profileImg + ')'">
                    <a [routerLink]="['/main/user/profile/', options.user_id]" [routerLinkActive]="['active']"></a>
                </header>
                <main>
                    <h4><a>{{model.options.name}}</a></h4>
                    <h3 class="roi">114.2 %</h3>
                    <h4 style="color: #b7b7b7;"><span>{{options.transactions}}</span> transactions</h4>
                </main>
                <footer>
                    {{options.iFollow}}
                    <p><span class="followers">{{options.followersCount}}</span> followers</p>
                    <button *ngIf="!options.iCopy" (click)="channelService.toggleCopy(model, true)" class="btn btn-sm btn-success pull-right">Copy</button>
                    <button *ngIf="options.iCopy" (click)="channelService.toggleCopy(model, false)" class="btn btn-sm btn-danger pull-right">UnCopy</button>
                    <button *ngIf="!options.iFollow" (click)="channelService.toggleFollow(model, true)" class="btn btn-sm btn-success pull-right">Follow</button>
                    <button *ngIf="options.iFollow" (click)="channelService.toggleFollow(model, false)" class="btn btn-sm btn-danger pull-right">UnFollow</button>
                </footer>
            </ng-container>
        </div>
    </section>

    <h2 class="editors-choices-header">Top Investors</h2>

    <section class="editor-choices">
        <div *ngFor="let model of users$ | async" class="card clearfix">
            <ng-container *ngIf="model.options$ | async as options">
                <header [style.background]="'url(' + model.options.profileImg + ')'"></header>
                <main>
                    <h4><a>{{model.options.username}}</a></h4>
                    <h3 class="roi">114.2 %</h3>
                    <h4 style="color: #b7b7b7;"><span>{{model.options.transactions}}</span> transactions</h4>
                </main>
                <footer>
                    <p><span class="followers">{{model.options.followersC}}</span> followers</p>
                    <button *ngIf="!options.iCopy" (click)="channelService.toggleCopy(model, true)" class="btn btn-sm btn-success pull-right">Copy</button>
                    <button *ngIf="options.iCopy" (click)="channelService.toggleCopy(model, false)" class="btn btn-sm btn-danger pull-right">UnCopy</button>
                    <button *ngIf="!options.iFollow" (click)="channelService.toggleFollow(model, true)" class="btn btn-sm btn-success pull-right">Follow</button>
                    <button *ngIf="options.iFollow" (click)="channelService.toggleFollow(model, false)" class="btn btn-sm btn-danger pull-right">UnFollow</button>
                </footer>
            </ng-container>
        </div>
    </section>
</div>