@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/utilities/_display';
// @import '~bootstrap/scss/utilities/_clearfix';

@import '../../style/variables/variables';
@import '../../style/helpers/normalize';

.active {
    background: $general-active;
}

.hidden {
    display: none;
}

.instrument-list-outer {
    width: 100%;
    background: $background-light;
    font-size: 12px;
    flex: 1 1 100%;
    display: flex;
    overflow: hidden;
    max-height: 100%;
}

.instrument-list-header {
	font-size: 14px;
	background: $background-th;
	color: white;
	padding: 5px 0;
    height: 30px !important;

    h4 {
        margin: 0;
        padding: 2px !important;
    }

	> div {
        padding: 0 !important;
	}

	.col-2 {
		padding-left: 18px;
	}
}

.instrument-list {
    width: 100%;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    
    a {
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row wrap;
        flex-shrink: 0;
        border-bottom: 1px solid $border-color-grey;
    }

    .instrument-image {
        float: left;
        margin-right: 6px;
    }

    .instrument-title,
    .col-1h {
        line-height: 11px;
        padding-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .col-bookmark,
    .col-alert {
        flex: 0 8%;
    }

    .col-instrument {
        flex: 0 44%;
        padding: 10px 0;
    }

    .col-changes {
        flex: 0 40%;
        padding: 10px 0;
    }

    .fa-star,
    .fa-bell {
        color: #666;
        font-size: 22px;
        // width: 10%;
        text-align: center;
        line-height: 50px;
        
        &.active-icon {
			color: #fff;
		}
    }

    @media only screen and (min-width : 768px) {
        box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.7) inset;

        .instrument-image {
            margin-right: 10px;
        }

        .col-bookmark,
        .col-alert {
            flex: 0 10%;
        }

        .col-changes {
            flex: 0 30%;
        }

        .col-instrument {
            flex: 0 50%;
        }
	}
}

.filter-list {
	background: $background-light;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
	padding: 6px 10px 6px 10px;

    display: none;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &.show {
        display: block;
    }

    .filter-list-options {
        h2 {
            padding-bottom: 4px;
            margin: 6px 0;
        }
    
        a {
            padding: 10px 0 10px 10px;
            display: block;
            font-size: 14px;
            margin-left: 5px;

            &:hover,
            &:active,
            &.active {
                background: $general-active;
            }

            span {
                float: right;
                width: 30px;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    .back-button-container {
        
        .fa-arrow-left {
            color: white;
            font-size: 20px;
            margin: 4px 10px 10px 0px;
        }
    
        h2 {
            line-height: 30px;
            margin-left: auto;
        }
    
        // @media screen and (min-width: 768px) {
        //     display: none;
        // }
    }
    
    @media only screen and (min-width : 992px) {
        position: static;
        min-width: 200px;
        max-width: 200px;
        display: block;
        z-index: auto;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5) inset;

        a {
            padding: 4px 20px;
        }
	}
}

.fa-exchange {
	font-size: 10px;
	transform: rotate(90deg);
}

// TODO - Move to general font file
.font-color-up,
.text-positive {
	color: #38cc38;
}
.font-color-down,
.text-negative {
	color: #f92929;
}