<div class="filter-list" #filter>
    <div class="back-button-container d-flex d-sm-none">
        <a class="fa fa-arrow-left"></a>
        <h2>Filters</h2>
    </div>
    <div class="filter-list-options">
        <ng-container *ngFor="let group of filterGroups">
            <h2>{{group.name}}</h2>
            <a *ngFor="let filter of group.items" [ngClass]="{active: activeFilter === filter.key}" (click)="toggleActiveFilter(filter.key)">
                {{filter.displayName}}
                <span *ngIf="filter.key === 'favorite'">{{cacheService.favoritesLength$ | async}}</span>
                <span *ngIf="filter.key === 'alarm'">{{(eventService.events$ | async).length}}</span>
                <span *ngIf="filter.key !== 'favorite' && filter.key !== 'alarm'">{{filter.length}}</span>
            </a>
        </ng-container>
    </div>
</div>

