<table>
	<thead>
	<tr>
		<th>Instrument</th>
		<th>Bid</th>
		<th>Ask</th>
	</tr>
	<tr>
		<th colspan="3">
			<input class="search-instrument-list" type="text" placeholder="Search..." #search style="color: black;">
		</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let instrument of instrumentService.instrumentList$ | async | searchFilter: search.value" [attr.data-symbol]="instrument.instrument" [attr.title]="instrument.displayName">
		<td (click)="instrumentService.create({instrument: instrument.instrument, live: true})">
			<i class="fa fa-arrow-{{instrument.direction}}"></i>
			{{ instrument.instrument }}
		</td>
		<td>{{instrument.bid}}</td>
		<td>{{instrument.ask}}</td>
	</tr>
	</tbody>
</table>


<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none">
	<li><a tabindex="-1" href="#">Action</a></li>
	<li><a tabindex="-1" href="#">Another action</a></li>
	<li><a tabindex="-1" href="#">Something else here</a></li>
	<li class="divider"></li>
	<li><a tabindex="-1" href="#">Separated link</a></li>
</ul>
