<div>
    <table>
        <thead>
        <tr>
            <th>Instrument</th>
            <th>Bid</th>
            <th>Ask</th>
        </tr>
        </thead>
    </table>

    <div>
        <input class="search-instrument-list" type="text" placeholder="search">
    </div>
    <div class="instrument-list-rows-wrapper">
        <table>
            <tbody>
            <tr *ngFor="let instrument of instruments;">
                <td (click)="instrumentsService.create({instrument: instrument, live: true})">
                    <i class="fa fa-arrow-{{data[instrument] && data[instrument].direction}}"></i>
                    {{ instrument }}
                </td>
                <td>{{data[instrument] && data[instrument].bid}}</td>
                <td>{{data[instrument] && data[instrument].ask}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>