@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_buttons';
@import '../../style/variables/variables';
@import '../../style/components/dropdown';

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #909;
}

:host {
    background-color: $background-light2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.order-table {
    width: 100%;
    color: $font-color-light;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;

    .negative {
        color: $general-error;

    }

    .positive {
        color: $general-success;
    }
}

.order-table-row-head {
    display: flex;
    background-color: #4b4b4b;

    > div {
        width: 12.50%;
        padding-left: 10px;
        font-size: 14px;
        color: #c1c0c0;
        line-height: 30px;
    }
}

.order-table-row {
    cursor: pointer;

    &:nth-child(odd) {
        background-color: #4b4b4b;
    }

    &:hover {
        background: #757575;
    }

    &.open {
        .order-table-sub-rows {
            display: block;
        }
    }

    > .row-container {
        display: flex;

        > div {
            width: 12.5%;
            line-height: 70px;
            padding-left: 10px;

            &:first-child {
                span {
                    line-height: 70px;
                    margin-left: 10px;
                }
            }

            &:nth-child(2) {

                span {
                    &:first-child {
                        min-width: 40px;
                        display: inline-block;
                    }

                    &:nth-child(2) {
                        color: $font-color-gray;
                        font-size: $font-size-s;
                    }
                }
            }
        }
    }

    button.btn-sm {
        padding: 0;
        background: $background-light;
        width: 150px;
        border-radius: 4px;

        &.positive {
            animation: fade-positive 2s ease;

            span {
                color: $general-success;
            }
        }

        &.negative {
            animation: fade-negative 2s ease;

            span {
                color: $general-error;
            }
        }

        span:first-child {
            color: $font-color-light;
            padding: 8px;
            font-size: 16px;
            text-align: center;
            border-radius: 4px 0 0 4px;
        }

        span:nth-child(2) {
            background: #f8f8f8;
            color: $font-color-dark;
            padding: 5px;
            display: inline-block;
            width: 110px;
            text-align: right;
            border-radius: 0 4px 4px 0;
            font-size: 16px;
        }
    }
}

.order-table-sub-rows {
    display: none;
    padding: 0 40px;
}

.order-table-sub-row {
    background: #aaaaaa;
    line-height: 40px;
    padding-left: 20px;
    display: flex;

    &:nth-of-type(odd) {
        background-color: #6c6c6c;
    }

    > div {
        width: 11.11%;

        &:last-child {
            width: 2%;
        }

    }
}

.chart-header {
    background: $background-light;
    height: 32px;
    display: flex;
    justify-content: space-between;

    > * {
        line-height: 32px;
    }

    > ul {
        display: flex;
        //line-height: 32px;
    }

    .header-buttons {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;

        @media screen and (min-width: 768px) {
            &:first-child {
                width: 280px;
            }
        }

        > li {
            position: relative;
            cursor: pointer;
        }

        .button-editor {
            // margin-right: 225px;

            @media screen and (max-width: 768px) {
                margin-right: 0;
            }
        }

        button {
            padding: 6px 15px;
            margin: 0 10px;
            font-size: 18px;
            cursor: pointer;

            i.fa {
                line-height: 20px;
                display: block;
            }

            @media screen and (max-width: 768px) {
                font-size: 16px;

                i.fa {
                    line-height: 25px;
                }
            }

            &.dropdown-toggle {
                span {
                    padding-right: 15px;
                    line-height: 20px;
                }

                &:after {
                    float: right;
                    margin-top: 7px;
                }
            }
        }
    }

    //.dropdown-toggle:not([disabled]):hover + .dropdown-menu {
    //	display: block;
    //}

    .dropdown-menu {
        margin: 0;

        a:hover {
            background: white;
            color: $font-color-dark;
        }
    }

    .btn-menu {
        background: #878787 linear-gradient(180deg, #6a6a6a, #000);
        color: #fff;
        text-decoration: none;
        min-width: 30px;
        text-align: center;
        margin-right: 5px;
        border: none;
        border-radius: 0;

        &:hover,
        &.active {
            background: #878787 linear-gradient(180deg, #000, #6a6a6a);
        }

        &[disabled] {
            background: #6f6f6f;

            &:hover {
                cursor: not-allowed;
            }
        }

        &:focus {
            outline: none;
        }
    }
}

.chart-container {
    height: 40%;
    width: 100%;
    display: block;
}

chart-box {
    position: static;
    height: 100%;
    width: 100%;
    display: block;
    border: none
}

@keyframes fade-positive {
    0%, 100% {
        background: $general-success
    }
    50% {
        background: $background-light;
    }
}

@keyframes fade-negative {
    0%, 100% {
        background: $general-error
    }
    50% {
        background: $background-light;
    }
}