<div style="display: flex; flex-flow: column; height: 100%;">
    <div class="orders-overview" style="height: 60%; overflow: auto;">
        <div class="order-table">
            <div class="order-table-row-head">
                <div>SYMBOL</div>
                <div>UNITS</div>
                <div>INVESTED</div>
                <div>VALUE</div>
                <div>P/L</div>
                <div>P/L%</div>
                <div>BUY</div>
                <div>SELL</div>
            </div>

            <div (click)="toggleRow(row, position.symbol)" class="order-table-row" *ngFor="let position of orderService.orders$ | async | groupBy:'symbol'"
                 #row>
                <div class="row-container">
                    <!--*ngIf="(row.options$ | async) as options"-->
                    <div><img src="/images/default/symbol/spx500-70x70.png" width="70" height="70" align="left"><span>{{position.key}}</span></div>
                    <div><span>{{position.amount}}</span></div>
                    <div>{{position.invested | currency : 'EUR':true}}</div>
                    <div>{{position.value | currency :'EUR':true}}</div>
                    <div [ngClass]="{'positive': position.PL > 0, 'negative': position.PL < 0}">{{position.PL | currency :'EUR':true }}</div>
                    <div [ngClass]="{'positive': position.PLPerc > 0, 'negative': position.PLPerc < 0}">{{position.PLPerc}}%</div>
                    <div>
                        <button [ngClass]="{'positive': position.symbolHandle.options.bidDirection === 'up', 'negative': position.symbolHandle.options.bidDirection === 'down'}"
                                (click)="placeOrder($event, constantsService.constants.ORDER_SIDE_BUY, position.symbolHandle.options.name)" class="btn btn-sm">
                            <span>B</span>
                            <span>{{position.symbolHandle.options.bid}}</span>
                        </button>
                    </div>
                    <div>
                        <button [ngClass]="{'positive': position.symbolHandle.options.askDirection === 'up', 'negative': position.symbolHandle.options.askDirection === 'down'}"
                                (click)="placeOrder($event, constantsService.constants.ORDER_SIDE_SELL, model)" class="btn btn-sm">
                            <span>S</span>
                            <span>{{position.symbolHandle.options.ask}}</span>
                        </button>
                    </div>
                </div>
                <div class="order-table-sub-rows">

                    <div class="order-table-row-head">
                        <div>ACTION</div>
                        <div>UNITS</div>
                        <div>AMOUNT</div>
                        <div>OPEN</div>
                        <div>CURRENT</div>
                        <div>SL</div>
                        <div>TP</div>
                        <div>P/L</div>
                        <div>P/L%</div>
                        <div>&nbsp;</div>
                    </div>

                    <div class="order-table-sub-row" *ngFor="let model of position.items">
                        <ng-container *ngIf="(model.options$ | async) as options">
                            <div>{{model.options.side === constantsService.constants.ORDER_SIDE_BUY ? 'Buy' : 'Sell'}}</div>
                            <div>{{model.options.amount}}</div>
                            <div>
                                <span>{{model.options.amount}}</span>
                            </div>
                            <div>{{model.options.amount * model.options.openPrice | currency : 'EUR':true}}</div>
                            <div>{{options.value | currency :'EUR':true}}</div>
                            <div></div>
                            <div></div>
                            <div [ngClass]="{'positive': options.PL > 0, 'negative': options.PL < 0}">{{options.PL | currency :'EUR':true }}</div>
                            <div [ngClass]="{'positive': options.PLPerc > 0, 'negative': options.PLPerc < 0}">{{options.PLPerc}}%</div>
                            <div>
                                <a (click)="closeOrder($event, model)"><i class="fa fa-close"></i></a>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-header">
        <!--<ng-container *ngIf="activeSymbol$ | async as model">-->
            <h4>{{(activeSymbol$ | async)?.options.symbol}}</h4>
            <ul class="header-buttons">
                <li>
                    <button (click)="activeSymbol$.getValue() && activeSymbol$.getValue().setZoom(-1)"
                            [ngClass]="{'active': (activeSymbol$ | async)?.options.zoom === 1}"
                            [disabled]="!activeSymbol$.getValue()"
                            type="button"
                            class="text-dark button-zoom-out btn-menu"
                            aria-expanded="false">
                        <i class="fa fa-search-minus">
                        </i>
                    </button>
                </li>

                <li>
                    <button (click)="activeSymbol$.getValue() && activeSymbol$.getValue().setZoom(1)"
                            [ngClass]="{'active': (activeSymbol$ | async)?.options.zoom === 10}"
                            type="button"
                            class="text-dark btn-menu button-zoom-in"
                            aria-expanded="false">
                        <i class="fa fa-search-plus"></i>
                    </button>
                </li>
                <li>
                    <button (click)="activeSymbol$.getValue() && activeSymbol$.getValue().set({graphType: 'ohlc'})"
                            [disabled]="!activeSymbol$.getValue()"
                            type="button"
                            class="text-dark button-ohlc btn-menu"
                            [ngClass]="{'active': (activeSymbol$ | async)?.options.graphType === 'ohlc'}"
                            aria-expanded="false">
                        <i class="fa fa-line-chart"></i>
                    </button>
                </li>
                <li>
                    <button (click)="activeSymbol$.getValue() && activeSymbol$.getValue().set({graphType: 'candlestick'})"
                            [ngClass]="{'active': (activeSymbol$ | async)?.options.graphType === 'candlestick'}"
                            type="button"
                            class="text-dark button-candlestick btn-menu"
                            aria-expanded="false">
                        <i class="fa fa-bar-chart"></i>
                    </button>
                </li>
                <li class="dropdown">
                    <button type="button"
                            class="dropdown-toggle btn-menu"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <!--<ng-container *ngIf="model !== null">-->
                            <span>{{(activeSymbol$ | async)?.options.timeFrame}}</span>
                        <!--</ng-container>-->
                        <ng-container *ngIf="!activeSymbol$.getValue()"><span>M15</span></ng-container>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a (click)="activeSymbol$.getValue() && activeSymbol$.getValue().set({timeFrame: 'M1'})">M1</a></li>
                        <li><a (click)="activeSymbol$.getValue() && activeSymbol$.getValue().set({timeFrame: 'M5'})">M5</a></li>
                        <li><a (click)="activeSymbol$.getValue() && activeSymbol$.getValue().set({timeFrame: 'M15'})">M15</a></li>
                        <li><a (click)="activeSymbol$.getValue() && activeSymbol$.getValue().set({timeFrame: 'M30'})">M30</a></li>
                        <li><a (click)="activeSymbol$.getValue() && activeSymbol$.getValue().set({timeFrame: 'H1'})">H1</a></li>
                        <li><a (click)="activeSymbol$.getValue() && activeSymbol$.getValue().set({timeFrame: 'H4'})">H4</a></li>
                        <li><a (click)="activeSymbol$.getValue() && activeSymbol$.getValue().set({timeFrame: 'D1'})">D</a></li>
                        <li><a (click)="activeSymbol$.getValue() && activeSymbol$.getValue().set({timeFrame: 'W1'})">W</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <button type="button"
                            [disabled]="!activeSymbol$.getValue()"
                            class="dropdown-toggle btn-menu"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span>Indicator</span>
                    </button>

                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Indicators</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Custom</li>

                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Default</li>

                                <li><a (click)="addIndicator('MA')">MA</a></li>

                                <li class="dropdown-submenu pull-left">
                                    <a href="#">Even More..</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">3rd level</a></li>
                                        <li><a href="#">3rd level</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        <!--</ng-container>-->
    </div>
    <div class="chart-container">
        <chart-box *ngIf="activeSymbol$ | async as model" [model]="model" [showBox]="false"></chart-box>
    </div>
</div>

<!--<div class="footer-overview" *ngIf="userService.model.options$ | async as options">-->
<!--<div><h4>{{options.balance | currency : 'EUR':true}}</h4><p>AVAILABLE</p></div>-->
<!--<div><h4>{{totalAllocated | currency : 'EUR':true}}</h4><p>TOTAL ALLOCATED</p></div>-->
<!--<div><h4>$ 23.234,23</h4><p>PROFIT</p></div>-->
<!--<div><h4>$ 23.234,23</h4><p>(VIRTUAL) EQUALITY</p></div>-->
<!--</div>-->