@import 'colors';
@import 'font';
@import 'animations';
@import 'layout';

$color-black: #000000;
$color-clay-dark: #766d65;
$color-clay-light: #dcd7d3;
$color-clay: #a9a097;
$color-coal-dark: #20201e;
$color-coal: #3e3435;
$color-dust-light: #f9f7f5;
$color-dust: #f0f0f0;
$color-leaf-dark: #1a6a33;
$color-leaf: #499641;
$color-orange-dark: #d76715;
$color-orange: #ff9900;
$color-purple-dark: #3f1b52;
$color-purple-light: #b19ebf;
$color-purple-lighter: #efeaf2;
$color-purple: #632e82;
$color-sky-dark: #3e6784;
$color-sky: #61a3d8;
$color-teal-dark: #006f6f;
$color-teal: #3aa2a4;
$color-white: #ffffff;
$color-yellow-dark: #fbbd00;
$color-yellow-light: #faf2af;
$color-yellow: #fbe200;
$color-zest-dark: #5f691a;
$color-zest: #a8ba2e;

$color-vattenfall-blue: rgb(38, 114, 179);
$color-vattenfall-yellow: rgb(254, 216, 49);

$color-list-row-hover: rgba(0, 0, 0, 0.04);
$color-list-row-active: rgba(133, 195, 87, 1);
$color-list-row-active-soft: rgba(133, 195, 87, 0.2);
$color-list-row-active-font: #fff;
$color-list-row-disabled: #d8d8d8;
$color-icon: #fff;
$color-icon-hover: #fff;
$color-icon-secondary: $color-vattenfall-blue;
$color-icon-secondary-hover: #fff;

$color-font-light: #fff;
$color-font-link: #7bbef5;
$color-font-link-editable: #61a3d8;
$color-font-link-editable-hover: #337ab7;

$font-light: NuonMatthew-Light;
$font-medium: NuonMatthew-Medium;
$font-bold: NuonMatthew-Bold;
$font-regular: NuonMatthew-Regular;

$border-radius: 6px;

// spacing
$padding: 6px;
