@import '../../style/helpers/normalize';

@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_grid';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/_forms';
@import '../../style/variables/variables';

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #000;
	font-style: italic;
}

:host {
	background-color: $background-light2;
	height: 100%;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-flow: column;
	overflow: auto;
}

.headline-header {
	border-bottom: 1px solid white;
	color: #ddd;
	position: relative;
	margin: 0 0 20px 0;
	padding-bottom: 5px;

	&:after {
		display: block;
		width: 100%;
		content: "";
		border-bottom: 1px solid #e0e0e0;
		position: absolute;
		bottom: 0;
	}
}

.form-box-row {
	display: flex;

	.form-box-column {
		width: 50%;
	}
}

.form-box {
	margin-bottom: 30px;
	display: flex;

	&:last-child {
		text-align: right;
	}

	label {
		line-height: 30px;
		min-width: 120px;
		text-align: left;
	}

	select,
	textarea,
	input {
		box-sizing: border-box;
		padding: 6px;
		width: 100%;
		font-size: 14px;
		border-radius: 5px;
		border: 1px solid $border-color-grey;

		&:focus {
			outline: none;
			box-shadow: 1px 1px 8px rgba(68, 201, 52, 0.9), 0px -1px 6px rgba(68, 201, 52, 0.9);
		}
	}

	select,
	input {
		max-width: 300px;
	}

	textarea {
		resize: none;
		min-height: 80px;
	}

	&.form-box-radio {
		display: block;

		label {
			margin-bottom: 6px;
			display: block;
		}
	}

	.form-radio-options {
		display: flex;

		input[type=radio] {
			width: auto;
			margin-right: 10px;

			+ span {
				margin-right: 20px;
			}
		}
	}
}

.profile-image-box {
	text-align: center;
	margin-bottom: 30px;

	.uploadInput {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	label {
		font-size: 1.25em;
		font-weight: 700;
		color: white;
		display: inline-block;
		height: 300px;
		width: 300px;
		background-size: cover !important;
		cursor: pointer;
		border: 1px solid white;
		background-color: transparent;

		&:hover {
			border: 1px solid black;
		}
	}

	.saveOptions {
		line-height: 30px;

		span, a {
			margin-right: 20px;
		}

		a:hover {
			color: green;
		}

		&.hidden {
			display: none;
		}
	}

}
