@import 'variables/variables';

a, p, li, span, h1, h2, h3, h4, h5, h6, td, th, label {
    color: white;
}

a {
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

.vertical-divider {
    border-left:1px solid #38546d;
    border-right:1px solid #16222c;
    height:80px;
    position:absolute;
    right:249px;
    top:10px;
}

.text-negative {
    color: $general-error;
}

.text-positive {
    color: $general-success;
}

input::-webkit-inner-spin-button { display: none; }
input::-webkit-calendar-picker-indicator { margin-right: -20px; background:transparent;}