@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_alert';

@import '../../style/variables/variables';
@import '../../style/components/dropdown';

:host {
	contain: layout;
	position: absolute;
	top: 40px;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);

	> div {
		margin-bottom: 0;
	}
}

.alert {
	padding: 10px 100px;
	border-radius: 0;
	font-weight: bold;
}

.alert-success {
	background-color: $general-success;
	color: $font-color-light;
	border: 1px solid green;
}

.alert-error {
	background-color: $general-success;
	color: $font-color-light;
}