@import '../../style/variables/variables';
@import '../../style/helpers/normalize';

main {
    padding: 20px;
    background: $background-light2;
    height: 100%;

    .scroll-container {
        overflow-y: auto;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    dl,
    dt,
    dd {
        color: $font-color-light;
    }
}

body {
    background: #fafafa;
}