@import '../../variables/variables';

.mat-caption {
    margin-bottom: 20px;
}

form > mat-error {
    margin-bottom: 20px;
}

mat-error.mat-error {
    color: #ff0606;
    font-size: 14px;
}

mat-input-container,
mat-select {
    width: 100%;
}

input.mat-input-element {
    color: white;
}

.mat-form-field-label-wrapper .mat-form-field-label {
    font-size: 14px;
    color: white;
}

mat-radio-button label,
mat-checkbox label {
    font-weight: normal;
    color: white;
}

mat-checkbox {
    font-size: 14px;
    font-weight: normal;
    font-family: NuonMatthew-Light;

    .mat-checkbox-label {
      color: rgba(0, 0, 0, 0.54);
    }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: $color-list-row-active;
}

mat-select .mat-select-trigger {
    font-size: 14px;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
    line-height: normal;
}

.mat-input-container {
    line-height: normal;
}

.mat-form-field-invalid .mat-form-field-placeholder {
    color: #d76715;
}

mat-form-field.mat-form-field-no-border {
    margin-bottom: 0 !important;
    
    .mat-form-field-infix {
        border-top: 0 !important;
    }
}

.mat-error {
    font-size: 12px;
    margin-top: 4px;
    line-height: 15px;
    color: #d76715;
}

.mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-trigger,
.mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-arrow,
.mat-select-invalid .mat-select-trigger,
.mat-select-invalid .mat-select-arrow {
    color: #d76715;
}

.mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-underline,
.mat-select-invalid .mat-select-underline {
    background-color: #d76715;
}

.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #d76715;
}

// Restyle mat-autocomplete
.mat-autocomplete-panel.mat-autocomplete-visible {
    width: 250px !important;
}
