<!-- Tab content -->
<div class="footer-bar-wrapper">
    <!-- Tab nav -->
    <i #resizeHandle class="splitter fa fa-bars" aria-hidden="true">&nbsp;</i>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a data-target="#backtest" aria-controls="profile" role="tab" data-toggle="tab">Backtest</a>
        </li>
        <li role="presentation"><a data-target="#debugger" aria-controls="home" role="tab" data-toggle="tab">Debugger</a></li>
        <li role="presentation"><a data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        <li role="presentation"></li>
    </ul>

    <status></status>
</div>

<div class="tab-content">

    <!-- Backtest -->
    <div role="tabpanel" class="tab-pane active" id="backtest">
        <div class="container-fluid">
            <backtest></backtest>
        </div>
    </div>

    <!-- Debugger -->
    <div role="tabpanel" class="tab-pane" id="debugger">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 30px;"></th>
                <th>Time</th>

                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let message of messages">
                <td>
                    <i *ngIf="message.type === 'info'" class="fa fa-info">&nbsp;</i>
                    <i *ngIf="message.type === 'error'" class="fa fa-close">&nbsp;</i>
                    <i *ngIf="message.type === 'warning'" class="fa fa-warning">&nbsp;</i>
                </td>
                <td>{{message.timePretty}}</td>
                <td class="type-{{message.type}}" [innerHTML]="message.text"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">
        <hr />
        <button class="btn btn-danger" (click)="clearCache()">Clear cache</button>
    </div>
</div>