@import '../../../node_modules/bootstrap/scss/_variables';
@import '../../../node_modules/bootstrap/scss/_mixins';
@import '../../../node_modules/bootstrap/scss/_forms';
@import '../../../node_modules/bootstrap/scss/_nav';
@import '../../../node_modules/bootstrap/scss/utilities/_clearfix';
@import '../../style/variables/variables';

$header-height: 18px;

:host {
    border-top: 1px solid $border-color-grey;
    position: relative;
    transition: none !important;
}

.splitter {
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 10px;
    cursor: ns-resize;
    text-align: center;
    font-size: 10px;
    padding-left: 1px;
    color: $font-color-light;
    transition: transform .2s;
}

table {
    // Faster rendering (read it on google)
    table-layout: fixed;
    margin-bottom: 0;

    thead {
        tr {
            th {
                border: none;
            }
        }
    }

    th,
    td {
        font-size: 10px;
        padding: 0 0 0 5px;
        border-color: $border-color-grey;
    }

    th {
        color: $font-color-light;
    }


    td {
        color: $font-color-light-gray;

        &.type-error {
            color: $general-error;
        }
    }

    td:first-child {
        text-align: center;
    }


    th:nth-child(2) {
        width: 100px;
    }

    td:nth-child(3) {
        white-space: pre-line;
    }
}

.spinner {
    margin: 0;
    height: 10px;
    width: 10px;
}

.footer-bar-wrapper {
    background: $background-dark;
    border-bottom: 1px solid $border-color-grey;
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-tabs {
    border-bottom: 0;

    > li {
        margin-bottom: 0;
        font-size: 10px;
        color: $font-color-light;

        &.active a {
            background: $general-active !important;
            color: $font-color-light !important;
        }

        a {
            padding: 0 15px;
            border-radius: 0;
            margin-right: 0;
            border: none;
            line-height: 20px;
            display: block;
            border-right: 1px solid $border-color-grey;
        }
    }
}


.tab-content {
    height: calc(100% - 21px);
    background: $background-light;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fa-info {
    color: $general-info;
}

.fa-close {
    color: $general-error;
}

.fa-warning {
    color: $general-warning;
}

// Mobile
@media screen and (max-width: 768px) {
   :host {

       // margin-bottom: -20px;
   }
}



status {
    display: flex;
    margin-left: auto;
}
