<ng-container *ngIf="user$ | async as user">
    <header>
        <div class="profile-details">
            <img class="profileImg" src="{{user.profileImg}}">
            <div class="meta-data">
                <h2>{{user.username}}</h2>
            </div>
        </div>
        <nav class="nav">
            <a [routerLink]="['/main/user/profile/' + user._id + '/feed']" [routerLinkActive]="['active']"><i class="fa fa-comments-o"></i>Feed</a>
            <a [routerLink]="['/main/user/profile/' + user._id + '/channels']" [routerLinkActive]="['active']"><i class="fa fa-exchange"></i>Channels</a>
            <a [routerLink]="['/main/user/profile/' + user._id + '/statistics']" [routerLinkActive]="['active']"><i class="fa fa-bar-chart"></i>Stats</a>
            <a [routerLink]="['/main/user/profile/' + user._id + '/chart']" [routerLinkActive]="['active']"><i class="fa fa-area-chart"></i>Chart</a>
        </nav>
    </header>

    <router-outlet></router-outlet>

</ng-container>