@import '../../style/variables/variables';
@import '../../style/helpers/normalize';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/utilities/_display';

.g-username,
.g-link {
	color: $font-color-link !important;

	&:hover {
		color: $font-color-link-hover !important;
	}
}

.g-bold {
	font-weight: bold;
}

:host {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 20px 0;

	p,
	span,
	a {
		color: black;
	}
}

.info-box {
	background: $background-light;
	width: 230px;
	border: 1px solid $border-color-grey;
	margin-bottom: 30px;

	header {
		border-bottom: 1px solid grey;
		padding: 10px;
		color: $font-color-light;
	}

	main {
		padding: 10px;

		p,
		span {
			color: $font-color-light;
			line-height: 26px;
		}
	}
}

.info-box-user-list {
	li {
		display: flex;
	}

	img {
		height: 40px;
		width: 40px;
	}

	main {

		span {
			line-height: 40px;
			margin-left: 10px;
			text-transform: capitalize;
		}
	}
}

.feed-container {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	margin-bottom: 0px;
}

.feed {
	margin: 0 auto;
	max-width: 500px;
}

emoji-input{
	width: 100%;
}

app-comment-box {
	display: inline-block;
	margin-bottom: 20px;
}

.comment-container {
	background: white;
	margin-bottom: 15px;
	font-size: 12px;
	// transition: opacity 1s;

	// &.fade-in {
	// 	animation: fadeIn 1s; /* IE 10+, Fx 29+ */
	// }

	header,
	main,
	footer {
		i {
			margin-right: 5px;
			color: black;
		}
	}

	main,
	footer {
		border-top: 1px solid $border-color-light;

		.child-row {
			&.fade-in {
				animation: fadeIn .5s; /* IE 10+, Fx 29+ */
			}
		}
	}

	header {
		display: flex;
		padding: 5px;

		div {
			a {
				display: block;
				margin-bottom: 2px;
			}

			span {
				font-size: 10px;
			}
		}

		img {
			width: 40px;
			height: 40px;
			background: black;
			margin-right: 10px;
			border-radius: 50%;
		}

		a {

			span {
				display: block;

				&:last-child {
					float: right;
				}
			}
		}
	}

	main {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 10px;
	}

	footer {
		padding-top: 0;

		.parent-buttons {
			padding: 8px 10px;

			a {
				margin-right: 5px;
			}

			i {
				margin-left: 5px;
			}
		}

		.child-row {
			background: #ececec;
			border-bottom: 1px solid #fff;
			padding: 5px;
			//border-bottom: 1px solid $border-color-light;
			display: flex;

			.g-username {
				padding-right: 5px;
			}

			.child-content {
				span, a {
					line-height: 25px;
					display: block;
				}
			}

			.child-buttons {
				margin-top: 2px;
			}
		}

		.load-more-row {
			padding: 10px 0;
			background: #ececec;
			display: block;
			text-align: center;
			border-bottom: 1px solid #fff;
		}

		img {
			height: 28px;
			width: 28px;
			margin-right: 10px;
			border: 1px solid rgb(190, 190, 190);
			border-radius: 50%;
			margin-top: 1px;
		}

		.comment-input {

			input {
				margin-top: 2px;
				width: 100%;
				border-radius: 4px;
				border: 1px solid grey;
				padding: 6px 10px;
			}
		}

		a {
			//margin-right: 10px;
			color: black;

			&.active,
			&:hover {
				//color: red;

				span {
					color: red;
				}

				//color: $general-active;
			}
		}
	}

	.more-post-actions-button {
		margin-left: auto;
		font-size: 18px;
		margin-top: 5px;
		cursor: pointer;
	}

	.more-comment-actions-button {
		margin-left: auto;
		font-size: 18px;
		margin-top: -10px;
		cursor: pointer;
	}

	@media screen and (min-width: 768px) {
		border-radius: 5px;
		max-width: 500px;
	}
}

.showMoreTextButton {
	color: blue !important;
}