@import '../../style/components/spinner';

:host {
    contain: layout;
}

.chart {
    height: 100%;
}

.chart-loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
}