@import '../../style/variables/variables';


.dialog {
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1041;
    background: rgba(0,0,0,0.7);
    min-height: 150px;

    .modal-header {
        //background: $panel-heading;
        background: rgba(86, 15, 15, 0.72);
        padding: 5px;
        text-align: center;
        color: $font-color-light;
    }

    .modal-content {
        background: $background-dark;
    }

    .modal-footer {
        button {
            margin: 0 5px;
        }
    }
}


.dialog-body {
    text-align: left;
    padding: 5px;
}



.fa-close {
    cursor: pointer;
    float: right;
    font-size: 16px;
}

dialog-footer {
    cursor: default;

    button {
        cursor: pointer;
    }
}