<div class="modal dialog" id="loginModal" keyboard="true" backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{options.title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div role="form" class="form-horizontal">
                    <div class="container-fluid">
                        <div class="form-group" >
                            <ng-container *ngIf="model">
                                <div class="col-sm-12" *ngFor="let input of model.inputs">
                                    <label>{{input.name}}</label>


                                    <input *ngIf="['number', 'text', 'color'].indexOf(input.type) > -1"
                                           [(ngModel)]="input.value"
                                           type="{{input.type}}"
                                           class="form-control"
                                           placeholder="{{input.name}}"
                                           value="{{input.value}}" />

                                    <select *ngIf="input.type === 'select'" class="form-control">
                                        <option value="default">DEFAULT</option>
                                        <option value="default">DEFAULT</option>
                                        <option value="default">DEFAULT</option>
                                    </select>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button *ngFor="let button of options.buttons"
                        value="{{button.value}}"
                        class="btn btn-sm btn-{{button.type || 'primary'}} pull-right"
                        (click)="onClickButton($event.srcElement.getAttribute('value'))"
                >
                    {{button.text}}
                </button>
            </div>
        </div>
    </div>
</div>


<!--<div class="dialog">-->
    <!--<div class="dialog-header">-->
       <!--{{options.title}}-->
        <!--<i class="fa fa-close"></i>-->
    <!--</div>-->
    <!--<div class="dialog-body">-->
        <!--<div role="form" class="form-horizontal">-->
            <!--<div class="container-fluid">-->
                <!--<div class="form-group" >-->
                    <!--<ng-container *ngIf="model">-->
                        <!--<div class="col-sm-12" *ngFor="let input of model.inputs">-->
                            <!--<label>{{input.name}}</label>-->


                            <!--<input *ngIf="['number', 'text', 'color'].indexOf(input.type) > -1"-->
                                   <!--[(ngModel)]="input.value"-->
                                   <!--type="{{input.type}}"-->
                                   <!--class="form-control"-->
                                   <!--placeholder="{{input.name}}"-->
                                   <!--value="{{input.value}}" />-->

                            <!--<select *ngIf="input.type === 'select'" class="form-control">-->
                                <!--<option value="default">DEFAULT</option>-->
                                <!--<option value="default">DEFAULT</option>-->
                                <!--<option value="default">DEFAULT</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</ng-container>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="dialog-footer">-->
        <!--<button *ngFor="let button of options.buttons"-->
                <!--value="{{button.value}}"-->
                <!--class="btn btn-sm btn-{{button.type || 'primary'}} pull-right"-->
                <!--(click)="onClickButton($event.srcElement.getAttribute('value'))"-->
        <!--&gt;-->
            <!--{{button.text}}-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->