.symbol-img-ACC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -30px -0px;
	background-size: 380px 380px;
}

.symbol-img-NXS {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -0px -0px;
	background-size: 380px 380px;
}

.symbol-img-ADX {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -0px -30px;
	background-size: 380px 380px;
}

.symbol-img-AE {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -30px -30px;
	background-size: 380px 380px;
}

.symbol-img-ARDR {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -60px -0px;
	background-size: 380px 380px;
}

.symbol-img-ARK {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -60px -30px;
	background-size: 380px 380px;
}

.symbol-img-ATM {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -0px -60px;
	background-size: 380px 380px;
}

.symbol-img-ZEN {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -30px -60px;
	background-size: 380px 380px;
}

.symbol-img-ZEC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -60px -60px;
	background-size: 380px 380px;
}

.symbol-img-XZC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -90px -0px;
	background-size: 380px 380px;
}

.symbol-img-XVG {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -90px -30px;
	background-size: 380px 380px;
}

.symbol-img-XUC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -90px -60px;
	background-size: 380px 380px;
}

.symbol-img-XRP {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -0px -90px;
	background-size: 380px 380px;
}

.symbol-img-XMR {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -30px -90px;
	background-size: 380px 380px;
}

.symbol-img-XLM {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -60px -90px;
	background-size: 380px 380px;
}

.symbol-img-BAT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -90px -90px;
	background-size: 380px 380px;
}

.symbol-img-BCH {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -120px -0px;
	background-size: 380px 380px;
}

.symbol-img-BCN {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -120px -30px;
	background-size: 380px 380px;
}

.symbol-img-XEM {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -120px -60px;
	background-size: 380px 380px;
}

.symbol-img-BLOCK {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -120px -90px;
	background-size: 380px 380px;
}

.symbol-img-BNB {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -0px -120px;
	background-size: 380px 380px;
}

.symbol-img-BNT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -30px -120px;
	background-size: 380px 380px;
}

.symbol-img-BTC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -60px -120px;
	background-size: 380px 380px;
}

.symbol-img-BTCD {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -90px -120px;
	background-size: 380px 380px;
}

.symbol-img-BTG {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -120px -120px;
	background-size: 380px 380px;
}

.symbol-img-BTM {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -150px -0px;
	background-size: 380px 380px;
}

.symbol-img-BTS {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -150px -30px;
	background-size: 380px 380px;
}

.symbol-img-WTC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -150px -60px;
	background-size: 380px 380px;
}

.symbol-img-WAVES {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -150px -90px;
	background-size: 380px 380px;
}

.symbol-img-VTC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -150px -120px;
	background-size: 380px 380px;
}

.symbol-img-VERI {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -0px -150px;
	background-size: 380px 380px;
}

.symbol-img-VEN {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -30px -150px;
	background-size: 380px 380px;
}

.symbol-img-USDT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -60px -150px;
	background-size: 380px 380px;
}

.symbol-img-UBQ {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -90px -150px;
	background-size: 380px 380px;
}

.symbol-img-TRX {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -120px -150px;
	background-size: 380px 380px;
}

.symbol-img-CNX {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -150px -150px;
	background-size: 380px 380px;
}

.symbol-img-SYS {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -180px -0px;
	background-size: 380px 380px;
}

.symbol-img-CVC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -180px -30px;
	background-size: 380px 380px;
}

.symbol-img-DASH {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -180px -60px;
	background-size: 380px 380px;
}

.symbol-img-DATA {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -180px -90px;
	background-size: 380px 380px;
}

.symbol-img-DCR {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -180px -120px;
	background-size: 380px 380px;
}

.symbol-img-SUB {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -180px -150px;
	background-size: 380px 380px;
}

.symbol-img-STRAT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -0px -180px;
	background-size: 380px 380px;
}

.symbol-img-DGB {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -30px -180px;
	background-size: 380px 380px;
}

.symbol-img-DGD {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -60px -180px;
	background-size: 380px 380px;
}

.symbol-img-DOGE {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -90px -180px;
	background-size: 380px 380px;
}

.symbol-img-STORJ {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -120px -180px;
	background-size: 380px 380px;
}

.symbol-img-EOS {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -150px -180px;
	background-size: 380px 380px;
}

.symbol-img-ETC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -180px -180px;
	background-size: 380px 380px;
}

.symbol-img-ETH {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -210px -0px;
	background-size: 380px 380px;
}

.symbol-img-ETHOS {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -210px -30px;
	background-size: 380px 380px;
}

.symbol-img-ETP {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -210px -60px;
	background-size: 380px 380px;
}

.symbol-img-STEEM {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -210px -90px;
	background-size: 380px 380px;
}

.symbol-img-SNT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -210px -120px;
	background-size: 380px 380px;
}

.symbol-img-SNGLS {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -210px -150px;
	background-size: 380px 380px;
}

.symbol-img-SC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -210px -180px;
	background-size: 380px 380px;
}

.symbol-img-SAN {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -0px -210px;
	background-size: 380px 380px;
}

.symbol-img-SALT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -30px -210px;
	background-size: 380px 380px;
}

.symbol-img-REP {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -60px -210px;
	background-size: 380px 380px;
}

.symbol-img-RDN {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -90px -210px;
	background-size: 380px 380px;
}

.symbol-img-QTUM {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -120px -210px;
	background-size: 380px 380px;
}

.symbol-img-QSP {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -150px -210px;
	background-size: 380px 380px;
}

.symbol-img-PURA {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -180px -210px;
	background-size: 380px 380px;
}

.symbol-img-PPT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -210px -210px;
	background-size: 380px 380px;
}

.symbol-img-PPC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -240px -0px;
	background-size: 380px 380px;
}

.symbol-img-POWR {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -240px -30px;
	background-size: 380px 380px;
}

.symbol-img-POT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -240px -60px;
	background-size: 380px 380px;
}

.symbol-img-PIVX {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -240px -90px;
	background-size: 380px 380px;
}

.symbol-img-PAY {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -240px -120px;
	background-size: 380px 380px;
}

.symbol-img-PART {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -240px -150px;
	background-size: 380px 380px;
}

.symbol-img-FAIR {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -240px -180px;
	background-size: 380px 380px;
}

.symbol-img-FCT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -240px -210px;
	background-size: 380px 380px;
}

.symbol-img-OMG {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -0px -240px;
	background-size: 380px 380px;
}

.symbol-img-FUN {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -30px -240px;
	background-size: 380px 380px;
}

.symbol-img-GAME {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -60px -240px;
	background-size: 380px 380px;
}

.symbol-img-GAS {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -90px -240px;
	background-size: 380px 380px;
}

.symbol-img-NXT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -120px -240px;
	background-size: 380px 380px;
}

.symbol-img-ADA {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -150px -240px;
	background-size: 380px 380px;
}

.symbol-img-NEO {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -180px -240px;
	background-size: 380px 380px;
}

.symbol-img-NAV {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -210px -240px;
	background-size: 380px 380px;
}

.symbol-img-MTL {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -240px -240px;
	background-size: 380px 380px;
}

.symbol-img-MONA {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -270px -0px;
	background-size: 380px 380px;
}

.symbol-img-MNX {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -270px -30px;
	background-size: 380px 380px;
}

.symbol-img-MAID {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -270px -60px;
	background-size: 380px 380px;
}

.symbol-img-LTC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -270px -90px;
	background-size: 380px 380px;
}

.symbol-img-LSK {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -270px -120px;
	background-size: 380px 380px;
}

.symbol-img-GBYTE {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -270px -150px;
	background-size: 380px 380px;
}

.symbol-img-GNO {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -270px -180px;
	background-size: 380px 380px;
}

.symbol-img-GNT {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -270px -210px;
	background-size: 380px 380px;
}

.symbol-img-LKK {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -270px -240px;
	background-size: 380px 380px;
}

.symbol-img-KNC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -0px -270px;
	background-size: 380px 380px;
}

.symbol-img-HSR {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -30px -270px;
	background-size: 380px 380px;
}

.symbol-img-ICN {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -60px -270px;
	background-size: 380px 380px;
}

.symbol-img-KMD {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -90px -270px;
	background-size: 380px 380px;
}

.symbol-img-IOC {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -120px -270px;
	background-size: 380px 380px;
}

.symbol-img-ZRX {
    width: 30px;
    height: 30px;
    background: url("spritesheet.png") -150px -270px;
	background-size: 380px 380px;
}

.symbol-img-EMC2 {
    width: 30px;
    height: 29px;
    background: url("spritesheet.png") -180px -270px;
	background-size: 380px 380px;
}

.symbol-img-HKD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -210px -270px;
	background-size: 380px 380px;
}

.symbol-img-HK33_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -230px -270px;
	background-size: 380px 380px;
}

.symbol-img-GBP_ZAR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -250px -270px;
	background-size: 380px 380px;
}

.symbol-img-GBP_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -270px -270px;
	background-size: 380px 380px;
}

.symbol-img-GBP_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -0px;
	background-size: 380px 380px;
}

.symbol-img-GBP_PLN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -20px;
	background-size: 380px 380px;
}

.symbol-img-GBP_NZD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -40px;
	background-size: 380px 380px;
}

.symbol-img-GBP_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -60px;
	background-size: 380px 380px;
}

.symbol-img-NAS100_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -80px;
	background-size: 380px 380px;
}

.symbol-img-NATGAS_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -100px;
	background-size: 380px 380px;
}

.symbol-img-GBP_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -120px;
	background-size: 380px 380px;
}

.symbol-img-GBP_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -140px;
	background-size: 380px 380px;
}

.symbol-img-NL25_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -160px;
	background-size: 380px 380px;
}

.symbol-img-USB10Y_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -360px;
	background-size: 380px 380px;
}

.symbol-img-GBP_AUD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -200px;
	background-size: 380px 380px;
}

.symbol-img-NZD_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -220px;
	background-size: 380px 380px;
}

.symbol-img-NZD_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -240px;
	background-size: 380px 380px;
}

.symbol-img-NZD_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -260px;
	background-size: 380px 380px;
}

.symbol-img-NZD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -280px;
	background-size: 380px 380px;
}

.symbol-img-NZD_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -300px;
	background-size: 380px 380px;
}

.symbol-img-NZD_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -300px;
	background-size: 380px 380px;
}

.symbol-img-FR40_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_ZAR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_TRY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_SEK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_PLN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_NZD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_NOK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_HUF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_GBP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_DKK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -300px;
	background-size: 380px 380px;
}

.symbol-img-EUR_CZK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -0px;
	background-size: 380px 380px;
}

.symbol-img-EUR_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -20px;
	background-size: 380px 380px;
}

.symbol-img-SG30_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -40px;
	background-size: 380px 380px;
}

.symbol-img-SGD_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -60px;
	background-size: 380px 380px;
}

.symbol-img-SGD_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -80px;
	background-size: 380px 380px;
}

.symbol-img-SGD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -100px;
	background-size: 380px 380px;
}

.symbol-img-EUR_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -120px;
	background-size: 380px 380px;
}

.symbol-img-EUR_AUD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -140px;
	background-size: 380px 380px;
}

.symbol-img-SOYBN_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -160px;
	background-size: 380px 380px;
}

.symbol-img-SPX500_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -180px;
	background-size: 380px 380px;
}

.symbol-img-EU50_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -200px;
	background-size: 380px 380px;
}

.symbol-img-JP225_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -220px;
	background-size: 380px 380px;
}

.symbol-img-DE30_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -240px;
	background-size: 380px 380px;
}

.symbol-img-DE10YB_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -260px;
	background-size: 380px 380px;
}

.symbol-img-SUGAR_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -280px;
	background-size: 380px 380px;
}

.symbol-img-CORN_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -300px;
	background-size: 380px 380px;
}

.symbol-img-CN50_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -320px;
	background-size: 380px 380px;
}

.symbol-img-TRY_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -320px;
	background-size: 380px 380px;
}

.symbol-img-TWIX_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -320px;
	background-size: 380px 380px;
}

.symbol-img-CHF_ZAR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -320px;
	background-size: 380px 380px;
}

.symbol-img-UK100_GBP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -320px;
	background-size: 380px 380px;
}

.symbol-img-UK10YB_GBP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -320px;
	background-size: 380px 380px;
}

.symbol-img-US2000_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -320px;
	background-size: 380px 380px;
}

.symbol-img-US30_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -320px;
	background-size: 380px 380px;
}

.symbol-img-USB02Y_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -320px;
	background-size: 380px 380px;
}

.symbol-img-USB05Y_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -320px;
	background-size: 380px 380px;
}

.symbol-img-IN50_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -320px;
	background-size: 380px 380px;
}

.symbol-img-USB30Y_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -320px;
	background-size: 380px 380px;
}

.symbol-img-CHF_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -320px;
	background-size: 380px 380px;
}

.symbol-img-USD_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -320px;
	background-size: 380px 380px;
}

.symbol-img-USD_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -320px;
	background-size: 380px 380px;
}

.symbol-img-USD_CNH {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -320px;
	background-size: 380px 380px;
}

.symbol-img-USD_CZK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -320px;
	background-size: 380px 380px;
}

.symbol-img-USD_DKK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -0px;
	background-size: 380px 380px;
}

.symbol-img-USD_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -20px;
	background-size: 380px 380px;
}

.symbol-img-USD_HUF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -40px;
	background-size: 380px 380px;
}

.symbol-img-USD_INR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -60px;
	background-size: 380px 380px;
}

.symbol-img-USD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -80px;
	background-size: 380px 380px;
}

.symbol-img-USD_MXN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -100px;
	background-size: 380px 380px;
}

.symbol-img-USD_NOK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -120px;
	background-size: 380px 380px;
}

.symbol-img-USD_PLN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -140px;
	background-size: 380px 380px;
}

.symbol-img-USD_SAR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -160px;
	background-size: 380px 380px;
}

.symbol-img-USD_SEK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -180px;
	background-size: 380px 380px;
}

.symbol-img-USD_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -200px;
	background-size: 380px 380px;
}

.symbol-img-USD_THB {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -220px;
	background-size: 380px 380px;
}

.symbol-img-USD_TRY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -240px;
	background-size: 380px 380px;
}

.symbol-img-USD_ZAR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -260px;
	background-size: 380px 380px;
}

.symbol-img-CHF_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -280px;
	background-size: 380px 380px;
}

.symbol-img-CAD_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -300px;
	background-size: 380px 380px;
}

.symbol-img-CAD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -320px;
	background-size: 380px 380px;
}

.symbol-img-CAD_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -340px;
	background-size: 380px 380px;
}

.symbol-img-WHEAT_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -340px;
	background-size: 380px 380px;
}

.symbol-img-CAD_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -340px;
	background-size: 380px 380px;
}

.symbol-img-WTICO_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAG_AUD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAG_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAG_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAG_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAG_GBP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAG_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAG_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAG_NZD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAG_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAG_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAU_AUD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAU_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAU_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -320px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAU_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -340px -340px;
	background-size: 380px 380px;
}

.symbol-img-XAU_GBP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -0px;
	background-size: 380px 380px;
}

.symbol-img-XAU_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -20px;
	background-size: 380px 380px;
}

.symbol-img-XAU_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -40px;
	background-size: 380px 380px;
}

.symbol-img-XAU_NZD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -60px;
	background-size: 380px 380px;
}

.symbol-img-XAU_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -80px;
	background-size: 380px 380px;
}

.symbol-img-XAU_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -100px;
	background-size: 380px 380px;
}

.symbol-img-XAU_XAG {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -120px;
	background-size: 380px 380px;
}

.symbol-img-XCU_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -140px;
	background-size: 380px 380px;
}

.symbol-img-BCO_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -160px;
	background-size: 380px 380px;
}

.symbol-img-AUD_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -180px;
	background-size: 380px 380px;
}

.symbol-img-AUD_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -200px;
	background-size: 380px 380px;
}

.symbol-img-XPD_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -220px;
	background-size: 380px 380px;
}

.symbol-img-XPT_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -240px;
	background-size: 380px 380px;
}

.symbol-img-AUD_NZD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -260px;
	background-size: 380px 380px;
}

.symbol-img-AUD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -280px;
	background-size: 380px 380px;
}

.symbol-img-AUD_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -300px;
	background-size: 380px 380px;
}

.symbol-img-AUD_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -320px;
	background-size: 380px 380px;
}

.symbol-img-ZAR_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -360px -340px;
	background-size: 380px 380px;
}

.symbol-img-AUD_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -360px;
	background-size: 380px 380px;
}

.symbol-img-AU200_AUD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -360px;
	background-size: 380px 380px;
}

.symbol-img-GBP_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -300px -180px;
	background-size: 380px 380px;
}

