@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/utilities/_clearfix';
@import '../../style/helpers/normalize';
@import '../../style/variables/variables';

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #909;
}

:host {
    background-color: $background-light2;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.filter-options {
    background: $background-light2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    li {
        width: 25%;
        padding-left: 20px;
        margin-bottom: 0;

        &:first-child {
            padding-left: 0;
        }
    }

    label {
        display: block;
        color: #e8e8e8;
        font-size: 12px;
        margin-bottom: 6px;
    }

    button {
        margin-top: 18px;
    }

    select {
        height: 30px !important;
        background-color: $input-color-glyphicon-background;
        color: $input-color-text;
    }
}

.scroll-container {
    overflow: scroll;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.editors-choices-header {
    border-bottom: 1px solid white;
    color: #ddd;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 5px;

    &:after {
        display: block;
        width: 100%;
        content: "";
        border-bottom: 1px solid #e0e0e0;
        position: absolute;
        bottom: 0;
    }
}

.editor-choices {
    display: flex;
    overflow-x: scroll;
    margin: 20px 0;
}

.card {
    width: 100%;
    border-bottom: 1px solid $border-color-grey;
    background: #434343;
    margin: 10px 0;
    box-sizing: border-box;

    td:first-child {
        width: 50px;
    }

    td:nth-child(2) {
        width: 80px;
    }

    td:nth-child(3) {
        width: 80px;
    }

    td:nth-child(5) {
        width: 200px;
    }

    .graph img {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-right: 20px;
    }
}

.id {
    padding: 20px;
}

.profile {
    img {
        width: 70px;
    }
}

.profile-details {
    padding: 0 10px;
    span {
        font-size: 12px;
    }
}

.results-overview {
    h5 {
        padding-right: 10px;
        color: $font-color-gray;
    }
    span {
        padding-right: 10px;
    }
}

table tr td {
    &:first-child {
        text-align: left;
        margin: 0;
        padding: 0;
    }
}
