<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.21">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.29.0">
      <projectUrl>https://github.com/DutchKevv/TradeJS/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.53">
    <script>node {
    // stage(&apos;clean workspace&apos;) {
    //     cleanWs()
    // }
    stage(&apos;get source&apos;) {
        git branch: &apos;development&apos;, url: &apos;https://github.com/DutchKevv/TradeJS&apos;
    }
    // stage(&apos;install &amp; build client&apos;) {
    //     dir(&apos;client&apos;) {
    //         sh &apos;npm i &amp;&amp; npm run build&apos;
    //     }
    // }
    // stage(&apos;install &amp; build app&apos;) {
    //     dir(&apos;client-app&apos;) {
    //         // sh &apos;npm i&apos;
    //         sh &apos;./node_modules/.bin/cordova prepare android&apos;
    //         sh &apos;npm run build-android&apos;
    //     }
    // }
    stage(&apos;deploy to Google Play Console&apos;) {
        dir(&apos;client-app/platforms/android/app/build/outputs/apk/debug&apos;) {
            androidApkUpload googleCredentialsId: &apos;CoinPush&apos;, apkFilesPattern: &apos;app-debug.apk&apos;, trackName: &apos;alpha&apos;
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>