.symbol-img-ACC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -0px;
	background-size: 300px 300px;
}

.symbol-img-NXS {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -0px;
	background-size: 300px 300px;
}

.symbol-img-ADX {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -20px;
	background-size: 300px 300px;
}

.symbol-img-AE {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -20px;
	background-size: 300px 300px;
}

.symbol-img-ARDR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -0px;
	background-size: 300px 300px;
}

.symbol-img-ARK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -20px;
	background-size: 300px 300px;
}

.symbol-img-ATM {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -40px;
	background-size: 300px 300px;
}

.symbol-img-AU200_AUD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -40px;
	background-size: 300px 300px;
}

.symbol-img-AUD_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -40px;
	background-size: 300px 300px;
}

.symbol-img-AUD_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -0px;
	background-size: 300px 300px;
}

.symbol-img-AUD_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -20px;
	background-size: 300px 300px;
}

.symbol-img-AUD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -40px;
	background-size: 300px 300px;
}

.symbol-img-AUD_NZD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -60px;
	background-size: 300px 300px;
}

.symbol-img-AUD_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -60px;
	background-size: 300px 300px;
}

.symbol-img-AUD_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -60px;
	background-size: 300px 300px;
}

.symbol-img-BAT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -60px;
	background-size: 300px 300px;
}

.symbol-img-BCH {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -0px;
	background-size: 300px 300px;
}

.symbol-img-BCN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -20px;
	background-size: 300px 300px;
}

.symbol-img-BCO_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -40px;
	background-size: 300px 300px;
}

.symbol-img-BLOCK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -60px;
	background-size: 300px 300px;
}

.symbol-img-BNB {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -80px;
	background-size: 300px 300px;
}

.symbol-img-BNT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -80px;
	background-size: 300px 300px;
}

.symbol-img-BTC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -80px;
	background-size: 300px 300px;
}

.symbol-img-BTCD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -80px;
	background-size: 300px 300px;
}

.symbol-img-BTG {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -80px;
	background-size: 300px 300px;
}

.symbol-img-BTM {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -0px;
	background-size: 300px 300px;
}

.symbol-img-BTS {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -20px;
	background-size: 300px 300px;
}

.symbol-img-CAD_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -40px;
	background-size: 300px 300px;
}

.symbol-img-CAD_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -60px;
	background-size: 300px 300px;
}

.symbol-img-CAD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -80px;
	background-size: 300px 300px;
}

.symbol-img-CAD_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -100px;
	background-size: 300px 300px;
}

.symbol-img-CHF_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -100px;
	background-size: 300px 300px;
}

.symbol-img-CHF_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -100px;
	background-size: 300px 300px;
}

.symbol-img-CHF_ZAR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -100px;
	background-size: 300px 300px;
}

.symbol-img-CN50_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -100px;
	background-size: 300px 300px;
}

.symbol-img-CNX {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -100px;
	background-size: 300px 300px;
}

.symbol-img-CORN_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -0px;
	background-size: 300px 300px;
}

.symbol-img-CVC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -20px;
	background-size: 300px 300px;
}

.symbol-img-DASH {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -40px;
	background-size: 300px 300px;
}

.symbol-img-DATA {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -60px;
	background-size: 300px 300px;
}

.symbol-img-DCR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -80px;
	background-size: 300px 300px;
}

.symbol-img-DE10YB_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -100px;
	background-size: 300px 300px;
}

.symbol-img-DE30_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -120px;
	background-size: 300px 300px;
}

.symbol-img-DGB {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -120px;
	background-size: 300px 300px;
}

.symbol-img-DGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -120px;
	background-size: 300px 300px;
}

.symbol-img-DOGE {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -120px;
	background-size: 300px 300px;
}

.symbol-img-ZEN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -120px;
	background-size: 300px 300px;
}

.symbol-img-EOS {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -120px;
	background-size: 300px 300px;
}

.symbol-img-ETC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -120px;
	background-size: 300px 300px;
}

.symbol-img-ETH {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -0px;
	background-size: 300px 300px;
}

.symbol-img-ETHOS {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -20px;
	background-size: 300px 300px;
}

.symbol-img-ETP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -40px;
	background-size: 300px 300px;
}

.symbol-img-EU50_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -60px;
	background-size: 300px 300px;
}

.symbol-img-EUR_AUD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -80px;
	background-size: 300px 300px;
}

.symbol-img-EUR_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -100px;
	background-size: 300px 300px;
}

.symbol-img-EUR_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -120px;
	background-size: 300px 300px;
}

.symbol-img-EUR_CZK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -140px;
	background-size: 300px 300px;
}

.symbol-img-EUR_DKK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -140px;
	background-size: 300px 300px;
}

.symbol-img-EUR_GBP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -140px;
	background-size: 300px 300px;
}

.symbol-img-EUR_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -140px;
	background-size: 300px 300px;
}

.symbol-img-EUR_HUF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -140px;
	background-size: 300px 300px;
}

.symbol-img-EUR_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -140px;
	background-size: 300px 300px;
}

.symbol-img-EUR_NOK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -140px;
	background-size: 300px 300px;
}

.symbol-img-EUR_NZD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -140px;
	background-size: 300px 300px;
}

.symbol-img-EUR_PLN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -0px;
	background-size: 300px 300px;
}

.symbol-img-EUR_SEK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -20px;
	background-size: 300px 300px;
}

.symbol-img-EUR_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -40px;
	background-size: 300px 300px;
}

.symbol-img-EUR_TRY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -60px;
	background-size: 300px 300px;
}

.symbol-img-EUR_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -80px;
	background-size: 300px 300px;
}

.symbol-img-EUR_ZAR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -100px;
	background-size: 300px 300px;
}

.symbol-img-FAIR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -120px;
	background-size: 300px 300px;
}

.symbol-img-FCT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -140px;
	background-size: 300px 300px;
}

.symbol-img-FR40_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -160px;
	background-size: 300px 300px;
}

.symbol-img-FUN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -160px;
	background-size: 300px 300px;
}

.symbol-img-GAME {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -160px;
	background-size: 300px 300px;
}

.symbol-img-GAS {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -160px;
	background-size: 300px 300px;
}

.symbol-img-GBP_AUD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -160px;
	background-size: 300px 300px;
}

.symbol-img-GBP_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -160px;
	background-size: 300px 300px;
}

.symbol-img-GBP_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -160px;
	background-size: 300px 300px;
}

.symbol-img-GBP_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -160px;
	background-size: 300px 300px;
}

.symbol-img-GBP_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -160px;
	background-size: 300px 300px;
}

.symbol-img-GBP_NZD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -0px;
	background-size: 300px 300px;
}

.symbol-img-GBP_PLN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -20px;
	background-size: 300px 300px;
}

.symbol-img-GBP_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -40px;
	background-size: 300px 300px;
}

.symbol-img-GBP_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -60px;
	background-size: 300px 300px;
}

.symbol-img-GBP_ZAR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -80px;
	background-size: 300px 300px;
}

.symbol-img-GBYTE {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -100px;
	background-size: 300px 300px;
}

.symbol-img-GNO {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -120px;
	background-size: 300px 300px;
}

.symbol-img-GNT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -140px;
	background-size: 300px 300px;
}

.symbol-img-HK33_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -160px;
	background-size: 300px 300px;
}

.symbol-img-HKD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -180px;
	background-size: 300px 300px;
}

.symbol-img-HSR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -180px;
	background-size: 300px 300px;
}

.symbol-img-ICN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -180px;
	background-size: 300px 300px;
}

.symbol-img-IN50_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -180px;
	background-size: 300px 300px;
}

.symbol-img-IOC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -180px;
	background-size: 300px 300px;
}

.symbol-img-JP225_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -180px;
	background-size: 300px 300px;
}

.symbol-img-KMD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -180px;
	background-size: 300px 300px;
}

.symbol-img-KNC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -180px;
	background-size: 300px 300px;
}

.symbol-img-LKK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -180px;
	background-size: 300px 300px;
}

.symbol-img-LSK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -180px;
	background-size: 300px 300px;
}

.symbol-img-LTC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -0px;
	background-size: 300px 300px;
}

.symbol-img-MAID {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -20px;
	background-size: 300px 300px;
}

.symbol-img-MNX {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -40px;
	background-size: 300px 300px;
}

.symbol-img-MONA {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -60px;
	background-size: 300px 300px;
}

.symbol-img-MTL {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -80px;
	background-size: 300px 300px;
}

.symbol-img-NAS100_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -100px;
	background-size: 300px 300px;
}

.symbol-img-NATGAS_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -120px;
	background-size: 300px 300px;
}

.symbol-img-NAV {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -140px;
	background-size: 300px 300px;
}

.symbol-img-NEO {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -160px;
	background-size: 300px 300px;
}

.symbol-img-NL25_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -180px;
	background-size: 300px 300px;
}

.symbol-img-EMC2 {
    width: 20px;
    height: 19px;
    background: url("spritesheet.png") -200px -280px;
	background-size: 300px 300px;
}

.symbol-img-NXT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -200px;
	background-size: 300px 300px;
}

.symbol-img-NZD_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -200px;
	background-size: 300px 300px;
}

.symbol-img-NZD_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -200px;
	background-size: 300px 300px;
}

.symbol-img-NZD_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -200px;
	background-size: 300px 300px;
}

.symbol-img-NZD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -200px;
	background-size: 300px 300px;
}

.symbol-img-NZD_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -200px;
	background-size: 300px 300px;
}

.symbol-img-NZD_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -200px;
	background-size: 300px 300px;
}

.symbol-img-OMG {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -200px;
	background-size: 300px 300px;
}

.symbol-img-PART {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -200px;
	background-size: 300px 300px;
}

.symbol-img-PAY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -200px;
	background-size: 300px 300px;
}

.symbol-img-PIVX {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -0px;
	background-size: 300px 300px;
}

.symbol-img-POT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -20px;
	background-size: 300px 300px;
}

.symbol-img-POWR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -40px;
	background-size: 300px 300px;
}

.symbol-img-PPC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -60px;
	background-size: 300px 300px;
}

.symbol-img-PPT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -80px;
	background-size: 300px 300px;
}

.symbol-img-PURA {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -100px;
	background-size: 300px 300px;
}

.symbol-img-QSP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -120px;
	background-size: 300px 300px;
}

.symbol-img-QTUM {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -140px;
	background-size: 300px 300px;
}

.symbol-img-RDN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -160px;
	background-size: 300px 300px;
}

.symbol-img-REP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -180px;
	background-size: 300px 300px;
}

.symbol-img-SALT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -200px;
	background-size: 300px 300px;
}

.symbol-img-SAN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -220px;
	background-size: 300px 300px;
}

.symbol-img-SC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -220px;
	background-size: 300px 300px;
}

.symbol-img-SG30_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -220px;
	background-size: 300px 300px;
}

.symbol-img-SGD_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -220px;
	background-size: 300px 300px;
}

.symbol-img-SGD_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -220px;
	background-size: 300px 300px;
}

.symbol-img-SGD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -220px;
	background-size: 300px 300px;
}

.symbol-img-SNGLS {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -220px;
	background-size: 300px 300px;
}

.symbol-img-SNT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -220px;
	background-size: 300px 300px;
}

.symbol-img-SOYBN_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -220px;
	background-size: 300px 300px;
}

.symbol-img-SPX500_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -220px;
	background-size: 300px 300px;
}

.symbol-img-STEEM {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -220px;
	background-size: 300px 300px;
}

.symbol-img-STORJ {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -220px;
	background-size: 300px 300px;
}

.symbol-img-STRAT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -0px;
	background-size: 300px 300px;
}

.symbol-img-SUB {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -20px;
	background-size: 300px 300px;
}

.symbol-img-SUGAR_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -40px;
	background-size: 300px 300px;
}

.symbol-img-SYS {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -60px;
	background-size: 300px 300px;
}

.symbol-img-TRX {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -80px;
	background-size: 300px 300px;
}

.symbol-img-TRY_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -100px;
	background-size: 300px 300px;
}

.symbol-img-TWIX_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -120px;
	background-size: 300px 300px;
}

.symbol-img-UBQ {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -140px;
	background-size: 300px 300px;
}

.symbol-img-UK100_GBP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -160px;
	background-size: 300px 300px;
}

.symbol-img-UK10YB_GBP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -180px;
	background-size: 300px 300px;
}

.symbol-img-US2000_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -200px;
	background-size: 300px 300px;
}

.symbol-img-US30_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -220px;
	background-size: 300px 300px;
}

.symbol-img-USB02Y_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -240px;
	background-size: 300px 300px;
}

.symbol-img-USB05Y_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -240px;
	background-size: 300px 300px;
}

.symbol-img-USB10Y_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -240px;
	background-size: 300px 300px;
}

.symbol-img-USB30Y_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -240px;
	background-size: 300px 300px;
}

.symbol-img-USDT {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -240px;
	background-size: 300px 300px;
}

.symbol-img-USD_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -240px;
	background-size: 300px 300px;
}

.symbol-img-USD_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -240px;
	background-size: 300px 300px;
}

.symbol-img-USD_CNH {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -240px;
	background-size: 300px 300px;
}

.symbol-img-USD_CZK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -240px;
	background-size: 300px 300px;
}

.symbol-img-USD_DKK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -240px;
	background-size: 300px 300px;
}

.symbol-img-USD_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -240px;
	background-size: 300px 300px;
}

.symbol-img-USD_HUF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -240px;
	background-size: 300px 300px;
}

.symbol-img-USD_INR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -240px;
	background-size: 300px 300px;
}

.symbol-img-USD_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -0px;
	background-size: 300px 300px;
}

.symbol-img-USD_MXN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -20px;
	background-size: 300px 300px;
}

.symbol-img-USD_NOK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -40px;
	background-size: 300px 300px;
}

.symbol-img-USD_PLN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -60px;
	background-size: 300px 300px;
}

.symbol-img-USD_SAR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -80px;
	background-size: 300px 300px;
}

.symbol-img-USD_SEK {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -100px;
	background-size: 300px 300px;
}

.symbol-img-USD_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -120px;
	background-size: 300px 300px;
}

.symbol-img-USD_THB {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -140px;
	background-size: 300px 300px;
}

.symbol-img-USD_TRY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -160px;
	background-size: 300px 300px;
}

.symbol-img-USD_ZAR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -180px;
	background-size: 300px 300px;
}

.symbol-img-VEN {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -200px;
	background-size: 300px 300px;
}

.symbol-img-VERI {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -220px;
	background-size: 300px 300px;
}

.symbol-img-VTC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -240px;
	background-size: 300px 300px;
}

.symbol-img-WAVES {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -260px;
	background-size: 300px 300px;
}

.symbol-img-WHEAT_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -260px;
	background-size: 300px 300px;
}

.symbol-img-WTC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -260px;
	background-size: 300px 300px;
}

.symbol-img-WTICO_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAG_AUD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAG_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAG_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAG_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAG_GBP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAG_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAG_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -200px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAG_NZD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -220px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAG_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -240px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAG_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -260px -260px;
	background-size: 300px 300px;
}

.symbol-img-XAU_AUD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -0px;
	background-size: 300px 300px;
}

.symbol-img-XAU_CAD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -20px;
	background-size: 300px 300px;
}

.symbol-img-XAU_CHF {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -40px;
	background-size: 300px 300px;
}

.symbol-img-XAU_EUR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -60px;
	background-size: 300px 300px;
}

.symbol-img-XAU_GBP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -80px;
	background-size: 300px 300px;
}

.symbol-img-XAU_HKD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -100px;
	background-size: 300px 300px;
}

.symbol-img-XAU_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -120px;
	background-size: 300px 300px;
}

.symbol-img-XAU_NZD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -140px;
	background-size: 300px 300px;
}

.symbol-img-XAU_SGD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -160px;
	background-size: 300px 300px;
}

.symbol-img-XAU_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -180px;
	background-size: 300px 300px;
}

.symbol-img-XAU_XAG {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -200px;
	background-size: 300px 300px;
}

.symbol-img-XCU_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -220px;
	background-size: 300px 300px;
}

.symbol-img-XEM {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -240px;
	background-size: 300px 300px;
}

.symbol-img-XLM {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -280px -260px;
	background-size: 300px 300px;
}

.symbol-img-XMR {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -280px;
	background-size: 300px 300px;
}

.symbol-img-XPD_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -20px -280px;
	background-size: 300px 300px;
}

.symbol-img-XPT_USD {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -40px -280px;
	background-size: 300px 300px;
}

.symbol-img-XRP {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -60px -280px;
	background-size: 300px 300px;
}

.symbol-img-XUC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -80px -280px;
	background-size: 300px 300px;
}

.symbol-img-XVG {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -100px -280px;
	background-size: 300px 300px;
}

.symbol-img-XZC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -120px -280px;
	background-size: 300px 300px;
}

.symbol-img-ZAR_JPY {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -140px -280px;
	background-size: 300px 300px;
}

.symbol-img-ZEC {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -160px -280px;
	background-size: 300px 300px;
}

.symbol-img-ZRX {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -180px -280px;
	background-size: 300px 300px;
}

.symbol-img-ADA {
    width: 20px;
    height: 20px;
    background: url("spritesheet.png") -0px -200px;
	background-size: 300px 300px;
}

