@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/utilities/_display';

@import '../../style/variables/variables';
@import '../../style/helpers/normalize';

:host {
    height: 100%;
    width: 100%;
    background: $background-dark;
    display: flex;
    flex-flow: column;
}

.fa-close {
    color: $font-color-dark;
}

.header-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 100%;
    padding-left: 6px;
    background:black;

    > li {
        cursor: pointer;
    }

    button {
        padding: 0px 8px;
        font-size: 16px;
        cursor: pointer;

        i.fa {
            line-height: 24px;
            font-size: 18px;
            display: block;
        }

        &.dropdown-toggle {
            span {
                padding-right: 5px;
                line-height: 20px;
            }

            &:after {
                float: right;
                margin-top: 7px;
            }
        }
    }
}

.dropdown select {
    margin-right: 10px;
    min-width: 80px;
    max-width: 80px;
    background-color: #000000;
    color: white;
    height: 20px;
    line-height: 20px;
    margin-top: 2px;
    font-size: 13px;
}

.btn-menu {
    background: black;
    color: #fff;
    text-decoration: none;
    min-width: 30px;
    text-align: center;
    margin-right: 5px;
    border: none;
    border-radius: 0;
    line-height: 24px;

    &:hover,
    &.active {
        background: #878787 linear-gradient(180deg, #000, #6a6a6a);
    }

    &:focus {
        outline: none;
    }
}

.chart-title {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-right: auto;
}

.chart-content {
    position: relative;
    height: 100%;
}

.plot-label {
    font-size: 9px; 
    padding: 1px;
    
    background-color: #0059de;
    color: white;
    border-radius: 2px;
    text-align: center;
    position: relative;

    &:after {
        height:0;
        width:0;
        position:absolute;
        left: -11px;
        top: 0;
        border: 6px solid transparent;
        border-right-color: #0059de;
        padding: 0px;
        z-index: 101;
        content: '';
    }
  }