<div class="chart-header">
	<ng-container *ngIf="showBox && instrumentModel.options$ | async as options">
		<h5 class="chart-title">{{options.symbol}} - {{options.timeFrame}} - {{options.type}} #{{options.groupId}}</h5>

		<button (click)="!$event.stopPropagation() && toggleViewState(false)"
				type="button" class="dropdown-toggle text-dark button-minimize"
				aria-expanded="false">
			<i class="fa fa-window-minimize"></i>
		</button>
		<button *ngIf="(viewState$ | async) === 'windowed'"
				(click)="toggleViewState('stretched', true)"
				type="button" class="dropdown-toggle text-dark button-expand"
				aria-expanded="false">
			<i class="fa fa-expand"></i>
		</button>
		<button *ngIf="(viewState$ | async) === 'stretched'"
				(click)="toggleViewState('windowed', true)"
				type="button"
				class="dropdown-toggle text-dark button-compress"
				aria-expanded="false">
			<i class="fa fa-compress"></i>
		</button>
		<button (click)="instrumentsService.remove(model)" type="button" class="dropdown-toggle text-dark button-destroy"
				data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
			<i class="fa fa-close"></i>
		</button>
	</ng-container>
</div>
<div dialogAnchor></div>

<div style="height: 100%;">
	<div *ngIf="quickBuy && instrumentModel.options.type === 'live'" class="quickOrderContainer" style="display: none">
		<a (click)="placeOrder($event, constantsService.constants.ORDER_SIDE_BUY)" class="buyButton">
			<p>BUY</p>
			<input type="number" value="1" #buyAmount>
		</a>
		<a (click)="placeOrder($event, constantsService.constants.ORDER_SIDE_SELL)" class="sellButton">
			<p>SELL</p>
			<input type="number" value="1" #sellAmount>
		</a>
	</div>

	<div class="chart-content" #chart>
		<!-- <div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div> -->
	</div>
</div>
