<ul class="header-buttons">
	<li class="chart-title d-none d-xl-block">
		{{symbolModel?.options.name}}
	</li>

	<li class="d-none d-xl-block">
		<button (click)="setZoom(-1)" [ngClass]="{'active': symbolModel.options.zoom === 1}" type="button" class="text-dark button-zoom-out btn-menu"
		 aria-expanded="false">
			<i class="fa fa-search-minus">
			</i>
		</button>
	</li>

	<li class="d-none d-xl-block">
		<button (click)="setZoom(1)" [ngClass]="{'active': symbolModel.options.zoom === 10}" type="button" class="text-dark btn-menu button-zoom-in"
		 aria-expanded="false">
			<i class="fa fa-search-plus"></i>
		</button>
	</li>
	<li class="dropdown">
		<select (change)="toggleTimeFrame($event.target.value)">
			<option value="M1" [selected]="timeFrame === 'M1'">Minute</option>
			<option value="H1" [selected]="timeFrame === 'H1'">Hour</option>
			<option value="D" [selected]="timeFrame === 'D'">Day</option>
		</select>
	</li>
	<li class="dropdown">
		<select (change)="changeGraphType($event.target.value)">
			<option value="line" [selected]="graphType === 'line'">Line</option>
			<option value="ohlc" [selected]="graphType === 'ohlc'">OHLC</option>
			<option value="candlestick" [selected]="graphType === 'candlestick'">Candle</option>
		</select>
	</li>
	<li class="dropdown">
		<select>
			<option value="MA">MA</option>
			<option value="SMA">SMA</option>
			<option value="EMA">EMA</option>
			<option value="BollingerBands">BollingerBands</option>
		</select>
	</li>
</ul>

<div class="chart-content" #chart></div>